#werte {
  .btn-wert {
    text-align: left;
    width: 250px; 
  }
  
  .icon-download {
    font-size: 48px; 
  }
}

.bg-dark-lighter {
  .section-text {
    font-weight: 300;
    color: #fff;
  }
}