// Benefit Items
.benefit-item {
  cursor: pointer;
}

// Workshopraum table
.workshopraum {
  table {
    width: 100%;

    tr {
      td {
        padding-bottom: 10px;
        vertical-align: top;
        &:first-child {
          font-weight: 400;
          padding-right: 30px;
        }
      }
    }
  }
}


// Pricing Table
.pricing-item {
  .pricing-icon {
    img {
      width: 60px;
      height: 60px;
      display: inline-block;
      text-align: center;
    }
  }
  .pricing-features {
    .pr-list {
      text-transform: none;
      font-weight: 300;
      font-size: 14px;
    }
  }
}
