// Benefit Items
.benefit-item {
  cursor: pointer;
}


// Pricing Table
.pricing-item {
  .pricing-icon {
    img {
      width: 60px;
      height: 60px;
      display: inline-block;
      text-align: center;
    }
  }
  .pricing-features {
    .pr-list {
      text-transform: none;
      font-weight: 300;
      font-size: 14px;
    }
  }
}
