.finanzen {
  .monats-box {
    small {
      font-size: 14px;
    }

    .inner {
      border: 3px solid $primary-color;
      padding: 20px;

      @media only screen and (max-width: 767px) {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .title {
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 10px;
      text-align: center;
    }

    .wave-spacer {
      height: 4px;
      width: 100%;
      background-image: url(/images/icons/wave.svg);
      margin: 20px 0;
      clear: both;
    }

    .item {
      margin-top: 20px;
      width: 100%;
      text-align: left;



      p {
        margin: 5px 0;
        font-weight: 300;

        span {
          font-weight: 400;
          text-align: right;
          float: right;

          &.total {
            border-top: 1px solid #5f5f5f;
            border-bottom: 3px double #5f5f5f;
          }
        }
      }
    }
  }

  .erfolg {
    @media only screen and (min-width: 768px) {
      .left-sm {
        padding-right: 30px;
        float: left !important;
      }

      .right-sm {
        padding-left: 30px;
        float: right !important;
      }
    }

    .item {
      padding-bottom: 25px;
      max-width: 520px;

      .title {
        margin-top: 10px;
        img {
          height: 30px;
          float: right;
        }

        span {
          padding-right: 5px;
        }
      }

      table {
        width: 100%;
        margin-bottom: 10px;

        tr {
          > td,
          > th {
            vertical-align: top;
            font-size: 16px;

            &:first-child {
              padding-right: 30px;
            }

            &:last-child {
              text-align: right;
            }
          }

          > th {
            font-weight: 400;
          }

          > td {
            font-weight: 300;
            font-size: 14px;
          }
        }
      }
    }
  }

  .chart-legend li {
    list-style: none;

    span {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
}
