.font-alt {
  font-weight: 300;
}

b,
strong {
  font-weight: 400;
}

.bg-white {
  background-color: #fff;
}

.bg-primary {
  background-color: $primary-color;
}

h1 a,
h1 a:hover,
h1 a:focus,
h2 a,
h2 a:hover,
h2 a:focus,
h3 a,
h3 a:hover,
h3 a:focus {
  text-decoration: none;
}

.hs-line-6 {
  opacity: .65;
}

.draft-title {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  .inner {
    font-family: $font-family-sans-alt;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400 !important;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: red;
    border: 2px solid red;
    padding: 2px 4px;
    margin: 2px 4px 2px 10px;
  }

  small {
    text-transform: none;
    font-size: 14px;
    font-weight: 300 !important;
    letter-spacing: normal;
  }
}

.hyphenate {
  hyphens: auto;
  overflow-wrap: break-word;
}


// Image Cropping.
.image-crop {
  position: relative;

  // Use with an image background: style="background-image: url(...)".
  // Note: If used with an <img> tag it will only crop images height but not
  //       the images width.
  .image-crop-inner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
  }
}

.image-crop-5by3 {
  padding-top: 60%;
}

.image-crop-3by2 {
  padding-top: 66.666666667%;
}

.image-crop-4by3 {
  padding-top: 75%;
}

.image-crop-square {
  padding-top: 100%;
}

.image-crop-2by3 {
  padding-top: 150%;
}


// Tables.
table th {
  font-weight: 400;
}

table .clickable-row {
  cursor: pointer;

  a {
    text-decoration: none;
    color: #111;
  }
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th {
  border: none;
}


// Font Awesome Inline instead of inline-block to avoid line-break.
.fa-inline {
  display: inline;
}

// The yellow wave spacer.
.wave-spacer {
  height: 4px;
  width: 100%;
  background-image: url(/images/wave.svg);
  margin: 20px 0;
  clear: both;
}


// Navigation.
.logo img {
  height: 36px;
}

.inner-nav ul {
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .full-wrapper {
    margin: 0 15px;
  }
}

.mn-has-sub {
  cursor: pointer;
}


// Directly set navigation and header height here instead of in js (slow).
.desktop-nav > ul > li > a,
.mobile-nav {
  height: 75px;
  line-height: 75px;
}

.mobile-nav {
  width: 75px;
}

.first-section-mt {
  margin-top: 75px;
}

.main-nav.small-height {
  .logo,
  .mobile-nav {
    height: 55px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }
}


// Set home section height in CSS to prevent flickering.
.home-section > .container {
  height: 600px;
}



// Footer.
.newsletter-arrow {
  max-width: 160px !important;
}

.footer a.btn:hover {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .newsletter-arrow-container {
    height: 50px;
  }

  .newsletter-arrow {
    position: absolute;
    z-index: 100;
    left: 500px;
    right: 0px;
    top: 150px;
    margin: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .newsletter-arrow {
    top: 130px;
  }
}
