// Boxed Grid for Offers
//*, *:before, *:after {box-sizing:  border-box !important;}
.offers {
  .row {
    column-count: 2;
    column-gap: 60px;
    column-fill: auto;
    .box-item {
      display: inline-block;
      column-break-inside: avoid;
      padding: 15px;
      padding-bottom: 5px;
      width: 100%;
      
      
      
      table {
        width: 100%;
        tr>td {
          vertical-align: top;
          padding-bottom: 20px;
          font-size: 16px;
          &:first-child{
            width:75%;
          }
          &:last-child{
            width:25%; 
            text-align: right;
          }
          
          span {
            font-weight: 300;
            display: block;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .offers {
    .row {
      column-count:1;
    }
  }
}