/* Stream */


/* Stream Teaser Index */

.streamTeaser {
  padding: 12rem 2rem;
  position: relative;
  overflow: hidden;
  @include breakpoint(medium) {
    padding: 22rem 2rem;
  }
  @include breakpoint(xlarge) {
    padding: 30rem 2rem;
  }
}

.streamTeaser__imagecontainer  {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.streamTeaser__columns {
  position: relative;
  display: flex;
  flex-direction: column;
  // margin-top: -10vw;
  margin-bottom: -8vw;

  &:after {
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    background-color: $primary-color;
  }
}

/* Positioning Items */

.streamTeaser__columns:nth-child(1) {
  justify-content: flex-start;
  padding-top: 10vw;
}

.streamTeaser__columns:nth-child(2) {
  justify-content: flex-end;
  // padding-bottom: 3vw;
}

.streamTeaser__columns:nth-child(3) {
  display: none;
  @include breakpoint(medium) {
      display: flex;
      justify-content: flex-start;
      // padding-top: 1vw;

   }
}

.streamTeaser__columns:nth-child(4) {
  display: none;
  @include breakpoint(large) {
      display: flex;
      justify-content: flex-end;
      // padding-bottom: 14vw;
   }
}

.image-item {
  text-decoration: none;
  position: relative;
  z-index: 1;
  display: block;
  max-width: 40vw;
  // transition: all 500ms ease;
  @include breakpoint(medium) {
    max-width: 26vw;
  }
  @include breakpoint(large) {
    max-width: 22vw;
  }
  @include breakpoint(xlarge) {
    max-width: none;
  }
}

.image-item:hover {
  // transform: scale(1.5);
}

.image-item__src {
  margin-bottom: 1.5rem;
}


.streamTeaser__textcontainer {
  padding: 3rem 1rem;
  background-color: fade-out(white, 0.05);
  position: relative;
  text-align: center;
  z-index: 1;
  @include breakpoint(medium) {
    padding: 8rem 1rem;
   }
}


/* Page Section Modifier */
.page-section--small {
  @media (max-width: $medium) {
    padding-top: 0;
    overflow: visible;
  }
}

/* Load More Container */

.container--stream {
  text-align: center;
  @media (max-width: $medium) {
    padding-top: 3rem;
  }
}


/* Stream Container */

.stream-container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 50rem;
  @include breakpoint(medium) {
    padding: 0 5rem;
    max-width: 80rem;
  }
  @include breakpoint(large) {
    max-width: 120rem;
  }
  @include breakpoint(xxlarge) {
    padding: 0 5rem;
    max-width: 160rem;
  }
}


/* Stream Entry Row */

.streamEntry {
  display: flex;
  position: relative;
  padding: 2.5rem 0;
  @include breakpoint(medium) {
  }
}

.streamEntry:first-child {
  margin-top: -4rem;
}


.streamEntry:nth-child(even) {
  justify-content: center;
  @include breakpoint(medium) {
    justify-content: flex-end;
  }
}

.streamEntry + .streamEntry {
  @include breakpoint(medium) {
    margin-top: -5vw;
  }
}

/* Stream Entry Vertical Line */

.streamEntry::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: $primary-color;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  @include breakpoint(medium) {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -2;
  }
}

.streamEntry:first-child::after {
  @include breakpoint(medium) {
  top: 33%;
  bottom: auto;
  }
}

.streamEntry:last-child::after {
  @media (max-width: $medium) {
    display: none;
  }
}


/* Stream Entry Horizontal Line */

.datebox__month::after {
      position: absolute;
      height: 3px;
      right: 0;
      bottom: 0;
      background-color: $primary-color;
      content: "";
      width: 100%;
      @include breakpoint(medium) {
        width: 15vw;
      }
      @include breakpoint(large) {
        width: 40rem;
      }
}

@include breakpoint(medium) {
  .streamEntry:nth-child(even) {
    .datebox__month::after {
      left: 0;
      right: auto;
    }
  }
}

/* Stream Entry Column */

.streamEntry__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding-left: 0.5rem;
    padding-right: 1.4rem;
    @include breakpoint(medium) {
      width: 45%;
    }
}

/* Stream Entry Image */

.streamEntry__image {
  width: 100%;
  height: auto;
  border: 1px solid fade-out(black, 0.85);
  @include breakpoint(medium) {
    width: auto;
    height: auto;
    max-height: 38vw;
  }
  @include breakpoint(xlarge) {
    max-height: 35vw;
  }
  @include breakpoint(xxlarge) {
    max-height: 30vw;
  }
}

/* Stream Entry Textbox */

.streamEntry__textbox {
  align-self: flex-start;
  margin-left: 2rem;
  padding-right: 1rem;
  @include breakpoint(medium) {
    margin-left: 20%;
  }
}

.streamEntry__text {
  font-size: 1.6rem;
  margin: 1.2rem 0 0.2rem;
  @include breakpoint(medium) {
    font-size: 2rem;
  }
  @include breakpoint(large) {
    margin-top: 2.5rem;
    font-size: 2.3rem;
  }
  @include breakpoint(xlarge) {
    margin-top: 3rem;
    font-size: 2.6rem;
  }
}

.streamEntry__authoring {
  font-size: 1.3rem;
  @include breakpoint(large) {
    font-size: 1.6rem;
  }
  @include breakpoint(xlarge) {
    font-size: 1.6rem;
  }
}

.streamEntry__authoring--left {
  padding-left: 1.5rem;
}


.streamEntry__name {
  font-weight: 400;
  margin: 0;
}

.streamEntry__time {
  margin: 0;
  text-decoration: none;
  &::before {
    content: "—";
  }
}


/* Datebox */

.datebox {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid $primary-color;
  line-height: 1;
  top: 0;
  right: 0;
  padding: 0.5rem 0 0.2rem;
  z-index: 1;
  @include breakpoint(medium) {
    top: 33%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &__day {
    padding: 0.2rem 0;
    font-size: 1.5rem;
  }
  &__month {
    padding: 0 0.3rem 0.6rem;
    text-transform: uppercase;
    font-size: 1.0rem ;
    position: relative;
  }
  &__year {
    padding: 0.5rem 0 0;
    font-size: 1.5rem;
  }
}
