{{ define "main" }}
<div class="page cafephilou" id="top">

  <nav class="main-nav transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <div style="display: flex;">
    <img src="/upload/café-philou.png" alt="Café Philo(u)" style="margin-bottom: 100px;">
    <img src="/upload/café-philou-right.png" alt="" style="align-self: flex-end; margin-left: auto;">
  </div>

  <section class="page-section pt-30 pb-40 bg-gray-lighter">
    <div class="container relative">
      <h3>Durchführungen</h3>

      <table>
        <tr>
          <th style="vertical-align: top; padding: 0 1em 0.5em 0"><a href="/events/2024/100498/">27.&nbsp;Nov 2024</a></th>
          <td style="vertical-align: top; padding: 0 0 0.5em">Toxic Masculinity - the Concept, the Costs, the Cure</td>
        </tr>
        <tr>
          <th style="vertical-align: top; padding: 0 1em 0.5em 0"><a href="/events/2024/100493/">13.&nbsp;Sept 2024</a></th>
          <td style="vertical-align: top; padding: 0 0 0.5em">Café Philo(u) à la carte: Freie Themenwahl</td>
        </tr>
        <tr>
          <th style="vertical-align: top; padding: 0 1em 0.5em 0"><a href="/events/2024/100491/">31.&nbsp;Mai 2024</a></th>
          <td style="vertical-align: top; padding: 0 0 0.5em">Kinderlosigkeit, Kinderwunschlosigkeit, Kinderwunschdenken</td>
        </tr>
        <tr>
          <th style="vertical-align: top; padding: 0 1em 0.5em 0"><a href="/events/2024/100490/">8.&nbsp;März 2024</a></th>
          <td style="vertical-align: top; padding: 0 0 0.5em">Fantasie und Weltbezug: Wieso wir mit literarischen Figuren mitleiden und was wir aus künstlich erschaffenen Welten mitnehmen</td>
        </tr>
        <tr>
          <th style="vertical-align: top; padding: 0 1em 0.5em 0"><a href="/events/2023/100468/">8.&nbsp;Sept 2023</a></th>
          <td style="vertical-align: top; padding: 0 0 0.5em">BILDUNGSKRISE? AUA! (Anzeichen, Ursachen, Auswege)</td>
        </tr>
      </table>
    </div>
  </section>

  <section class="page-section pt-30 pb-0">
    <div class="container relative">
      <div class="section-text">
        {{ .Content }}
      </div>
    </div>
  </section>

  <div style="text-align: right;">
    <img src="/upload/café-philou-bottom.png" alt="" style="margin: 3vw;">
  </div>
</div>
{{ end }}
