{{ define "main" }}
<div class="page cafephilou" id="top">

  <nav class="main-nav transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <div style="display: flex;">
    <img src="/upload/café-philou.png" alt="Café Philo(u)" style="margin-bottom: 100px;">
    <img src="/upload/café-philou-right.png" alt="" style="align-self: flex-end; margin-left: auto;">
  </div>

  <section class="page-section pt-30 pb-40 bg-gray-lighter">
    <div class="container relative">
      <div class="section-text">
        <h3>Durchführungen:</h3>
      </div>
      <style>
        table.cafephilou-events {
          width: 100%;
        }
        table.cafephilou-events tr:hover {
          background: white;
          cursor: pointer;
        }
        table.cafephilou-events tr:hover a {
          color: #888;
        }
        table.cafephilou-events th,
        table.cafephilou-events td {
          padding: 0;
          vertical-align: top;
        }
        table.cafephilou-events th a {
          text-align: right;
        }
        table.cafephilou-events th a,
        table.cafephilou-events td a {
          display: block;
          padding: 0.25em 0.5em;
          text-decoration: none;
        }
      </style>
      <table class="cafephilou-events">
        <colgroup>
          <col style="width: 130px;" />
        </colgroup>
        {{ $eventPages := where .Site.Pages "Section" "events" }}
        {{ $eventPages = where $eventPages "Params.categories" "intersect" (slice "CafePhilou") }}
        {{ $eventPages = sort $eventPages "Params.startdate" "desc" }}
        {{ range $eventPages }}
          {{- partial "events/calc_dates.html" . -}}
          <tr>
            <th><a href="{{ .RelPermalink }}">{{ .Scratch.Get "start_day" }}.&nbsp;{{ .Scratch.Get "start_shortmonth" }} {{ .Scratch.Get "start_year" }}</a></th>
            <td><a href="{{ .RelPermalink }}">{{ strings.TrimPrefix ":" (strings.TrimPrefix "Café Philo(u)" .Title) }}</a></td>
          </tr>
        {{ end }}
      </table>
    </div>
  </section>

  <section class="page-section pt-30 pb-0">
    <div class="container relative">
      <div class="section-text">
        {{ .Content }}
      </div>
    </div>
  </section>

  <div style="text-align: right;">
    <img src="/upload/café-philou-bottom.png" alt="" style="margin: 3vw;">
  </div>
</div>
{{ end }}
