<!DOCTYPE html>
<html lang="de">
{{ $month_year := (print (partial "format/month_de.html" .Date.Month | chomp ) " " .Date.Year)}}
{{ $.Scratch.Set "section_title" (print "Finanzen " $month_year) }}
{{ partial "head.html" . }}

<body>

  <!-- Page Wrap -->
  <div class="page finanzen" id="top">

    <nav class="main-nav dark transparent stick-fixed">
      {{ partial "navigation.html" . }}
    </nav>

    <!-- Header -->
    <section class="small-section bg-dark-lighter">
      <div class="relative container align-left pt-80">

        <div class="row">

          <div class="col-md-8">
            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Finanzen</h1>
            <div class="hs-line-4 font-alt">
            {{ .Title }}
            </div>
          </div>

          <div class="col-md-4 mt-30">
            <div class="mod-breadcrumbs font-alt align-right">
              <a href="/finanzen/"><i class="fa fa-angle-left"></i> Zur Übersicht</a>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Header -->

    <!-- Section -->
    <section class="page-section">
      <div class="container relative">
        <div class="long-text-body">
          <h1 class="hs-line-11 font-alt mt-0 align-center">{{ $month_year }}</h1>

          <!-- Prev/Next Post -->
          <div class="clearfix mb-40 mb-xs-40">
            {{ if .PrevInSection }}
            <a href="{{ .PrevInSection.RelPermalink }}" class="blog-item-more left"><i class="fa fa-angle-left"></i>&nbsp;{{ partial "format/month_de.html" .PrevInSection.Date.Month }}</a> {{ end }} {{ if .NextInSection }}
            <a href="{{ .NextInSection.RelPermalink }}" class="blog-item-more right"><i class="fa fa-angle-right"></i>{{ partial "format/month_de.html" .NextInSection.Date.Month }}</a> {{ end }}
          </div>
          <!-- End Prev/Next Post -->

          <div class="row">
            <div class="col-md-offset-2 col-md-4 col-sm-6 monats-box mb-20">
              <div class="inner">
                <h4 class="title">Kennzahlen</h4>
                <div class="wave-spacer"></div>
                <div class="item">
                  <p>
                  {{ partial "finanzen/kennzahlen.html" . }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 monats-box mb-20">
              <div class="inner">
                <h4 class="title">Kommentar</h4>
                <div class="wave-spacer"></div>
                {{ .Params.kommentar }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="page-section bg-gray">
      <div class="container relative">
          <div class="row erfolg">
            <div class="col-sm-6 item left-sm">
              <h3 class="font-alt title">Ertrag</h3>
              {{ range .Params.ertrag }}
              <table>
                <tbody>
                  <tr>
                    <th>{{ .name }}</th>
                    <th>
                      +{{ partial "format/thousands" .betrag }}
                    </th>
                  </tr>
                  {{ with .info }}
                  <tr>
                    <td>{{ . }}</td>
                    <td></td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
              {{ end }}
            </div>
            <div class="col-sm-6 item right-sm">
              <h3 class="font-alt title">Aufwand</h3>
              {{ range .Params.aufwand }}
              <table>
                <tbody>
                  <tr>
                    <th>{{ .name }}</th>
                    <th>
                      -{{ partial "format/thousands" .betrag }}
                    </th>
                  </tr>
                  {{ with .info }}
                  <tr>
                    <td>{{ . }}</td>
                    <td></td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Section -->

    {{ partial "footer.html" . }}

  </div>
  <!-- End Page Wrap -->

  {{ partial "body_includes.html" . }}

</body>
</html>
