// Fonts.
@import "et-line";
@import "font-awesome";
@import "yeni-zaman";

//
// Variables.
//

// Colors...
$primary-color: #fae300; // Effinger Gelb
$color-blue: #43a5de;

// Font defaults.
$font-family-sans: YeniZaman, arial, sans-serif;
$font-family-sans-alt: YeniZaman, arial, sans-serif;
$font-family-serif: "Times New Roman", Times, serif;

// Styles from the Rhythm template.
@import "rhythm/style";
@import "rhythm/style-responsive";
@import "rhythm/vertical-rhythm";


//
// Custom styles.
//
@import "custom/blog";
@import "custom/community";
@import "custom/coworking";
@import "custom/events";
@import "custom/finanzen";
@import "custom/grundsaetze";
@import "custom/home";
@import "custom/kaffeebar";
@import "custom/kontakt";
@import "custom/organisation";

.font-alt {
  font-weight: 300;
}

b,
strong {
  font-weight: 400;
}

.bg-white {
  background-color: #fff;
}

.bg-primary {
  background-color: $primary-color;
}


// Tables.
table th {
  font-weight: 400;
}

table .clickable-row {
  cursor: pointer;

  a {
    text-decoration: none;
    color: #111;
  }
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th {
  border: none;
}


// Font Awesome Inline instead of inline-block to avoid line-break.
.fa-inline {
  display: inline;
}

// Navigation.
.logo img {
  height: 36px;
}

.inner-nav ul {
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .full-wrapper {
    margin: 0 15px;
  }
}

.mn-has-sub {
  cursor: pointer;
}


// Directly set navigation and header height here instead of in js (slow).
.desktop-nav > ul > li > a,
.mobile-nav {
  height: 75px;
  line-height: 75px;
}

.mobile-nav {
  width: 75px;
}

.first-section-mt {
  margin-top: 75px;
}

.main-nav.small-height {
  .logo,
  .mobile-nav {
    height: 55px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }
}


// Set home section height in CSS to prevent flickering.
.home-section > .container {
  height: 600px;
}



// Footer.
.newsletter-arrow {
  max-width: 160px !important;
}

@media only screen and (min-width: 768px) {
  .newsletter-arrow-container {
    height: 50px;
  }

  .newsletter-arrow {
    position: absolute;
    z-index: 100;
    left: 500px;
    right: 0px;
    top: 150px;
    margin: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .newsletter-arrow {
    top: 130px;
  }
}
