// Fonts.
@import "et-line";
@import "font-awesome";
@import "yeni-zaman";

//
// Variables.
//

// Colors...
$primary-color: #fae300; // Effinger Gelb

// Font defaults.
$font-family-sans: YeniZaman, arial, sans-serif;
$font-family-sans-alt: YeniZaman, arial, sans-serif;
$font-family-serif: "Times New Roman", Times, serif;

// Styles from the Rhythm template.
@import "rhythm/style";
@import "rhythm/style-responsive";
@import "rhythm/vertical-rhythm";


//
// Custom styles.
//
@import "custom/home";
@import "custom/kaffeebar";
@import "custom/coworking";
@import "custom/community";
@import "custom/blog";
@import "custom/events";
@import "custom/kontakt";

.font-alt {
  font-weight: 300; 
}

.logo img {
  height: 36px; 
}
