{{ define "head_includes" }}
<!-- Needed so that prerendering is used by web crawlers. -->
<meta name="fragment" content="!">
{{ end }}

{{ define "main" }}
<!-- Page Wrap -->
<div class="page" id="top">

  <nav class="main-nav transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-gray-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Stream</h1>
          <!--
          <div class="hs-line-4 font-alt black mt-20 mt-xs-0">
            get in touch
          </div>
          -->
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <section class="page-section page-section--small">
    <div class="stream-container" id="stream-container">
      <!-- streamEntry -->
      <!--<div class="streamEntry">
        <div class="streamEntry__column">
          <img class="streamEntry__image" src="http://via.placeholder.com/1000x800">
          <div class="streamEntry__textbox">
            <h3 class="streamEntry__text">Das ist ein Test</h3>
            <div class="streamEntry__authoring">
              <span class="streamEntry__name">Hans Wurst</span>
              <span class="streamEntry__time">12.55 Uhr</span>
            </div>
          </div>
          <div class="datebox">
            <span class="datebox__day">03</span>
            <span class="datebox__month">Nov</span>
            <span class="datebox__year">17</span>
          </div>
        </div>
      </div>-->
      <!-- End streamEntry -->
    </div>
    <div class="container container--stream">
      <button id="button-load-more" class="btn btn-medium btn-mod btn-border">Mehr laden</button>
  </div>
  </section>
</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
<!-- Fetch streams -->
<script src="/js/moment-with-locales.min.js"></script>
<script type="text/javascript">

  function loadPosts(fromRow, toRow) {

    var Index = {
      DATE: 0,
      AUTHOR: 1,
      COMMENT: 2,
      IMAGE_URL: 3,
      IMAGE_WIDTH: 4,
      IMAGE_HEIGHT: 5,
    };

    $.get("https://sheets.googleapis.com/v4/spreadsheets/1zdudRkT_1emT-ngS0aKWOZ15QN440OT7ULA_1hedeLM/values/Sheet1!" + fromRow + ":" + toRow + "?key=AIzaSyAcKsXpUFgllXtNsRJaOBz-0kBR2PkqC04", function( data ) {
      $.each(data.values, function(i, item) {

        var maxImageSize = 1000;
        var imageUrl = item[Index.IMAGE_URL].replace("upload/", "upload/w_" + maxImageSize + ",h_" + maxImageSize + ",c_limit/");
        var originalImageWidth = item[Index.IMAGE_WIDTH];
        var originalImageHeight = item[Index.IMAGE_HEIGHT];

        // Calculate the actual image dimensions.
        var ratio = Math.min(maxImageSize / originalImageWidth, maxImageSize / originalImageHeight);
        var imageWidth = originalImageWidth * ratio;
        var imageHeight = originalImageHeight * ratio;

        var itemComment = item[Index.COMMENT];
        var itemAuthor = item[Index.AUTHOR];
        var itemDate = item[Index.DATE];


        $('#stream-container').append('\
        <div class="streamEntry">\
          <div class="streamEntry__column">\
            <img class="streamEntry__image" src="' +
            imageUrl + '">\
            <div class="streamEntry__textbox">\
              <h3 class="streamEntry__text">\
                ' + itemComment + '\
              </h3>\
              <div class="streamEntry__authoring">\
                <span class="streamEntry__name">\
                  @' + itemAuthor + '\
                </span>\
                <span class="streamEntry__time">\
                  ' + moment(itemDate).format("HH.mm") + ' Uhr\
                </span>\
                <span class="streamEntry__time">\
                  <a href="#' + i + '" onclick="location.reload()">F</a>\
                </span>\
              </div>\
            </div>\
            <div class="datebox">\
              <span class="datebox__day">\
                ' + moment(itemDate).format("DD") + '\
              </span>\
              <span class="datebox__month">\
                ' + moment(itemDate).format("MMM").slice(0, -1) + '\
              </span>\
              <span class="datebox__year">\
                ' + moment(itemDate).format("YY") + '\
              </span>\
            </div>\
          </div>\
        </div>');

        if (fromRow == toRow) {
          // We have only one element.

          // Set open graph meta data.
          // Note: This will only work if the server does prerendering.
          $('meta[property=og\\:image]').attr('content', imageUrl);
          $('meta[property=og\\:url]').attr('content', window.location);
          $('meta[property=og\\:description]').attr('content', itemComment);
          $('meta[name=description]').attr('content', itemComment);
          $('meta[property=og\\:image\\:width]').attr('content', imageWidth);
          $('meta[property=og\\:image\\:height]').attr('content', imageHeight);
        }
      });
    });
  }

  $(document).ready(function() {

    var totalRows = 0;
    var currentFromRow = 0;
    var currentToRow = 0;


    // var hash = window.location.hash.substring(1);
    // if (hash && !isNaN(hash)) {

    // Get the image id from url if available.
    var pathArray = window.location.pathname.split( '/' );
    console.log('pathArray: ' + pathArray);
    if (pathArray.length > 2 && pathArray[2]) {
      var imageId = pathArray[2];

      // We have a row specified in the location hash.
      currentFromRow = imageId;
      currentToRow = imageId;

      loadPosts(currentFromRow, currentToRow);

    } else {
      $.get("https://sheets.googleapis.com/v4/spreadsheets/1zdudRkT_1emT-ngS0aKWOZ15QN440OT7ULA_1hedeLM/values/Sheet1!L1?key=AIzaSyAcKsXpUFgllXtNsRJaOBz-0kBR2PkqC04", function( data ) {
        totalRows = data.values[0][0];
        currentFromRow = totalRows;
        currentToRow = currentFromRow - 3;

        loadPosts(currentFromRow, currentToRow);
      });
    }



    $("#button-load-more").click(function() {
      currentFromRow -= 3;
      currentToRow = currentFromRow - 3;

      loadPosts(currentFromRow, currentToRow);
    });

    moment.locale("de");


  });
</script>
{{ end }}
