@import "variables";

body {
  color: #111;
  background-color: $primary-color;
  font-size: 16px;
  font-family: $font-family-sans;
  font-feature-settings: "tnum";
  font-weight: 300;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

.title {
  margin-top: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.content {
  margin-top: 60px;
  font-size: 26px;
}

.room-table {
  tr {
    background-color: #fff;
  }
  
  tr.event-ended {
    background-color: rgba(255, 255, 255, 0.5);
    color: #999;
  }
  
  tr > td {
    border-top: 3px solid $primary-color !important;
  }

  .room-time {
    white-space: nowrap;
  }
  .room-title {
    font-weight: 400;
  }
  .room-floor {
    font-weight: 400;
  }
}

// Loader
.lds-grid {
  float: right;
  position: relative;
  margin-top: 30px;
  width: 64px;
  height: 64px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
