@import "variables";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: $font-family-sans;
  font-feature-settings: "tnum";
  font-weight: 300;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  color: #111;
  background-color: #000;
}

.container-outer {
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
}

.container {
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  padding: 15px;
  position: absolute;
  overflow: hidden;

  .theme-black & {
    color: #fff;
    background-color: #000;
  }
}

.title {
  margin-top: 0px;
  padding-top: 25px;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 36px;

  .size-large & {
    font-size: 44px;
  }
}

.content {
  margin-top: 40px;
  font-size: 28px;

  .size-large & {
    font-size: 38px;
  }
}

.room-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  
  tr {
    background-color: #fff;

    .theme-black & {
      background-color: inherit;
    }
  }

  tr.event-ended {
    opacity: 0.5;
  }

  tr.brownbag {
    height: 8rem;
    .event-subtitle {
      color: #F35657;
      font-size: 1rem;
    }
  }

  tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;

    border-width: 3px;
    border-top-style: solid;
    border-color: $primary-color;

    .theme-black & {
      border-width: 1px;
      border-bottom-style: solid;
    }
  }

  .event-time {
    white-space: nowrap;
  }
  .event-title {
    font-weight: 400;
  }
  .event-subtitle {
    font-size: 90%;
  }
  .room-floor {
    font-weight: 400;
  }
  .room-name {
    font-size: 90%;
    white-space: nowrap;
  }
}

.logo-container {
  float: right;
  position: relative;

  .logo {
    width: 150px;
    height: 110px;

    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/images/logo-effinger-weiss-schwarz.svg');

    .theme-black & {
      background-image: url('/images/logo-effinger-gelb-weiss.svg');
    }
  }

  &.loading {
    .logo {
      opacity: 0.8;
    }

    .loader {
      display: block;
      opacity: 0.8;
    }
  }
}

// Loader
.loader {
  position: absolute;
  display: none;
  right: 40px;
  top: 18px;
  width: 64px;
  height: 64px;
}
.loader div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation: loader 1.2s linear infinite;
}
.loader div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.loader div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.loader div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.loader div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.loader div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.loader div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.loader div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.loader div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.loader div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes loader {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

