<section class="page-section bg-gray" id="kontakt">
  <div class="relative container">
    <div class="row">
      <div class="">
        <div class="contact-item mb-50">
          <h4 class="uppercase">Kontakt Raumvermietung</h4>
          <div class="wave-spacer"></div>
          <div class="item">
            <p>E-Mail <span><a href="mailto:raumvermietung@effinger.ch">raumvermietung@effinger.ch</a></span></p>
            <p>
              <a href="mailto:raumvermietung@effinger.ch" class="btn btn-mod btn-large btn-round mt-4 text-white" style="width: 100%;">Schreib uns! <i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
