<section class="page-section bg-gray" id="kontakt">
  <div class="relative container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-md-5 offset-md-0">
        <div class="contact-item mb-50">
          <h4 class="uppercase">Kontakt Raumvermietung</h4>
          <div class="wave-spacer"></div>
          <div class="item">
            <!-- <p>Telefon<span><a href="tel:+41762397300">076 239 73 00</a></span></p> -->
            <p>E-Mail <span><a href="mailto:raumvermietung@effinger.ch">raumvermietung@effinger.ch</a></span></p>
          </div>
        </div>
      </div>
      <div class="col-sm-8 offset-sm-2 col-md-5 offset-md-1 order-md-first col-lg-4 offset-lg-2 col-xl-3 offset-xl-3">
        <div class="team-item mb-50">
          <div class="team-item-image">
            <img src="/images/effianer/markus-roos.jpg" alt="" />
          </div>
          <div class="team-item-descr font-alt">
            <div class="team-item-name">
              Markus Roos
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
