{{ define "main" }}
<div class="page services" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section id="start" class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="services_header.jpg">
    <div class="container js-height-parent">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="font-alt mb-50 mb-xs-30">
            Effinger Services
          </h1>

          <div class="mt-10 mt-xs-0 mb-80 mb-xs-30">
            Der Effinger bietet neu sein kreatives und unternehmerisches Know-how und Erfahrung mit
            interdisziplinären Teams als Service an.
            <br class="hidden-xs" />
            Wir leben das Querdenken, Quersehen, Querhandeln mit der Entwicklung von neuen Methoden und
            Dienstleistungen, die der perfekte Motor für deine Kollaboration und Innovation werden können.
          </div>

          <div class="font-alt mt-10 mt-xs-0">
            <a href="mailto:services@effinger.ch?subject=Ich bin interessiert!" class="btn btn-mod btn-border-w btn-medium btn-round">Unverbindlich kontaktieren</a>
          </div>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Header -->

  <!-- Fähigkeiten -->
  <section id="skills" class="small-section-header bg-gray-lighter">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Fähigkeiten</h2>
            <p class="mb-60">
              Der Effinger ist ein Universum aus unterschiedlichen Disziplinen – von Achtsamkeit
              über agile Organisations&shy;entwicklung bis hin zu zukünftigen Arbeitsformen.
              Greife auf unsere Fähigkeiten zu – für dein Projekt, deinen Event oder dein Unternehmen.
              Wir unterstützen dich gerne!
            </p>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="skill">
          <h3 class="text-center">Organisations&shy;entwicklung: Change und Innovation</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Wir bieten interdisziplinäre Heran&shy;gehensweisen zur Lösung für deine organisatorischen, unternehmerischen
            oder gesellschaftlichen Herausforderun&shy;gen. Dabei kombinieren wir ungewohnten Methoden, setzen auf agile
            und schlanke Ansätze (lean) und führen laterales Denken in praktisches Handeln über.
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/marco-jakob.jpg'); "></div>
              <div class="name">Marco Jakob</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/daniel-osterwalder.jpg');"></div>
              <div class="name">Daniel Osterwalder</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/matthias-tobler.jpg');"></div>
              <div class="name">Matthias Tobler</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/fabienne-stoll.jpg');"></div>
              <div class="name">Fabienne Stoll</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/andrea-burkhalter.jpg');"></div>
              <div class="name">Andrea Burkhalter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/urs-voegeli.jpg');"></div>
              <div class="name">Urs Vögeli</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/manuel-buerli.jpg');"></div>
              <div class="name">Manuel Bürli</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="mailto:services@effinger.ch?subject=Bereich Organisationsentwicklung: Change und Innovation" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Design, Kunst und Handwerk: Embodiment</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Im Zeichen unserer Vielfalt und unserer ganzheitlichen Kultur verbinden wir künstlerische Methoden,
            Handwerk, Gesundheit und Beratung. Dabei stehen Haptik, Achtsamkeit, Bewegung, Raum und Ästhetik im Zentrum.
            Dies hilft, non-lineares und innovatives Denken und Handeln zu fördern.
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/timon-marmet.jpg');"></div>
              <div class="name">Timon Marmet</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/sunita-asnani.jpg');"></div>
              <div class="name">Sunita Asnani</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/graziella-baertsch.jpg');"></div>
              <div class="name">Graziella Bärtsch</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/faustina-kromah.jpg');"></div>
              <div class="name">Faustina Kromah</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/chris-lechner.jpg');"></div>
              <div class="name">Chris Lechner</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="mailto:services@effinger.ch?subject=Bereich Design,Kunst und Handwerk: Embodiment" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">LebensRaum: Partizipation und Community-Building</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Menschen wollen beitragen, mittragen, mitgestalten. Sie wollen den Raum, in dem sie leben, arbeiten,
            sich bewegen und wohnen mit anderen zusammen entwickeln und prägen. Diese partizi&shy;pative, relationale
            und Community-basierte Perspektive ist eine Kernkompetenz des Effingers.
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/daniel-osterwalder.jpg');"></div>
              <div class="name">Daniel Osterwalder</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/matthias-tobler.jpg');"></div>
              <div class="name">Matthias Tobler</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/andrea-burkhalter.jpg');"></div>
              <div class="name">Andrea Burkhalter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/urs-voegeli.jpg');"></div>
              <div class="name">Urs Vögeli</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="mailto:services@effinger.ch?subject=Bereich LebensRaum: Partizipation und Community-Building" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Agiles Back-Office</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Ein weiteres Element unserer Ganzheit&shy;lichkeit und unseres unternehmerischen Engagements zeigt sich darin,
            dass wir unsere Services auch mit ganz prak&shy;tischen Back-Office-Dienstleistungen (Buchhaltung, Finanz- und
            Steuerbera&shy;tung) verbinden. Dabei stehen schlanke und agile Prozesse im Vordergrund, die eine innovative
            und erfolgreiche Unternehmens- und Organisations&shy;entwicklung überhaupt möglich machen.
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/benji-ammann.jpg');"></div>
              <div class="name">Benjamin Ammann</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/tom-bucher.jpg');"></div>
              <div class="name">Thomas Bucher</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="mailto:services@effinger.ch?subject=Bereich Agiles Back-Office" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Schule der Zukunft und digitale Transformation</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Digitalisierung und rasche Transforma&shy;tion der Gesellschaft und Wirtschaft fordern auch unsere Bildungs-
            und Forschungslandschaft heraus. Hier braucht es neue Lösungen, kreative und unternehmerische Ansätze,
            sowie ein neues Verständnis von Lernen und Wissen. Wir bieten Bildungsberatung, neue Lernformate und
            neue Formate im Bereich Wissenschaftstransfer an.
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/marco-jakob.jpg');"></div>
              <div class="name">Marco Jakob</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/markus-roos.jpg');"></div>
              <div class="name">Markus Roos</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/urs-voegeli.jpg');"></div>
              <div class="name">Urs Vögeli</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="mailto:services@effinger.ch?subject=Bereich Schule der Zukunft und digitale Transformation" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Kommunikation und Media Design</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Effinger Services bietet eine breite Palette und insbesondere integrierte und kombinierte
            Kommunikationsformate an: Von Texting, Filmproduktion, Fotografie, Visualisierungen über
            Webauftritt, Social Media bis zu interaktiven Formaten. Dabei stehen die kreative Vernetzung,
            sowie Storytelling- Branding- und UX-Strategien im Zentrum.
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/manuela-ryter.jpg');"></div>
              <div class="name">Manuela Ryter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/corinne-roth-vock.jpg');"></div>
              <div class="name">Corinne Roth Vock</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/jonathan-hess.jpg');"></div>
              <div class="name">Jonathan Hess</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/sarah-hinni.jpg');"></div>
              <div class="name">Sarah Hinni</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/manuel-buerli.jpg');"></div>
              <div class="name">Manuel Bürli</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/raffael-krebs.jpg');"></div>
              <div class="name">Raffael Krebs</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/marco-jakob.jpg');"></div>
              <div class="name">Marco Jakob</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/michael-aerni.jpg');"></div>
              <div class="name">Michael Aerni</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/david-eggimann.jpg');"></div>
              <div class="name">David Eggimann</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/graziella-baertsch.jpg');"></div>
              <div class="name">Graziella Bärtsch</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/fabienne-stoll.jpg');"></div>
              <div class="name">Fabienne Stoll</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/anicia-kohler.jpg');"></div>
              <div class="name">Anicia Kohler</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="mailto:services@effinger.ch?subject=Bereich Strategische Kommunikation und interaktive Formate" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Fähigkeiten -->

  <!-- Kostproben -->
  <section id="trials" class="small-section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Kostproben</h2>
            <p class="mb-60">
              Kleine Kostprobe gefällig?
              In einer stündigen Session kannst du in den Genuss von unseren Fähigkeiten kommen.
              Ideal als Bereicherung für einen Workshop, einen Event oder eine Retraite.
            </p>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="trial">
          <h2>Quer – Sehen</h2>
          <p class="intro">
            Möchtest du innovative Lösungswege für betriebliche Probleme und Herausforderungen finden? Anstatt uns in das Problem zu verbeissen, lustwandeln wir mit dir und deinem Team in den ungeahnten Möglichkeiten und Perspektiven, die zum Vorschein kommen.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/sunita-asnani.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Sunita Asnani<br />
              <a href="https://art-meets-you.com" target="_blank">art-meets-you.com</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Quer – Sehen&quot; mit Sunita Asnani" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Branding-Therapie</h2>
          <p class="intro">
            In einer Stunde nehmen wir deinen Brand unter die Lupe. Wie können wir brachliegendes Potenzial wecken und wie kannst du nächste Schritte in Angriff nehmen.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/manuel-buerli.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Herr Bürli<br />
              <a href="https://herrbuerli.ch" target="_blank">herrbuerli.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Branding-Therapie&quot; mit Herr Bürli" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Chinas Geheimnisse</h2>
          <p class="intro">
            Und was wir dabei für unser strategisches und unternehmerisches Denken und Handeln lernen können. Ein Vortrag.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/urs-voegeli.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Urs Vögeli<br />
              <a href="https://www.globalaffairs.ch" target="_blank">globalaffairs.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Chinas Geheimnisse&quot; mit Urs Vögeli" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Darf es etwas Inspiration sein?</h2>
          <p class="intro">
            Anhand der Geschichte des Effinger streife ich Themen wie die Kraft eines Traums, partizipative Organisations&shy;entwicklung, New Work, alternative Wirtschaftsformen, Selbstorganisation, Soziokratie oder erzähle einfach ganz persönlich vom Weg von einem Traum zu einem Dorf auf vier Stockwerken mitten in Bern.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/matthias-tobler.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Matthias Tobler<br />
              <a href="https://www.matthiastobler.ch" target="_blank">matthiastobler.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Darf es etwas Inspiration sein?&quot; mit Matthias Tobler" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Schöne Innenräume</h2>
          <p class="intro">
            In einer Stunde erarbeiten wir deinen persönlichen Wohn- und Farbstil anhand der Typ Living und Balance Theorie.

            Oder: Wir analysieren anhand von Fotos dein Objekt und finden neue Ideen und Lösungen.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/timon-marmet.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Timon Marmet<br />
              <a href="https://www.timonmarmet.ch" target="_blank">timonmarmet.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Schöne Innenräume&quot; mit Timon Marmet" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Mini-Hackathon</h2>
          <p class="intro">
            Angetrieben von offenen Kollaborationswerkzeugen werden wir uns damit befassen, wie deine Ideen mit offenen Daten und digitalem Prototyping auf die nächste Stufe gebracht werden können.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/oleg-lavrovsky.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Oleg Lavrovsky<br />
              <a href="https://datalets.ch" target="_blank">datalets.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Mini-Hackathon&quot; mit Oleg Lavrovsky" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Mehr Sicherheit im Umgang mit Unsicherheit</h2>
          <p class="intro">
            Angebot für Menschen im Übergang von Schule in den Beruf oder bei Berufswechsel. Was sind deine Herausforderungen und wo kannst du konkret ansetzten, um den Wechsel in die künftige Berufswelt nachhaltiger zu gestalten? In einer Stunde schauen wir zusammen den Lebenslauf an und du erhälst Hinweise zu deinen Berufsträumen.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/markus-roos.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Markus Roos<br />
              <a href="https://maro-consulting.ch" target="_blank">maro-consulting.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Mehr Sicherheit im Umgang mit Unsicherheit&quot; mit Markus Roos" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Lego Serious Play</h2>
          <p class="intro">
            Kurze Lego Serious Play Session gemäss Fragestellung der Kund/innen, um auf diese Weise ein Gefühl für Lego Serious Play und Facilitating zu vermitteln.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/daniel-osterwalder.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Daniel Osterwalder<br />
              <a href="https://www.visualdynamics.ch" target="_blank">visualdynamics.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Lego Serious Play&quot; mit Daniel Osterwalder" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Werkzeuge für wirkungsvolle Meetings</h2>
          <p class="intro">
            Tipps und Tricks aus meinem Erfahrungsschatz kombiniert mit soziokratischen Elementen: Zielführende Vorbereitung, Moderationstipps, effektiv Entscheide fällen und digitale Hilfsmittel gekonnt nutzen.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/andrea-burkhalter.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Andrea Burkhalter<br />
              <a href="https://www.a-burkhalter.ch" target="_blank">a-burkhalter.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Werkzeuge für wirkungsvolle Meetings&quot; mit Andrea Burkhalter" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Turbo Buchhaltung</h2>
          <p class="intro">
            In einer Stunde schauen wir über deine Buchhaltung und geben dir Tipps und Tricks, wie du deine Finanz-Prozesse effizienter und produktiver gestalten kannst.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/benji-ammann.jpg');"></div>
            </div>
            <a class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/tom-bucher.jpg');"></div>
            </a>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit&nbsp;Thomas&nbsp;Bucher<br />
              und&nbsp;Benji&nbsp;Ammann<br />
              <a href="https://www.co-wing.ch" target="_blank">co-wing.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Turbo Buchhaltung&quot; mit Thomas Bucher und Benjamin Ammann" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Boost für deinen Text</h2>
          <p class="intro">
            Text-Qualitäts-Check Webseite / Firmenpublikationen oder Redigieren eines Textes
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/manuela-ryter.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Manuela Ryter<br />
              <a href="http://dasmanuskript.ch" target="_blank">dasmanuskript.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Boost für deinen Text&quot; mit Manuela Ryter" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Zielgruppen&shy;kompass</h2>
          <p class="intro">
            Mit einem gezielten Fokus auf die Perspektive der Zielgruppe wird die anschliessende Sitzung oder der Workshop effizienter. In einer Stunde befassen wir uns mit verschiedenen Methoden kurz und effizient mit den Charakteristiken Eurer Kundinnen und Kunden. Die Zielgruppenperspektive fliesst anschliessend fast von selber in Eure weitere Arbeit ein.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/corinne-roth-vock.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Corinne Roth&nbsp;Vock<br />
              <a href="https://www.schlosswort.ch" target="_blank">schlosswort.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Zielgruppen&shy;kompass&quot; mit Corinne Roth&nbsp;Vock" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Neue Webseite</h2>
          <p class="intro">
            Eine Website erstellen in weniger als 1&nbsp;Stunde. Warum ein einfacher (aber professioneller) Webauftritt für viele Projekte ausreicht und was man mit der freigewordenen Zeit und dem gesparten Geld anfangen kann.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/marco-jakob.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Marco Jakob<br />
              <a href="https://jakobservices.ch" target="_blank">jakobservices.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Neue Webseite&quot; mit Marco Jakob" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Website Experience</h2>
          <p class="intro">
            In einer Stunde analysieren wir die User Experience deiner Website nach Optimierungspotenzial und erarbeiten konkrete Schritte zur Verbesserung.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/michael-aerni.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Michael Aerni<br />
              <a href="https://michaelaerni.ch" target="_blank">michaelaerni.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Website Experience&quot; mit Michael Aerni" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Kommuniziert deine Webseite?</h2>
          <p class="intro">
            Quick&dirty-Analyse der bestehenden Texte auf deiner Website. Bist du SEO-fit? Wirst du gefunden? Wird dein Know-how sichtbar?
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/anicia-kohler.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Anicia Kohler<br />
              <a href="https://www.flamingotext.ch" target="_blank">flamingotext.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Kommuniziert deine Webseite?&quot; mit Anicia Kohler" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Erwecke den*die Life Designer*in in dir</h2>
          <p class="intro">
            Mache den ersten Schritt, um dein (Berufs-)Leben aktiv und bewusst zu gestalten. Und vom Wollen ins Machen zu kommen. Ich gebe dir Einblick in Haltung, Methoden und Tools von Life Designern.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/fabienne-stoll.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Fabienne Stoll<br />
              <a href="https://lastoll.ch" target="_blank">lastoll.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Erwecke den*die Life Designer*in in dir&quot; mit Fabienne Stoll" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Bewerben ist Werben</h2>
          <p class="intro">
            Feedback zu Bewerbungsunterlagen, Training für ein bevorstehendes Bewerbungsgespräch.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/graziella-baertsch.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Graziella Bärtsch<br />
              <a href="https://graziellabaertsch.ch" target="_blank">graziellabaertsch.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Bewerben ist Werben&quot; mit Graziella Bärtsch" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Dein Bewerbungsprozess</h2>
          <p class="intro">
            Ich biete dir eine nachhaltige & nützliche Stunde an, bei der du für die sechs wichtigsten Themen des gesamten Bewerbungs&shy;prozesses wirkungsvolle Frage&shy;stellungen, wertvolle Tipps und sinnvolle Werkzeuge erhältst!
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/chantal-harder.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Chantal Harder<br />
              <a href="https://chforyou.ch" target="_blank">chforyou.ch</a>
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="mailto:services@effinger.ch?subject=Kostprobe &quot;Dein Bewerbungsprozess&quot; mit Chantal Harder" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Kostproben -->

  <!-- Kontakt -->
  <section id="contact" class="small-section-header bg-gray-lighter">
    <div class="container relative">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 mb-40 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Kontakt</h2>
            <p>
              Suchst du Unterstützung für ein Projekt oder deinen Event?
              <br />
              Egal ob du eine Kostprobe wünschst oder längerfristige Projektpartner suchst, wir beraten dich gerne!
            </p>
          </div>
          <div class="mt-40 mb-30">
            <img class="mr-10 mb-10" width="260" src="/images/effianer/markus-roos.jpg" alt="Portraitfoto von Markus Roos"/>
            <img class="mr-10 mb-10" width="260" src="/images/effianer/urs-voegeli.jpg" alt="Portraitfoto von Urs Vögeli"/>
          </div>
          <div class="text">
            <h3 class="uppercase">Markus&nbsp;Roos &emsp;&&emsp; Urs&nbsp;Vögeli&emsp;</h3>
            <p>Koordinatoren Effinger&nbsp;Services</p>
          </div>
          <div class="text">
            <p>
              <a href="mailto:services@effinger.ch?subject=Kontaktanfrage">services@effinger.ch</a>
              <br />
              <!--076 333 33 33-->
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Kontakt -->

  <!-- Geschichten -->
  <section id="stories" class="small-section-header">
    <div class="container relative">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 mb-40 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Geschichten</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {{ range first 3 (where .Site.RegularPages "Params.tags" "intersect" (slice "Gemeinsamständig")) }}
          <div class="col-sm-4">
            {{ partial "blog/summary_home.html" . }}
          </div>
        {{ end }}
      </div>
      <div class="mt-40 text-center">
        <a href="/blog/tags/gemeinsamstandig/" class="btn btn-mod btn-border btn-round btn-medium">Alle Blogeinträge zum Thema</a>
      </div>
    </div>
  </section>
  <!-- End Geschichten -->

</div>
{{ end }}
