{{ define "main" }}
<div class="page services" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section id="start" class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="services_header.jpg">
    <div class="container js-height-parent">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="font-alt mb-50 mb-xs-30">
            Effinger Services
          </h1>

          <div class="mt-10 mt-xs-0 mb-80 mb-xs-30">
            Der Effinger bietet kraftvolles Know-how in interdisziplinären Teams an.
            <br class="hidden-xs" />
            Der perfekte Motor für kreative Kollaboration und Innovation.
          </div>

          <div class="font-alt mt-10 mt-xs-0">
            <a href="#contact" class="btn btn-mod btn-border-w btn-medium btn-round">Unverbindlich kontaktieren</a>
          </div>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Header -->

  <!-- Fähigkeiten -->
  <section id="skills" class="small-section-header bg-gray-lighter">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Fähigkeiten</h2>
            <p class="mb-60">
              Der Effinger ist ein Universum aus unterschiedlichen Disziplinen – von Achtsamkeit
              über agile Organisationsentwicklung bis hin zu zukünftigen Arbeitsformen.
              Greife auf unsere Fähigkeiten zu – für dein Projekt, deinen Event oder dein Unternehmen.
              Wir unterstützen dich gerne!
            </p>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="skill">
          <h3 class="text-center">Reinventing Change</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Querdenken, -sehen, -handeln meint im Zusammenhang von Reinventing Change die Fähigkeit Unternehmen, Organisationen, Gruppen, Gemeinschaften aus unterschiedlichen Perspektiven sehen und verstehen zu können. Und davon abgeleitet, diese auch mit stimmigen Interventionen in die Richtung Veränderung und Transformation zu begleiten. Damit Lebendigkeit und Vielfalt zum Tragen kommen.
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/sunita-asnani.jpg'); "></div>
              <div class="name">Sunita Asnani</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/alexis-giard.jpg');"></div>
              <div class="name">Alexis Giard</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/corinne-roth-vock.jpg');"></div>
              <div class="name">Corinne Roth Vock</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/christa-maria-tobler.jpg');"></div>
              <div class="name">Christa Maria Tobler</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/fredi-zumbrunn.jpg');"></div>
              <div class="name">Fredi Zumbrunn</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/michael-hoernlimann.jpg');"></div>
              <div class="name">Michael Hörnlimann</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/timon-marmet.jpg');"></div>
              <div class="name">Timon Marmet</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/benji-ammann.jpg');"></div>
              <div class="name">Benji Ammann</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/kim-eggimann.jpg');"></div>
              <div class="name">Kim Eggimann</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Organisations&shy;entwicklung neu gedacht</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Interdisziplinäre Herangehensweise zur Lösung von organisatorischen Herausforderungen. Organisationsentwicklung mit ungewohnten Methoden kombinieren und damit Unternehmen in eine neue Herangehensweise begleiten.
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/michael-hoernlimann.jpg');"></div>
              <div class="name">Michael Hörnlimann</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/fredi-zumbrunn.jpg');"></div>
              <div class="name">Fredi Zumbrunn</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/sunita-asnani.jpg');"></div>
              <div class="name">Sunita Asnani</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/community/daniel-osterwalder.jpg');"></div>
              <div class="name">Daniel Osterwalder</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/christa-maria-tobler.jpg');"></div>
              <div class="name">Christa Maria Tobler</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Doing Innovation</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Lean Startup, Service Design Thinking & Co.
            <br />
            <br />
            Design Thinking klebt oft am Denken und kommt nicht über tolle Ideen hinaus. Service Design Doing geht bewusst einen anderen Weg und reicht mitten hinein ins Tun und ins Umsetzen. Als Ergebnis stehen keine tollen Prototypen bereit, sondern verändert sich gerade jeder Lebensbereich, für den ein Prototyp umgesetzt wurde.
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/claudine-etter.jpg');"></div>
              <div class="name">Claudine Etter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/avatar-generisch.png');"></div>
              <div class="name">Ich habe noch kein Bild</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">LebensRaum</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Stadt- & Arealentwicklung, Community Building
            <br />
            <br />
            Menschen wollen beitragen, mittragen, mitgestalten - wollen den Raum, in dem sie leben, arbeiten, sich wohlfühlen, plaudern, pausieren, spazieren gestalten - mit anderen, um damit den Raum für Vielfalt und nährendes Leben zu entwickeln und zu beleben. Stadt- und Arealentwicklung baut deshalb wie im Facilitating auf “Community first - Decision second”, also auf sich entwickelnde Beziehungen.
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/claudine-etter.jpg');"></div>
              <div class="name">Claudine Etter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/avatar-generisch.png');"></div>
              <div class="name">Ich habe noch kein Bild</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Brand - Neu</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Branding, Webauftritt, Businessstrategie, UX
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/claudine-etter.jpg');"></div>
              <div class="name">Claudine Etter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/avatar-generisch.png');"></div>
              <div class="name">Ich habe noch kein Bild</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Körperwissen</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Achtsamkeit, Yoga, Massage, Bewegung, Tanz
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/claudine-etter.jpg');"></div>
              <div class="name">Claudine Etter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/avatar-generisch.png');"></div>
              <div class="name">Ich habe noch kein Bild</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Kunsttransfer</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Non-lineares Denken, künstlerische Methoden, künstlerische Intelligenz
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/claudine-etter.jpg');"></div>
              <div class="name">Claudine Etter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/avatar-generisch.png');"></div>
              <div class="name">Ich habe noch kein Bild</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Alltagscoach</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Für schwierige Situationen auf der Arbeit, für Einzelpersonen oder ganze Teams
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/claudine-etter.jpg');"></div>
              <div class="name">Claudine Etter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/avatar-generisch.png');"></div>
              <div class="name">Ich habe noch kein Bild</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Design und Handwerk</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Innovative und kreative Raumgestaltung
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/claudine-etter.jpg');"></div>
              <div class="name">Claudine Etter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/avatar-generisch.png');"></div>
              <div class="name">Ich habe noch kein Bild</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Bewegte Bilder</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Filmproduktion und Fotografie
            <br />
            <br />
            Vom professionellen Clip, bis zu grösseren Produktionen
            <br />
            <br />
            Ideal für Ihr Firmenportrait, kombiniert mit Branding
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/claudine-etter.jpg');"></div>
              <div class="name">Claudine Etter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/avatar-generisch.png');"></div>
              <div class="name">Ich habe noch kein Bild</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Kunsttransfer</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Non-lineares Denken, künstlerische Methoden, künstlerische Intelligenz
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/claudine-etter.jpg');"></div>
              <div class="name">Claudine Etter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/avatar-generisch.png');"></div>
              <div class="name">Ich habe noch kein Bild</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Mit-Teilen</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Kommunikation, Text, Politikberatung
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/claudine-etter.jpg');"></div>
              <div class="name">Claudine Etter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/avatar-generisch.png');"></div>
              <div class="name">Ich habe noch kein Bild</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
        <div class="skill">
          <h3 class="text-center">Moneytalk</h3>
          <hr class="effingergelb" />
          <p class="intro">
            Buchhaltung, Finanz- und Steuerberatung
          </p>
          <hr />
          <h4>Expert*innen</h4>
          <div class="experts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/damaris-berger.jpg');"></div>
              <div class="name">Damaris Berger</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/claudine-etter.jpg');"></div>
              <div class="name">Claudine Etter</div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/avatar-generisch.png');"></div>
              <div class="name">Ich habe noch kein Bild</div>
            </div>
          </div>
          <hr />
          <p class="call-to-action mt-30 mb-20 text-center">
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Kontakt Aufnehmen</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Fähigkeiten -->

  <!-- Kostproben -->
  <section id="trials" class="small-section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Kostproben</h2>
            <p class="mb-60">
              Kleine Kostprobe gefällig?
              In einer stündigen Session können Sie in den Genuss von unseren Fähigkeiten kommen.
              Ideal als Bereicherung für Ihren Workshop, Ihren Event oder die Retraite.
            </p>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="trial">
          <h2>Quer – Sehen</h2>
          <p class="intro">
            Möchtest du innovative Lösungswege für betriebliche Probleme und Herausforderungen finden? Anstatt uns in das Problem zu verbeissen, lustwandeln wir mit dir und deinem Team in den ungeahnten Möglichkeiten und Perspektiven, die zum Vorschein kommen.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/sunita-asnani.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Sunita Asnani<br />
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Branding-Therapie</h2>
          <p class="intro">
            In einer Stunde nehmen wir deinen Brand unter die Lupe. Wie können wir brachliegendes Potenzial wecken und wie kannst du nächste Schritte in Angriff nehmen.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/manuel-buerli.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Herr Bürli<br />
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Neue Webseite</h2>
          <p class="intro">
            Eine Website erstellen in unter 1 Stunde. Warum ein einfacher (aber professioneller) Webauftritt für viele Projekte ausreicht und was man mit der freigewordenen Zeit und dem gesparten Geld anfangen kann.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/marco-jakob.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Marco Jakob<br />
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Chinas Geheimnisse</h2>
          <p class="intro">
            Und was wir dabei für unser strategisches und unternehmerisches Denken und Handeln lernen können. Ein Vortrag.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/urs-voegeli.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Urs Vögeli<br />
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Lernen in die Berufung</h2>
          <p class="intro">
            Zusammenwirken von Berufsfachleuten mit jungen Menschen für den Uebergang vom Lernen in die Berufung

            Einbringen von Erfahrung aus komplexen Kunden- und Entwicklungsprojekten

            Zugang und Vernetzung von Kompetenzen kreativ ermöglichen
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/markus-roos.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Markus Roos<br />
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
        <div class="trial">
          <h2>Turbo Buchhaltung</h2>
          <p class="intro">
            In einer Stunde schauen wir über deine Buchhaltung und geben dir Tipps und Tricks, wie du deine Finanz-Prozesse effizienter und produktiver gestalten kannst.
          </p>
          <div class="quick-facts">
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/benji-ammann.jpg');"></div>
            </div>
            <div class="expert">
              <div class="avatar" style="background-image: url('/images/effianer/tom-bucher.jpg');"></div>
            </div>
            <div style="margin: 8px;">
              <b>Dauer: 1 h</b><br />
              mit Thomas Bucher<br />
              und Benjamin Ammann<br />
            </div>
          </div>
          <p style="margin: 1em 0;">
            <b>CHF 200.-</b>
          </p>
          <p>
            <a href="#contact" class="btn btn-mod btn-border btn-round btn-medium">Jetzt anfragen</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Kostproben -->

  <!-- Kontakt -->
  <section id="contact" class="small-section-header bg-gray-lighter">
    <div class="container relative">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 mb-40 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Kontakt</h2>
            <p>
              Suchen Sie Unterstützung für ein Projekt oder Ihren Event?
              <br />
              Egal ob Sie eine Kostprobe wünschen oder längerfristige Projektpartner suchen – wir beraten Sie gerne!
            </p>
          </div>
          <img class="mt-40 mb-40" width="260" src="/images/effianer/sunita-asnani.jpg" alt="Portraitfoto von Sunita Asnani"/>
          <div class="text">
            <h3 class="uppercase">Sunita Asnani</h3>
            <p>Koordinatorin Effinger Services</p>
          </div>
          <div class="text">
            <p>
              <a href="mailto:services@effinger.ch">services@effinger.ch</a>
              <br />
              076 333 33 33
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Kontakt -->

  <!-- Geschichten -->
  <section id="stories" class="small-section-header">
    <div class="container relative">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 mb-40 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Geschichten</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {{ range first 3 (where .Site.RegularPages "Params.tags" "intersect" (slice "Gemeinsamständig")) }}
          <div class="col-sm-4">
            {{ partial "blog/summary_home.html" . }}
          </div>
        {{ end }}
      </div>
      <div class="mt-40 text-center">
        <a href="/blog/tags/gemeinsamstandig/" class="btn btn-mod btn-border btn-round btn-medium">Alle Blogeinträge zu Effinger Services</a>
      </div>
    </div>
  </section>
  <!-- End Geschichten -->

</div>
{{ end }}
