{{ define "main" }}
<div class="page" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section id="start" class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="services_header.jpg">
    <div class="container js-height-parent">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="font-alt mb-50 mb-xs-30">
            Effinger Services
          </h1>

          <div class="mt-10 mt-xs-0 mb-80 mb-xs-30">
            Der Effinger bietet kraftvolles Know-how in interdisziplinären Teams an.
            <br class="hidden-xs" />
            Der perfekte Motor für kreative Kollaboration und Innovation.
          </div>

          <div class="font-alt mt-10 mt-xs-0">
            <a href="#contact" class="btn btn-mod btn-border-w btn-medium btn-round">Unverbindlich kontaktieren</a>
          </div>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Header -->

  <!-- Fähigkeiten -->
  <section id="skills" class="small-section-header bg-gray-lighter">
    <div class="container relative">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 mb-40 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Fähigkeiten</h2>
            <p>
              Der Effinger ist ein Universum aus unterschiedlichen Disziplinen – von Achtsamkeit
              über agile Organisationsentwicklung bis hin zu zukünftigen Arbeitsformen.
              Greife auf unsere Fähigkeiten zu – für dein Projekt, deinen Event oder dein Unternehmen.
              Wir unterstützen dich gerne!
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 mb-20 card text-center">
          FÄHIGKEIT
        </div>
        <div class="col-sm-4 mb-20 card text-center">
          FÄHIGKEIT
        </div>
        <div class="col-sm-4 mb-20 card text-center">
          FÄHIGKEIT
        </div>
      </div>
    </div>
  </section>
  <!-- End Fähigkeiten -->

  <!-- Kostproben -->
  <section id="trials" class="small-section-header">
    <div class="container relative">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 mb-40 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Kostproben</h2>
            <p>
              Kleine Kostprobe gefällig?
              In einer stündigen Session können Sie in den Genuss von unseren Fähigkeiten kommen.
              Ideal als Bereicherung für Ihren Workshop, Ihren Event oder die Retraite.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 mb-20 card text-center">
          KOSTPROBE
        </div>
        <div class="col-sm-4 mb-20 card text-center">
          KOSTPROBE
        </div>
        <div class="col-sm-4 mb-20 card text-center">
          KOSTPROBE
        </div>
        <div class="col-sm-4 mb-20 card text-center">
          KOSTPROBE
        </div>
        <div class="col-sm-4 mb-20 card text-center">
          KOSTPROBE
        </div>
        <div class="col-sm-4 mb-20 card text-center">
          KOSTPROBE
        </div>
      </div>
    </div>
  </section>
  <!-- End Kostproben -->

  <!-- Kontakt -->
  <section id="contact" class="small-section-header bg-gray-lighter">
    <div class="container relative">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 mb-40 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Kontakt</h2>
            <p>
              Suchen Sie Unterstützung für ein Projekt oder Ihren Event?
              <br />
              Egal ob Sie eine Kostprobe wünschen oder längerfristige Projektpartner suchen – wir beraten Sie gerne!
            </p>
          </div>
          <img class="mt-40 mb-40" width="260" src="/images/effianer/sunita-asnani.jpg" alt="Portraitfoto von Sunita Asnani"/>
          <div class="text">
            <h3 class="uppercase">Sunita Asani</h3>
            <p>Koordinatorin Effinger Services</p>
          </div>
          <div class="text">
            <p>
              <a href="mailto:services@effinger.ch">services@effinger.ch</a>
              <br />
              076 333 33 33
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Kontakt -->

  <!-- Geschichten -->
  <section id="stories" class="small-section-header">
    <div class="container relative">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 mb-40 text-center">
          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Geschichten</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 mb-20 card text-center">
          BLOGEINTRAG
        </div>
        <div class="col-sm-4 mb-20 card text-center">
          BLOGEINTRAG
        </div>
        <div class="col-sm-4 mb-20 card text-center">
          BLOGEINTRAG
        </div>
    </div>
  </section>
  <!-- End Geschichten -->

</div>
{{ end }}
