{{ define "main" }}
<!-- Page Wrap -->
<div class="page grundsaetze" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-dark-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Virtual Coworking</h1>
          <div class="hs-line-4 font-alt mt-20 mt-xs-0">
            Live verbunden mit der Community
          </div>
        </div>

        <div class="col-md-4 mt-30">
          <div class="mod-breadcrumbs font-alt align-right">
            <a href="/community/">Community</a>&nbsp;/&nbsp;<span>Virtual</span>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- Section -->
  <section class="page-section pt-70 pb-40">
    <div class="container relative align-center">
      <h2 class="hs-line-11 font-alt mb-70">
        Effinger Lounge
      </h2>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VhX0ljPtYIs?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="mt-30">
        <p>
          Hast du eine Frage an den Host oder willst du einfach mit jemandem plaudern? Klicke auf den Knopf zum beitreten. 
        </p>
        <p>
          <a href="https://meet.jit.si/effinger-lounge" target="_blank" class="btn btn-mod btn-border btn-large btn-round">
            <i class="fa fa-hand-o-right"></i> Effinger Lounge beitreten
          </a>
        </p>
      </div>
    </div>
  </section>
  <!-- End Section -->

  <!-- Section -->
  <section class="page-section bg-gray-lighter pt-70 pb-40">
    <div class="container relative align-center">
      <h2 class="hs-line-11 font-alt mb-50">
        Weitere Räume
      </h2>

      <p>
        Falls du etwas mehr Ruhe suchst oder ein privates Gespräch führen möchtest, so findest du hier weitere Räume <i class="fa fa-hand-o-down" aria-hidden="true"></i>.
      </p>

      <div>
        <p>
          <a href="https://meet.jit.si/effinger-fokus" target="_blank" class="btn btn-mod btn-border btn-medium btn-round">Fokusraum</a><br>
          <small>konzentriertes Arbeiten</small>
        </p>
        <p>
          <a href="https://meet.jit.si/effinger-besprechung" target="_blank" class="btn btn-mod btn-border btn-medium btn-round">Besprechung</a><br>
          <small>spontane Besprechung</small>
        </p>
        <p>
          <a href="https://meet.jit.si/" target="_blank" class="btn btn-mod btn-border btn-medium btn-round">Eigenen Raum erstellen</a><br>
          <small>Namen wählen und Link mit anderen teilen</small>
        </p>
      </div>

    </div>
  </section>
  <!-- End Section -->

  <!-- Section -->
  <section class="page-section pt-70 pb-40">
    <div class="container relative align-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="hs-line-11 font-alt mb-50">Fragen</h3>
          <div>
            <p>
              Du erreichst uns auch per E-Mail: <a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section -->

</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}

{{ end }}