{{ define "main" }}
<!-- Page Wrap -->
<div class="page" id="right">

    <nav class="main-nav transparent stick-fixed">
        {{ partial "navigation.html" . }}
    </nav>

    <section class="home-section">
        <style media="screen">
            .home-section {
                overflow: visible;
                position: relative;
                z-index: 1;
                margin-top: 75px;
            }
            .wrapper {
                position: relative;


                max-width: 2000px;
                margin: 0 auto;

            }
            .wrapper .container {
                overflow: visible;
            }
            .tooltip {
                z-index: 0;
            }
            .marker {
                position: absolute;
                width: 25px;
                height: 25px;
                background-color: #F6D84A;
                border-radius: 50%;
                text-align: center;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -12px;
                margin-left: -12px;
                transition: transform 1s ease;
                box-shadow: 5px 10px 18px #888888;

            }
            .marker:hover {
                transform: scale(1.3);
            }

            .marker a {
                padding: 5px 8px;
                line-height: 2px;
                font-size: 12px;
                text-decoration: none;
            }
            @media screen and (max-width: 600px) {
                .container {
                    margin: 20px 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                .marker {
                    width: 30px;
                    height: 30px;
                    position: static;
                    margin: 5px;
                    box-shadow: 0px 0px 10px #555;
                }
                .marker a {
                    padding: 7px 10px;
                }
            }
            @media screen and (min-width: 920px) {
                .marker {
                    width: 40px;
                    height: 40px;
                    margin-top: -17px;
                    margin-left: -17 dpx;

                }
                .marker a {
                    padding: 7px 10px;
                    font-size: 16px;
                }
            }
        </style>
        <div class="wrapper">
            <img class="img-responsive" src="header.jpg">
            <div class="container">
                <div class="marker" style="left:55.57%; top:93.85%;"><a href="/jubilaeum/achtsamkeit" title="Achtsamkeit">1</a></div>
                <div class="marker" style="left:72.16%; top:40.86%;"><a href="/jubilaeum/brownbag" title="Brownbag mit Mathias Morgenthaler">2</a></div>
                <div class="marker" style="left:55.43%; top:20.11%;"><a href="/jubilaeum/lego" title="Legoworkshop">3</a></div>
                <div class="marker" style="left:95.32%; top:38.59%;"><a href="/jubilaeum/oldtimer" title="Oldtimer Fahrte">4</a></div>
                <div class="marker" style="left:7.6%; top:51.25%;"><a href="/jubilaeum/werkstatt" title="Offene Werkstatt">5</a></div>
                <div class="marker" style="left:58.87%; top:40.73%;"><a href="/jubilaeum/gedankengang" title="Gedankengang">6</a></div>
                <div class="marker" style="left:80.06%; top:77.7%;"><a href="/jubilaeum/filmmachen" title="Filmmachen praktisch">7</a></div>
                <div class="marker" style="left:22.56%; top:72.25%;"><a href="/jubilaeum/game" title="Gameentwicklung">8</a></div>
                <div class="marker" style="left:28.75%; top:43.26%;"><a href="/jubilaeum/selbstmanagement" title="Selbstmanagement">10</a></div>
                <div class="marker" style="left:62.72%; top:25.95%;"><a href="/jubilaeum/instagram" title="Instagram Worthy">12</a></div>
                <div class="marker" style="left:63.41%; top:22.64%;"><a href="/jubilaeum/branddesign" title="Design your brand">9</a></div>
                <div class="marker" style="left:11.42%; top:16.03%;"><a href="/jubilaeum/orchester" title="Vignette's Popup Orchester">13</a></div>
                <div class="marker" style="left:63.69%; top:58.44%;"><a href="/jubilaeum/thes" title="Speed-THESaktive Ideenkorb">14</a></div>
                <div class="marker" style="left:61.9%; top:56.1%;"><a href="/jubilaeum/schreiben" title="Ich schreibe. So bin ich.">11</a></div>
                <div class="marker" style="left:48.14%; top:25.36%;"><a href="/jubilaeum/wein-und-sein" title="Wein und Sein">15</a></div>
                <div class="marker" style="left:39.48%; top:69.92%;"><a href="/jubilaeum/geschichte" title="Geschichte des Effingers">16</a></div>
                <div class="marker" style="left:44.84%; top:65.83%;"><a href="/jubilaeum/konzert" title="Konzert">17</a></div>
                <div class="marker" style="left:89.55%; top:54.94%;"><a href="/jubilaeum/poetryslam" title="Poetry Slam">18</a></div>
            </div>
        </div>
    </section>
    <!-- Jubilaeum -->
    <section id="start" class="small-section-header" style="background-color: #fae300;">
      <div class="relative container">

        <div class="row text-center">

          <div class="col-md-6 col-md-offset-3 ">
              <div class="mb-10">
                  <i class="fa fa-birthday-cake fa-5x"></i>
              </div>
            <h1 class="hs-line-11 font-alt">Jubiläum</h1>
            <h2 class="hs-line-15 font-alt ">15. März 2019</h2>
            <div class="hs-line-4 black font-alt mt-10 mt-xs-0">
              Der «Effinger – Kaffeebar und Coworking Space» wird 3 Jahre alt! Das wollen wir feiern!
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Jubilaeum -->

    <section class="page-section">
        <div class="container relative">
            <div class="row">
                <div class="col-md-4">
                    <img src="drei.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <p class="lead">
                        Der «Effinger – Kaffeebar und Coworking Space» wird drei Jahre alt! Das wollen wir mit dir feiern! Verweile bei Food & Drinks in der Kaffeebar oder besuche unsere verschiedensten Jubiläums­aktivitäten und lass dich inspirieren. Die <span class="local-scroll"><a href="#events">Aktivitäten</a></span> werden von Mitgliedern der Effinger Community gestaltet und geben dir Einblicke in die Vielfalt des Effinger­-Lebens.
                    </p>
                    <p class="lead">Wir freuen uns auf dich.</p>

                </div>
            </div>
        </div>
    </section>
    <!-- Section -->
    <section class="page-section bg-gray-lighter">
        <div class="container relative">

            <!-- Features Grid -->
            <div class="row multi-columns-row alt-features-grid">

                <!-- Features Item -->
                <div class="col-sm-12 col-md-6 col-md-offset-3 mb-sm-60">
                    <div class="alt-features-item align-center">
                        <img style="height:200px;width:auto" src="brownbag.png" alt="Brownbag" />
                        <h3 class="alt-features-title font-alt">Jubiläums-Brownbag</h3>
                        <div class="alt-features-descr">
                            <p>Machen Sie bloss einen Job oder leben Sie Ihre Berufung? Der Berufungs-Coach und Autor von «Out of the Box» spricht über das Glück, die eigene Berufung zu leben.
                                Um <strong>12:00 Uhr Jubiläums-Brownbag</strong> zum Thema «Traumberuf statt Berufstrauma» mit Gast Mathias Morgenthaler.</p>
                            <p class="mb-0 lead">
                                Mit <img src="lunchbag.png">-Special!
                            </p>
                                <a class="btn btn-mod btn-small mt-20" href="/jubilaeum/brownbag">Mehr Infos</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->
                    </div>
                    <div class="row multi-columns-row alt-features-grid">


                    <!-- Features Item -->
                    <div class="col-sm-12 col-md-4 mb-sm-60">
                        <div class="alt-features-item align-center">
                            <img style="height:150px;width:auto" src="oldtimer.png" alt="Oldtimer" />
                            <h3 class="alt-features-title font-alt">Oldtimerfahrten</h3>
                            <div class="alt-features-descr">
                                <p class="mb-0">Eine Fahrt in diesem Oldtimer lassen Zeit und Raum verschmel­zen ein – Fahrgefühl, das die Befindlichkeit und den Zeitgeist der 60er-Jahre ausdrückt; Aufbruch, Unbeschwertheit und Freiheit.</p>
                                <a class="btn btn-mod btn-small mt-20" href="/jubilaeum/oldtimer">Mehr Infos</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->

                    <!-- Features Item -->
                    <div class="col-sm-12 col-md-4 mb-sm-60">
                        <div class="alt-features-item align-center">
                            <img style="height:150px;width:auto" src="coworking.png" alt="Brownbag" />
                            <h3 class="alt-features-title font-alt">Gratis Coworking</h3>
                            <div class="alt-features-descr">
                                <p class="mb-0">
                                    Gniesse an unserem Jubliläum freies Coworking. Ideal wenn du schon lange mal Effinger-Coworking-Luft schnuppern wolltest.
                                </p>
                                <a class="btn btn-mod btn-small mt-20" href="/coworking">Zum Coworking</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->

                    <!-- Features Item -->
                    <div class="col-sm-12 col-md-4 mb-sm-60">
                        <div class="alt-features-item align-center">
                            <img style="height:150px;width:auto" src="poetryslam.png" alt="Brownbag" />
                            <h3 class="alt-features-title font-alt">Poetryslam</h3>
                            <div class="alt-features-descr">
                                <p class="mb-0">Ab 20:30h Poetryslam mit Kai Wasoimmer u.a. in der Kaffeebar.</p>
                                <a class="btn btn-mod btn-small mt-20" href="/jubilaeum/poetryslam">Mehr Infos</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->

                </div>
                <!-- End Features Grid -->

            </div>
        </section>
        <!-- End Section -->


        <!-- Section Event list -->
        <section class="page-section event" id="events">
            <div class="container relative">

                <h2 class="section-title font-alt mb-70 mb-sm-40">Programmübersicht</h2>
                <div class="eventlist">
                    {{ range sort .Data.Pages "Params.startdate" "asc" }}
                    <a href="{{ .RelPermalink }}">
                        <div class="event-item bg-gray clearfix">
                            <div class="cat">
                                <div style="background-color: #fae300;"></div>
                            </div>
                            <div class="event-date text" style="background-image:url({{ .RelPermalink }}/{{ .Params.authorimage }}); background-repeat: no-repeat; background-size: cover; background-position: center; height: 100%; width: 150px; position: absolute">
                                <span></span>

                            </div>
                            <div class="event-text text bg-white" style="margin-left: 150px;">
                                <h4 class="uppercase">{{ .Title }}</h4>
                                <p> <i class="fa fa-user fa-inline"></i> {{ .Params.author}}</p>
                                <p>
                                    <i class="fa fa-clock-o fa-inline"></i>&nbsp{{.Params.time }}  
                                </p>
                                <p>
                                    <i class="fa fa-map-marker fa-inline"></i>&nbsp{{.Params.location }}
                                </p>
                            </div>
                        </div>
                    </a>


                    {{ end }}
                </div>
            </div>
        </section>
        <!-- End Section Event list -->
    </div>
    <!-- End Page Wrap -->
    {{ end }}
