{{ define "main" }}
<!-- Page Wrap -->
<div class="page raeume" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="raeume_header.jpg">
    <div class="js-height-parent container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <div class="inline-block">
            <h1 class="font-alt mb-20 mb-xs-10">Räume mieten</h1>
            <h2 class="hs-line-6 mb-20 mb-xs-10">
              Innovative Sitzungszimmer und Workshopräume in Bern.<br>
              Mit beschreibbaren Wänden und Design Thinking Materialien.
            </h2>
            <div class="">
              <a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2"
                class="inline-block pt-10 text-nowrap" style="text-decoration: none;">
                <span class="icon-map-pin"></span>&nbsp;
                Effingerstrasse 10, Bern
              </a>
            </div>
          </div>
          <!--div>
            <a href="https://www.eventlokale.ch/site/_eventlokale/1/Schweiz/41472/effinger_kaffeebar_coworking_space.html?slarating=1"
              rel="nofollow noopener noreferrer" class="inline-block"
              style="margin: 100px; margin-right: 25px; border-radius: 50%; transform: translateY(-65px);">
              <img src="../images/raeume/Swiss-Location-Award-Voting.png" alt="Swiss Location Award: Jetzt Bewerten!"
                style="width: 150px; border-radius: inherit;">
            </a>
            <a href="https://www.eventlokale.ch/site/_eventlokale/1/Schweiz/41472/effinger_kaffeebar_coworking_space.html?slarating=1"
              rel="nofollow noopener noreferrer" class="inline-block"
              style="margin: 100px; margin-left: 25px; transform: translateY(-65px);">
              <img src="../images/raeume/Swiss-Location-Award-Voting-QR.png" alt="Swiss Location Award: QR-Code"
                style="width: 150px; border-radius: inherit;">
            </a>
          </div-->
          <!-- <div>
            <a href="https://www.eventlokale.ch/site/_eventlokale/1/Schweiz/41472/effinger_kaffeebar_coworking_space.html"
               rel="nofollow noopener noreferrer" class="inline-block"
               style="margin: 100px; border-radius: 50%; transform: translateY(-65px);">
              <img src="../images/raeume/Swiss-Location-Award-Empfohlen.svg" alt="Swiss Location Award: Empfohlen"
                   style="width: 150px; border-radius: inherit;">
            </a>
          </div> -->
        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>


  <!-- Winterferien -->
  <!-- <section>
    <div style="display: flex; flex-flow: row nowrap; justify-content: center; align-items: flex-start; margin-bottom: 3px; padding: 3em 0; background: #fbdb00;">
      <img src="/images/betriebsferien-winter-baum.png" aria-hidden="true"
           style="width: 55px; margin: 0.5em; border-radius: 50%; padding: 3px 4px 5px; background: white;" />
      <p style="align-self: center; margin: 0 0.5em; padding-top: 0.2em;">
        Der Effinger bleibt über Weihnachten-Neujahr geschlossen.<br />
        Vom <strong>Samstag 21. Dezember</strong> bis zum <strong>Sonntag 5. Januar</strong>
        ist eine Raummiete nur nach Absprache möglich.<br />
        Ab <strong>Montag 6. Januar</strong> sind alle Räume wieder zu den gewohnten Öffnungszeiten verfügbar.
      </p>
    </div>
  </section> -->
  <!-- End Winterferien -->

  <section class="bg-yellow pt-30">
    <div class="relative container text-start">
      <div class="row align-items-center">
        <div class="mx-auto" style="max-width: 550px">
          <h5 class="font-alt mt-10 mb-4">
            Für euch ist <strong>alles ready</strong>.<br />
            Am Schluss bitte alles wieder <strong>zurück auf Start</strong>.
          </h5>
          <p>Weil uns das Konzept schlichtweg <strong>überzeugt</strong>, setzen wir auch in der Raumvermietung auf die <strong>Eigenverantwortung</strong>: Nach einem freundlichen Willkommen zeigt dir jemand deinen Raum, danach kümmerst du dich eigenständig um Screens, Ordnung und die Kaffeemaschine.</p>
          <p><strong>Apropos Kaffee:</strong> Der ist so beliebt, dass die unlimitierte Benutzung der Kaffeemaschine neu im Preis inklusive ist.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Gesucht-Feld -->
  <!--  <section class="container">
    <dl class="toggle mb-80 mt-80">
      <dt style="border: 3px solid #fbdb00;">
          <a href="" class="text-center black"><i class="fa fa-bullhorn fa-lg"></i> Gesucht: Raumvermietungs-Host</a>
      </dt>
      <dd style="display: none; border-bottom: 3px solid #fbdb00;">
        <p>
          Möchtest du dich als GastgeberIn in unseren Workshopräumen engagieren und Teil der Effinger Community werden?
        </p>
        <p>
          @raumvermietung sucht Tages- & Abend Hosts, die unsere Besucher in Empfang nehmen, bei Bedarf in die
          Workshop-Räumlichkeiten einführen, sich ums Bereitstellen der Seminarverpflegungen kümmern und beim Abräumen/Abbauen
          behilflich sind.
        </p>
        <p>
          Als Raumvermietungs-Host verpflichtest du dich zu mindestens einem Einsatz pro Woche und bist je nach Tag/Abend und
          Buchung zu den für die Gruppe wichtigsten Zeiten zwischen 07.30 morgens und 19.30 abends anwesend. An stark belegten
          Tagen arbeiten zwei Hosts, einer deckt den Morgen/Mittag und einer den Nachmittag/Abend ab. Zwischendurch hast du
          Freiräume und kannst an deinen eigenen Projekten arbeiten.
        </p>
        <p>
          Für drei Hosteinsätze (1 Einsatz = 1 Morgen- oder Nachmittagsschicht) erhältst du 4 gratis Arbeitstage im Effinger.
          Zudem darfst du auch vor/nach dem Hosten den ganzen Tag gratis Coworken.
        </p>
        <p>
          In dieser wertvollen Rolle als Gastgeber bist du Teil unserer Community. Du hast Gelegenheit, dich mit Coworker und
          Vertretern der breit durchmischten Gruppen (KMU, Einzelunternehmer, NPO, Start-ups, nationale und internationale
          Unternehmen, Vereine) auszutauschen.
        </p>
        <p>
          Interessant könnte diese Arbeit für JungunternehmerInnen und selbständige CoworkerInnen sein. Bitte melde dich unter
          <a href="mailto:raumvermietung@effinger.ch">raumvermietung@effinger.ch</a>.<br>
        </p>
        <p>
          Wir freuen uns auf deine Kontaktaufnahme!<br>
          Claudia, Sunita und Benji
        </p>
      </dd>
    </dl>
  </section>  -->

  {{ range .Data.Pages }}
  <hr class="mt-0 mb-0">

  <section class="page-section">
    <div class="container relative">
      <h2 class="mt-0 font-alt mb-30 mb-xs-10">
        <a href="{{ .RelPermalink }}">Raum &laquo;<strong>{{ .Title }}</strong>&raquo;</a>
      </h2>

      <div class="row">
        <div class="col-sm-6 mb-sm-40">
          <!-- Gallery -->
          <div class="work-full-media mt-0 white-shadow">
            <ul class="clearlist work-full-slider owl-carousel">
              {{ $url := .RelPermalink }}
              {{ range .Params.gallery }}
              <li>
                {{ if or (strings.HasSuffix . "mp4") (strings.HasSuffix . "mov") }}
                <video src="{{ $url }}{{ . }}" width="555" height="312" controls />
                {{ else }}
                <img src="{{ $url }}{{ . }}" alt="" />
                {{ end }}
              </li>
              {{ end }}
            </ul>
          </div>
          <!-- End Gallery -->
        </div>

        <div class="col-sm-6 col-lg-5 offset-lg-1 text">
          <div class="raeume-eigenschaften">
            <div class="w-50">
              <div class="raeume-title">Kapazität</div>
              <div class="raeume-content text-nowrap">
                {{ .Params.capacity }} Personen
              </div>
            </div>

            <div class="w-50">
              <div class="raeume-title">Grösse</div>
              <div class="raeume-content">
                {{ .Params.square_meters }}m<sup>2</sup>
              </div>
            </div>
          </div>

          <div class="raeume-eigenschaften">
            <div class="">
              <div class="raeume-title">Ausrüstung</div>
              <div class="raeume-content">
                {{ delimit .Params.equipment ", " }}
              </div>
            </div>
          </div>

          {{ with .Params.extras }}
          <div class="raeume-eigenschaften">
            <div class="">
              <div class="raeume-title">Zusätzliche Infrastruktur</div>
              <div class="raeume-content">
                {{ range $index, $element := . }}
                {{- if not $element.hidden -}}
                {{- if gt $index 0 }},{{ end }} {{ $element.text -}}
                {{- end -}}
                {{ end }}
              </div>
            </div>
          </div>
          {{ end }}

          <div class="raeume-eigenschaften">
            <div class="">
              <div class="raeume-title">Preise (inkl. MWST)</div>
              {{ range .Params.prices }}
              <div class="raeume-content">
                {{ . }}
              </div>
              {{ end }}
            </div>
          </div>

          <div class="mt-40">
            <a href="{{ .RelPermalink }}" class="btn btn-mod btn-border btn-round btn-medium">
              Details und Reservation
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}

  <!-- Andere Anbieter -->
  <!-- <hr class="mt-0 mb-0">
  <section class="page-section">
    <div class="container relative">
      <h2 class="mt-0 font-alt mb-30 mb-xs-10">
        Unsere Nachbarn
      </h2>

      <div class="row">
        <div class="col-sm-6 mb-sm-40">
          <div class="work-full-media mt-0 white-shadow">
            <ul class="clearlist work-full-slider owl-carousel">
              <li>
                <img src="suedland.jpg" alt="">
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-5 offset-lg-1 text">
          <div class="raeume-eigenschaften">
            Falls unsere Räume zu klein oder schon besetzt sind, empfehlen wir unsere Nachbarn vis-à-vis.
          </div>
          <div class="raeume-eigenschaften">
            <div style="width: 60%;">
              <div class="raeume-title">Kapazität</div>
              <div class="raeume-content text-nowrap">
                25-40 Personen
              </div>
            </div>

            <div style="width: 40%;">
              <div class="raeume-title">Grösse</div>
              <div class="raeume-content">
                100m<sup>2</sup>
              </div>
            </div>
          </div>
          <div class="mt-40">
            <a href="https://suedland.ch/forum/" class="btn btn-mod btn-border btn-round btn-medium" target="_blank">
              → Südland Forum
            </a>
          </div>
        </div>
      </div>

    </div>
  </section> -->
  <!-- End Andere Anbieter -->

  {{ partial "raeume/section-kontakt.html" . }}
</div>
<!-- End Page Wrap -->
{{ end }}
