{{ define "title" }}
{{ .Title }} | Räume | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<!-- Page Wrap -->
<div class="page raeume" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-dark-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Raumvermietung</h1>
          <!--
          <div class="hs-line-4 font-alt mt-20 mt-xs-0">
          Räume
          </div>
          -->
        </div>

        <div class="col-md-4 mt-30">
          <div class="mod-breadcrumbs font-alt align-right">
            <a href="/raeume/"><i class="fa fa-angle-left"></i> Zeige alle Räume</a>
          </div>

        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- About Section -->
  <section class="page-section">
    <div class="container relative long-text-body">

      <h1 class="mt-0 font-alt">{{ .Title }}</h1>

      <div class="row">

        <div class="col-sm-8 mb-sm-40">

          <!-- Gallery -->
          <div class="work-full-media mt-0 white-shadow">
            <ul class="clearlist work-full-slider owl-carousel">
              {{ $url := .URL }}
              {{ range .Params.gallery }}
              <li>
                <img src="{{ $url }}{{ . }}" alt="" />
              </li>
              {{ end }}
            </ul>
          </div>
          <!-- End Gallery -->
        </div>

        <div class="col-sm-4">
          <div class="text">

            <div class="row raeume-eigenschaften">
              <div class="col-xs-6">
                <div class="raeume-title">Kapazität</div>
                <div class="raeume-content">
                  {{ .Params.capacity }} Personen
                </div>
              </div>

              <div class="col-xs-6">
                <div class="raeume-title">Grösse</div>
                <div class="raeume-content">
                  {{ .Params.square_meters }}m<sup>2</sup>
                </div>
              </div>
            </div>

            <div class="row raeume-eigenschaften">
              <div class="col-sm-12">
                <div class="raeume-title">Elemente</div>
                <div class="raeume-content">
                  {{ .Params.elements }}
                </div>
              </div>
            </div>

            <div class="row raeume-eigenschaften">
              <div class="col-sm-12">
                <div class="raeume-title">Preise</div>
                {{ range .Params.prices }}
                <div class="raeume-content">
                  {{ . }}
                </div>
                {{ end }}
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-10">
          <h3 class="font-alt mt-50">Details</h3>
          {{ .Content | markdownify }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3 class="font-alt mt-50">Reservation</h3>
          <div class="mt-20" id="calendar">
            <div id="calendar-loading">
              <i class="fa fa-refresh fa-spin fa-3x fa-fw mb-10"></i>
              <div>Reservationen werden geladen...</div>
            </div>
          </div>
          <div id="calendar-details">
          </div>
        </div>
      </div>

      <!-- Prev/Next -->
      <div class="clearfix mt-40">
        {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.RelPermalink }}" class="prev-next-btn left"><i class="fa fa-angle-left"></i>&nbsp;{{ .PrevInSection.Title }}</a>
        {{ end }}
        {{ if .NextInSection }}
        <a href="{{ .NextInSection.RelPermalink }}" class="prev-next-btn right">{{ .NextInSection.Title }}&nbsp;<i class="fa fa-angle-right"></i></a>
        {{ end }}
      </div>
      <!-- End Prev/Next Post -->
    </div>
  </section>
  <!-- End About Section Workshopraum -->
</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
{{ partial "fullcalendar_includes.html" }}
<script type="text/javascript">
$(document).ready(function(){
  loadCalendar({{ .Params.calendar_api_path }}, {{ .Params.calendar_id }}, $('#calendar'), $('#calendar-loading'), $('#calendar-details'));
});

</script>
{{ end }}
