{{ define "title" }}
{{ .Title }} | Räume | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<!-- Page Wrap -->
<div class="page raeume" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-dark-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Raumvermietung</h1>
          <!--
          <div class="hs-line-4 font-alt mt-20 mt-xs-0">
          Räume
          </div>
          -->
        </div>

        <div class="col-md-4 mt-30">
          <div class="mod-breadcrumbs font-alt align-right">
            <a href="/raeume/"><i class="fa fa-angle-left"></i> Zeige alle Räume</a>
          </div>

        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- About Section -->
  <section class="page-section">
    <div class="container relative long-text-body">

      <h1 class="mt-0 font-alt">Raum &laquo;<strong>{{ .Title }}</strong>&raquo;</h1>

      <div class="row">

        <div class="col-sm-8 mb-sm-40">

          <!-- Gallery -->
          <div class="work-full-media mt-0 white-shadow">
            <ul class="clearlist work-full-slider owl-carousel">
              {{ $url := .URL }}
              {{ range .Params.gallery }}
              <li>
                <img src="{{ $url }}{{ . }}" alt="" />
              </li>
              {{ end }}
            </ul>
          </div>
          <!-- End Gallery -->
        </div>

        <div class="col-sm-4">
          <div class="text">

            <div class="row raeume-eigenschaften">
              <div class="col-xs-6">
                <div class="raeume-title">Kapazität</div>
                <div class="raeume-content">
                  {{ .Params.capacity }} Personen
                </div>
              </div>

              <div class="col-xs-6">
                <div class="raeume-title">Grösse</div>
                <div class="raeume-content">
                  {{ .Params.square_meters }}m<sup>2</sup>
                </div>
              </div>
            </div>

            <div class="row raeume-eigenschaften">
              <div class="col-sm-12">
                <div class="raeume-title">Ausrüstung</div>
                <div class="raeume-content">
                  {{ delimit .Params.equipment ", " }}
                </div>
              </div>
            </div>

            <div class="row raeume-eigenschaften">
              <div class="col-sm-12">
                <div class="raeume-title">Zusätzliche Infrastruktur</div>
                <div class="raeume-content">
                  {{ range $index, $element := .Params.extras }}
                    {{- if not $element.hidden -}}
                    {{- if gt $index 0 }},{{ end }} {{ $element.text -}}
                    {{- end -}}
                  {{ end }}
                </div>
              </div>
            </div>

            <div class="row raeume-eigenschaften">
              <div class="col-sm-12">
                <div class="raeume-title">Preise{{ if .Params.prices_excluding_vat }} (exkl. MwSt.){{ end }}</div>
                {{ range .Params.prices }}
                <div class="raeume-content">
                  {{ . }}
                </div>
                {{ end }}
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-10">
          <h3 class="font-alt mt-50">Details</h3>
          {{ .Content | markdownify }}
        </div>
      </div>

      {{ if .Params.calendar_id }}
      <div class="row">
        <div class="col-sm-12">
          <h3 class="font-alt mt-50">Reservation</h3>
          <div class="mt-20" id="calendar">
            <div id="calendar-loading">
              <i class="fa fa-refresh fa-spin fa-3x fa-fw mb-10"></i>
              <div>Reservationen werden geladen...</div>
            </div>
          </div>
          <div id="calendar-details">
          </div>

          <!-- Button trigger calendar dialog -->
          <button type="button" class="btn btn-mod btn-medium btn-round mt-40 center-block" data-toggle="modal" data-target="#calendar-dialog">
            Raum reservieren
          </button>

          {{ partial "fullcalendar_dialog.html" . }}

        </div>
      </div>
      {{ end }}

      <!-- Prev/Next -->
      <div class="clearfix mt-40">
        {{ if .NextInSection }}
        <a href="{{ .NextInSection.RelPermalink }}" class="prev-next-btn left"><i class="fa fa-angle-left"></i>&nbsp;{{ .NextInSection.Title }}</a>
        {{ end }}
        {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.RelPermalink }}" class="prev-next-btn right">{{ .PrevInSection.Title }}&nbsp;<i class="fa fa-angle-right"></i></a>
        {{ end }}
      </div>
      <!-- End Prev/Next Post -->
    </div>
  </section>
  <!-- End About Section Workshopraum -->


  <section class="page-section bg-gray" id="kontakt">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-80 mb-sm-40">Kontakt Raumvermietung</h1>
      <div class="row">
        <div class="col-md-4 col-md-push-8 col-sm-6 mb-md-50">
          <div class="contact-item clearfix">
            <h4 class="uppercase">Kontakt</h4>
            <div class="wave-spacer"></div>
            <div class="item">
              <p>Telefon<span><a href="tel:+41313982020">031 398 20 21</a></span></p>
              <p>E-Mail<span><a href="mailto:raumvermietung@effinger.ch">raumvermietung@effinger.ch</a></span></p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-pull-4 col-sm-12">
          <div class="row">
            <div class="col-sm-6 mb-sm-100">
              <div class="team-item">
                <div class="team-item-image">
                  <img src="/images/effianer/claudia-schaeren.jpg" alt="" />
                  <div class="team-item-detail">
                    <p class="font-alt normal">Kaffeebar</p>
                  </div>
                </div>
                <div class="team-item-descr font-alt">
                  <div class="team-item-name">
                    Claudia Schären
                  </div>
                </div>
              </div>
            </div>
            <!--
            <div class="col-sm-6 mb-sm-40">
              <div class="team-item">
                <div class="team-item-image">
                  <img src="/images/effianer/domenica-winkler.jpg" alt="" />
                  <div class="team-item-detail">
                    <p class="font-alt normal">Kaffeebar</p>
                  </div>
                </div>
                <div class="team-item-descr font-alt">
                  <div class="team-item-name">
                    Domenica Winkler
                  </div>
                </div>
              </div>
            </div>
          -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
{{ partial "fullcalendar_includes.html" }}
  {{ if .Params.calendar_id }}
  <script type="text/javascript">
  $(document).ready(function(){
    loadCalendar({{ .Site.Data.room_manager.apiUrl }}, {{ .Params.calendar_id }}, {{ .Title }}, {{ .Params.extras }},
      $('#calendar'), $('#calendar-loading'), $('#calendar-details'),
      $('#calendar-dialog'));
  });
  </script>
  {{ end }}
{{ end }}
