{{ define "head_includes" }}

{{/* For debugging purposes, because reloading by restarting the Screenly displays require a looong time. */}}
<meta http-equiv="refresh" content="60">

<script type="text/javascript">
  var firstErrorMessage = true;
  window.onerror = function(msg, url, linenumber) {
    var elMessageContainer = document.querySelector(".bottom-content");

    if (firstErrorMessage) {
      firstErrorMessage = false
      elMessageContainer.innerHTML =
        '<code style="display: block; margin-top: 2em; color: grey;">' +
          window.navigator.userAgent +
        '</code>';
    }

    elMessageContainer.innerHTML +=
        '<code style="display: block; margin-top: 1em; padding-top: 1em; border-top: 1px solid grey;">' +
          msg + '<br>' +
          url + ':' + linenumber +
        '</code>';

    return true;
  }
</script>
{{ end }}

{{ define "main" }}
<div class="container-outer">
  <div class="container">
    <div class="logo-container">
      <div class="logo"></div>
      <div class="loader"></div>
    </div>

    <h1 class="title">Gäste Heute</h1>

    <div class="center-content"></div>

    <div class="bottom-content"></div>
  </div>
</div>
{{ end }}

{{ define "body_includes" }}
<script type="text/javascript">
  window.BENJIBOOKS_API_URL = "{{ .Site.Data.room_manager.apiUrl }}";
</script>
<script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/js/bookings-display.js"></script>
{{ end }}
