<a href="{{ .RelPermalink }}">
  <div class="event-item bg-gray clearfix">
    <div class="cat">
      {{ $cat_len := len .Params.categories }}
      {{ range first 3 .Params.categories }}
      <div class="{{ if eq $cat_len 2 }}half {{ else if gt $cat_len 2 }}third {{ end }}{{ . | urlize }}"></div>
      {{ end }}
    </div>
    <div class="event-date text">
      <div class="day">{{ .Scratch.Get "start_day" }}</div>
      <div class="month font-alt">{{ .Scratch.Get "start_shortmonth" }}</div>
    </div>
    <div class="event-text text bg-white">
      <h5 class="uppercase">{{ .Title }}</h5>
      <p>
        {{ if eq (.Scratch.Get "end_date") (.Scratch.Get "start_date") }}
          <i class="fa fa-clock-o fa-inline"></i>&nbsp;{{ .Scratch.Get "start_time" }} Uhr<span class="separator">&nbsp;</span>
        {{ else }}
          <i class="fa fa-clock-o fa-inline"></i>&nbsp;{{ .Scratch.Get "start_time" }} – {{ .Scratch.Get "end_time" }} Uhr<span class="separator">&nbsp;</span>
        {{ end }}
        <i class="fa fa-tags fa-inline"></i>&nbsp;{{ delimit .Params.categories ", " }}
      </p>
    </div>
  </div>
</a>
