{{ define "main" }}
<!-- Page Wrap -->
<div class="page grundsaetze" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-dark-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Host gesucht</h1>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- Section -->
  <section class="page-section bg-gray-lighter">

    <div class="container">

      <h2 class="section-title font-alt mb-70 mb-sm-40">
        <i class="fa fa-bullhorn fa-lg"></i> Wanted: Raumvermietungs-Host
      </h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="section-text">
            <p>
              Möchtest du dich als GastgeberIn engagieren und Teil der Effinger Community werden?
            </p>
            <p>
              @raumvermietung sucht Tages- & Abendhosts, die unsere Besucher in Empfang nehmen, bei Bedarf in die
              Workshop-Räumlichkeiten einführen, sich ums Bereitstellen der Seminarverpflegungen kümmern und beim
              Abräumen/Abbauen behilflich sind.
            </p>
            <p>
              Als Raumvermietungs-Host verpflichtest du dich zu einem Tageseinsatz pro Woche und bist je nach Tag/Abend
              und Buchung zu den für die Gruppe wichtigsten Zeiten zwischen 07.30 morgens und 19.30 abends anwesend. An 
              stark belegten Tagen arbeiten zwei Hosts, einer deckt den Morgen/Mittag und einer den Nachmittag/Abend ab.
              Zwischendurch hast du Freiräume und kannst an deinen eigenen Projekten arbeiten. Du benutzt an deinen Einsatztagen
              das Coworking kostenlos und erhältst als Entschädigung je zwei weitere Tagespässe im Effinger Coworking.
            </p>
              In dieser wertvollen Rolle als Gastgeber bist du Teil unserer Community. Du hast Gelegenheit, dich mit Coworker und
              Vertretern der breit durchmischten Gruppen (KMU, Einzelunternehmer, NPO, Start-ups, nationale und internationale
              Unternehmen, Vereine) auszutauschen.
            </p>
            <p>
              Interessant könnte diese Arbeit für JungunternehmerInnen und selbständige CoworkerInnen sein.
            </p>
            <p>
              Bitte melde dich unter <a href="mailto:raumvermietung@effinger.ch">raumvermietung@effinger.ch</a>.<br>
              Wir freuen uns auf deine Kontaktaufnahme!
            </p>
          </div>
        </div>
      </div>





    </div>
  </section>
  <!-- End Section -->

</div>
<!-- End Page Wrap -->
{{ end }}
