{{ define "main" }}
<!-- Page Wrap -->
<div class="page grundsaetze" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-dark-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Host gesucht</h1>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- Section -->
  <section class="page-section bg-gray-lighter">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <h1>
            Wir suchen DICH!
          </h1>
          <div class="wave-spacer mt-0" style="height: 2rem;"></div>
          <div class="section-text mt-40">
            <p>
              Möchtest du dich als <b>Gastgeber:in für unsere Workshopräume</b>
              engagieren und Teil der Effinger Community werden?
            </p>
            <p>
              <b>@raumvermietung</b> sucht <b>Tages- & Abend Hosts</b>, die unsere Besucher
              in Empfang nehmen, bei Bedarf in die Workshop-Räumlichkeiten
              einführen, sich ums Bereitstellen der Seminar&shy;verpflegungen kümmern,
              das Mittagessen mit der Kaffeebar koordinieren und beim
              Abräumen/Abbauen behilflich sind.
            </p>
            <p>
              <b>Ideal ist diese Arbeit für Jungunternehmer:innen und selbständige
              Coworker:innen.</b>
            </p>
            <p>
              Bitte <b>melde</b> dich unter <a href="mailto:raumvermietung@effinger.ch">raumvermietung@effinger.ch</a>.<br />
              Wir <b>freuen</b> uns auf deine <b>Kontaktaufnahme!</b>
            </p>
            <p>
              Markus, Raumvermietung Effinger
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Section -->

</div>
<!-- End Page Wrap -->
{{ end }}
