<!DOCTYPE html>
<html lang="de">
{{ partial "head.html" . }}

<body class="">

  <!-- Page Wrap -->
  <div class="page" id="top">

    <nav class="main-nav dark transparent stick-fixed">
      {{ partial "navigation.html" . }}
    </nav>

    <!-- Header -->
    <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="community.jpg">
      <div class="js-height-parent container">

        <!-- Hero Content -->
        <div class="home-content">
          <div class="home-text">
            <h1 class="font-alt mb-50 mb-xs-30">Community</h1>
            <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">Wir sind eine innovative, kreative Community mit einem gemeinsamen Coworking Space und Kaffeebar in Bern.</h2>
            <div class="local-scroll">
              <a href="#about" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Über uns</a>
              <span class="hidden-xs">&nbsp;</span>
              <a href="#values" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Grundsätze</a>
              <span class="hidden-xs">&nbsp;</span>
              <a href="#history" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Geschichte</a>
            </div>

          </div>
        </div>
        <!-- End Hero Content -->

      </div>
    </section>
    <!-- End Header -->

    <!-- Section Vision -->
    <section class="page-section bg-gray">
      <div class="container relative">
        <blockquote class="align-center">
          <p>Wir sind eine innovative, kreative Community mit einem gemeinsamen Coworking Space und Kaffeebar in Bern. Wir sind eine Heimat für Jungunternehmer, Kreative und andere Weltveränderer, die einander helfen, ihre Ideen in Firmen, Innovationen und soziale Aktionen umzusetzen.</p>
          <footer>Vision</footer>
        </blockquote>
      </div>
    </section>
    <!-- End Section Vision -->

    <!-- Team Section -->
    <section class="page-section" id="about">
      <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">Unsere Community</h2>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="section-text align-center mb-70 mb-xs-40">
              Wer sich wie stark beteiligt, ändert sich laufend. Es gibt Newsletterabonnenten, Blogleserinnen, Online- und Offline-Kommentargeber, Coworker, Einrichtungsverantwortliche, Mitglieder im Slack-Chat, Gönner und einfach Freunde, die uns ermutigen. Genial!
              <br>
              <br> Hier sind die Coworker, die mit unterschiedlichen Rollen den ZeitRaum und (bald) den Effinger betreiben.
            </div>
          </div>
        </div>

        <div class="row multi-columns-row">

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-sm-30 wow fadeInUp">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/domenica.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Hello & Welcome!</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Domenica Winkler
                </div>

                <div class="team-item-role">
                  EFFIANERIN | SÜSSER NACHSCHUB | BLOGGERIN | INTERIOR DESIGNERIN
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/salome.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Nice to meet!</h4>

                  <p>
                    EFFIANERIN | ZURVERFÜGUNGSTEHENDE FÜR EVENTS | WERTSCHÄTZUNG GÖNNER | ZEITRAUM KASSIERIN
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Salome Hostettler
                </div>

                <div class="team-item-role">
                  EFFIANERIN | ZURVERFÜGUNGSTEHENDE FÜR EVENTS | WERTSCHÄTZUNG GÖNNER | ZEITRAUM KASSIERIN
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/marco.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Whats Up!</h4>

                  <p>
                    «Es gibt kaum etwas, das er nicht weiss – ausser um welche Zeit man ins Bett geht. Marco unterrichtet als Informatik-Lehrer, realisiert mit seiner Firma wunderschöne Webseiten, bringt Kids und Erwachsenen das Programmieren bei, baut eine grosse Open-Source Community auf… Kein Wunder hat sein Tag zu wenig Stunden.»
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Marco Jakob
                </div>

                <div class="team-item-role">
                  Effianer | Alter Hase | Slack-Moderator | Informationsdienstleister | Transparenzbegeisterter
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/matthias.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Hi to all!</h4>

                  <p>
                    «Man munkelt, dass er die Welt verändern will. Bisher hat er eine dynamische Entwicklungsorganisation und eine Coaching-Firma für Jungunternehmer gegründet. Die Coworking-Community ist sein nächster Traum und ein kleiner, weiterer Schritt um die Welt… naja ihr wisst schon.»
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Matthias Tobler
                </div>

                <div class="team-item-role">
                  Effianer | Alter Hase | Canvasist | Interior Designer | Verhandler
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

        </div>

      </div>
    </section>
    <!-- End Team Section -->


    {{ partial "footer.html" . }}

  </div>
  <!-- End Page Wrap -->

  {{ partial "body_includes.html" . }}

</body>

</html>
