<!DOCTYPE html>
<html lang="de">
{{ partial "head.html" . }}

<body class="">

  <!-- Page Wrap -->
  <div class="page" id="top">

    <nav class="main-nav dark transparent stick-fixed">
      {{ partial "navigation.html" . }}
    </nav>

    <!-- Header -->
    <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="community.jpg">
      <div class="js-height-parent container">

        <!-- Hero Content -->
        <div class="home-content">
          <div class="home-text">
            <h1 class="font-alt mb-50 mb-xs-30">Community</h1>
            <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">Wir sind eine innovative, kreative Community mit einem gemeinsamen Coworking Space und Kaffeebar in Bern.</h2>
            <div class="local-scroll">
              <a href="#team" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Über uns</a>
              <span class="hidden-xs">&nbsp;</span>
              <a href="#values" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Grundsätze</a>
              <span class="hidden-xs">&nbsp;</span>
              <a href="#history" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Geschichte</a>
            </div>

          </div>
        </div>
        <!-- End Hero Content -->

      </div>
    </section>
    <!-- End Header -->

    <!-- Section Vision -->
    <section class="page-section bg-gray">
      <div class="container relative">
        <blockquote class="align-center">
          <p>Wir sind eine innovative, kreative Community mit einem gemeinsamen Coworking Space und Kaffeebar in Bern. Wir sind eine Heimat für Jungunternehmer, Kreative und andere Weltveränderer, die einander helfen, ihre Ideen in Firmen, Innovationen und soziale Aktionen umzusetzen.</p>
          <footer>Vision</footer>
        </blockquote>
      </div>
    </section>
    <!-- End Section Vision -->

    <!-- Team Section -->
    <section class="page-section" id="team">
      <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">Unsere Community</h2>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="section-text align-center mb-70 mb-xs-40">
              Wer sich wie stark beteiligt, ändert sich laufend. Es gibt Newsletterabonnenten, Blogleserinnen, Online- und Offline-Kommentargeber, Coworker, Einrichtungsverantwortliche, Mitglieder im Slack-Chat, Gönner und einfach Freunde, die uns ermutigen. Genial!
              <br>
              <br> Hier sind die Coworker, die als "Effianer" verantwortlich sind für den Betrieb des Effingers betreiben.
            </div>
          </div>
        </div>

        <div class="row multi-columns-row">
          
          {{ $today := index $.Site.Data.de.weekdays .Now.Weekday }}
          
          {{ $.Scratch.Set "delay" -1 }}
          {{ range sort $.Site.Data.effianer "weight" }}
          {{ $.Scratch.Set "delay" (mod (add ($.Scratch.Get "delay") 1) 4) }}
          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-50 wow fadeInUp" data-wow-delay="0.{{ $.Scratch.Get "delay" }}s">
            <div class="team-item">
              <div class="team-item-image">
                <img src="{{ .image }}" alt="" />
                <div class="team-item-detail">
                  <!--
                  <h4 class="font-alt normal"></h4>
                  <p>
                    {{ .description_text }}
                  </p>
                  -->
                  <div class="team-social-links">
                    {{ if .email }}
                      <a href="mailto:{{ .email }}" target="_blank"><i class="fa fa-envelope"></i></a>
                    {{ end }}
                    {{ if .phone }}
                      <a href="tel:{{ .phone }}" target="_blank"><i class="fa fa-phone"></i></a>
                    {{ end }}
                    {{ if .website }}
                      <a href="{{ .website }}" target="_blank"><i class="fa fa-globe"></i></a>
                    {{ end }}
                    {{ if .twitter }}
                      <a href="https://twitter.com/{{ .twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                    {{ end }}
                    {{ if .facebook }}
                      <a href="https://www.facebook.com/{{ .facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                    {{ end }}
                    {{ if .instagram }}
                      <a href="https://www.instagram.com/{{ .instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
                    {{ end }}
                  </div>
                </div>
              </div>
              <div class="team-item-descr font-alt">
                <div class="team-item-name">
                  {{ .name }}
                </div>
                <div class="team-item-role">
                  {{ if .host }}
                  Gastgeber am {{ delimit .host ", " " und " }}
                  {{ else }}
                  {{ .description }}
                  {{ end }}
                </div>
              </div>
              
              {{ if in .host $today }}
              <div class="team-item-label">
                  <span class="label">Heute Gastgeber</span>
              </div>
              {{ end }}
            </div>
          </div>
          <!-- End Team Item -->
          {{ end }}
        </div>
      </div>
    </section>
    <!-- End Team Section -->


    {{ partial "footer.html" . }}

  </div>
  <!-- End Page Wrap -->

  {{ partial "body_includes.html" . }}

</body>

</html>
