<!DOCTYPE html>
<html lang="de">
{{ partial "head.html" . }}

<body class="">

  <!-- Page Wrap -->
  <div class="page" id="top">

    <nav class="main-nav dark transparent stick-fixed">
      {{ partial "navigation.html" . }}
    </nav>

    <!-- Header --> 
    <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="community.jpg">
      <div class="js-height-parent container">

        <!-- Hero Content -->
        <div class="home-content">
          <div class="home-text">
            <h1 class="font-alt mb-50 mb-xs-30">Community</h1>
            <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">Wir sind eine innovative, kreative Community mit einem gemeinsamen Coworking Space und Kaffeebar in Bern.</h2>
            <div class="local-scroll">
              <a href="#about" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Über uns</a>
              <span class="hidden-xs">&nbsp;</span>
              <a href="#values" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Grundsätze</a>
              <span class="hidden-xs">&nbsp;</span>
              <a href="#history" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Geschichte</a>
            </div>

          </div>
        </div>
        <!-- End Hero Content -->

      </div>
    </section>
    <!-- End Header -->

    <!-- Team Section -->
    <section class="page-section" id="about">
      <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">Unsere Community</h2>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="section-text align-center mb-70 mb-xs-40">
              Wer sich wie stark beteiligt, ändert sich laufend. Es gibt Newsletterabonnenten, Blogleserinnen, Online- und Offline-Kommentargeber, Coworker, Einrichtungsverantwortliche, Mitglieder im Slack-Chat, Gönner und einfach Freunde, die uns ermutigen. Genial!
              <br>
              <br> Hier sind die Coworker, die mit unterschiedlichen Rollen den ZeitRaum und (bald) den Effinger betreiben.
            </div>
          </div>
        </div>
 
        <div class="row multi-columns-row">

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-sm-30 wow fadeInUp">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/domenica.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Hello & Welcome!</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Domenica Winkler
                </div>

                <div class="team-item-role">
                  EFFIANERIN | SÜSSER NACHSCHUB | BLOGGERIN | INTERIOR DESIGNERIN
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/salome.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Nice to meet!</h4>

                  <p>
                    EFFIANERIN | ZURVERFÜGUNGSTEHENDE FÜR EVENTS | WERTSCHÄTZUNG GÖNNER | ZEITRAUM KASSIERIN
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Salome Hostettler
                </div>

                <div class="team-item-role">
                  EFFIANERIN | ZURVERFÜGUNGSTEHENDE FÜR EVENTS | WERTSCHÄTZUNG GÖNNER | ZEITRAUM KASSIERIN
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/marco.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Whats Up!</h4>

                  <p>
                    «Es gibt kaum etwas, das er nicht weiss – ausser um welche Zeit man ins Bett geht. Marco unterrichtet als Informatik-Lehrer, realisiert mit seiner Firma wunderschöne Webseiten, bringt Kids und Erwachsenen das Programmieren bei, baut eine grosse Open-Source Community auf… Kein Wunder hat sein Tag zu wenig Stunden.»
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Marco Jakob
                </div>

                <div class="team-item-role">
                  Effianer | Alter Hase | Slack-Moderator | Informationsdienstleister | Transparenzbegeisterter
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/matthias.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Hi to all!</h4>

                  <p>
                    «Man munkelt, dass er die Welt verändern will. Bisher hat er eine dynamische Entwicklungsorganisation und eine Coaching-Firma für Jungunternehmer gegründet. Die Coworking-Community ist sein nächster Traum und ein kleiner, weiterer Schritt um die Welt… naja ihr wisst schon.»
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Matthias Tobler
                </div>

                <div class="team-item-role">
                  Effianer | Alter Hase | Canvasist | Interior Designer | Verhandler
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

        </div>

      </div>
    </section>
    <!-- End Team Section -->


    <!-- Section -->
    <section id="values" class="page-section bg-dark-alfa-70" data-background="values.jpg">
      <div class="container relative">

        <!-- Features Grid -->
        <div class="item-carousel owl-carousel">

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-icon">
              <span class=" icon-hotairballoon"></span>
            </div>
            <div class="features-title font-alt">
              Ganzheit
            </div>
            <div class="features-descr">
              We find the best ideas for you
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-icon">
              <span class="icon-clock"></span>
            </div>
            <div class="features-title font-alt">
              Vielfalt
            </div>
            <div class="features-descr">
              We always do your tasks on time
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-icon">
              <span class="icon-lightbulb"></span>
            </div>
            <div class="features-title font-alt">
              Einheit
            </div>
            <div class="features-descr">
              You will be delighted
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-icon">
              <span class="icon-wine"></span>
            </div>
            <div class="features-title font-alt">
              Dankbarkeit
            </div>
            <div class="features-descr">
              We find the best ideas for you
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-icon">
              <span class="icon-tools"></span>
            </div>
            <div class="features-title font-alt">
              Grosszügigkeit
            </div>
            <div class="features-descr">
              We always do your tasks on time
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-icon">
              <span class="icon-gears"></span>
            </div>
            <div class="features-title font-alt">
              Vertrauen
            </div>
            <div class="features-descr">
              You will be delighted
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-icon">
              <span class="icon-browser"></span>
            </div>
            <div class="features-title font-alt">
              Transparenz
            </div>
            <div class="features-descr">
              We find the best ideas for you
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-icon">
              <span class="icon-wallet"></span>
            </div>
            <div class="features-title font-alt">
              Exzellenz
            </div>
            <div class="features-descr">
              We always do your tasks on time
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-icon">
              <span class="icon-document"></span>
            </div>
            <div class="features-title font-alt">
              Dienen
            </div>
            <div class="features-descr">
              You will be delighted
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-icon">
              <span class="icon-document"></span>
            </div>
            <div class="features-title font-alt">
              Gerechtigkeit
            </div>
            <div class="features-descr">
              You will be delighted
            </div>
          </div>
          <!-- End Features Item -->

        </div>
        <!-- Features Grid -->

      </div>
    </section>
    <!-- End Section -->

       <!-- About Section -->
    <section class="page-section">
      <div class="container relative">
        <div class="section-text mb-60 mb-sm-40">
          <div class="row">

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              In den ersten beiden Teilen findest du unsere Vision und Werte. Darauf basieren unsere kleinen, alltäglichen Handlungen aber auch grössere Entscheidungen. Wir wissen, dass wir mit diesen Werten viel Gewohntes auf den Kopf stellen. Natürlich werden wir nie alles voll erfüllen können, schon gar nicht von Anfang an. Mit den Umsetzungsbeispielen zeigen wir, wie andere Firmen diese Werte leben oder wir schon einmal angedacht hatten und lassen uns davon gerne herausfordern und inspirieren.
            </div>

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              Für die Umsetzung sind wir auf dich angewiesen! Achte beim Lesen der Grundsätze darauf, ob dir etwas besonders auffällt. Dann fordere uns heraus, dies zu leben. Am besten übernimmst du dafür gleich eine Rolle. Mit einer Rolle gibt dir die Community ganz offiziell das Recht, dich für etwas einzusetzen und dafür auch die nötigen Massnahmen zu ergreifen. Im Teil drei wird beschrieben, was Rollen genau sind und wie diese vergeben werden.
            </div>

            <div class="col-md-4 col-sm-12 mb-sm-50 mb-xs-30">
              In unserer Community gibt es keine Hierarchie. Das heisst, dass wir neue Wege gehen müssen, um Entscheidungen zu fällen. Im Teil 4 kannst du nachlesen, wie jeder Einzelne mit dem Beratungsprozess Entscheidungen fällen kann und wie wir als ganze Community vorgehen, um zu schnellen und guten Entscheidungen zu gelangen.
              (Copy&Paste Grundsätze) 
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->
   
    <!-- Section -->
    <section id="history" class="small-section bg-dark-alfa-30" data-background="history.jpg">
      <div class="relative container align-left">

        <div class="row">

          <div class="col-md-8">
            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Geschichte</h1>
            <div class="hs-line-4 font-alt">
              Wie es dazu kam, dass...
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Section -->



    <!-- Section -->
    <section class="page-section bg-gray-lighter">
      <div class="container">

        <div class="row mb-70 mb-xs-40">
          <div class="col-md-8 col-md-offset-2">
            <div class="section-text align-center">
              <h3 class="section-title font-alt mb-20 mt-30">Der Anfang</h3>
              Für spontane und unverbindliche Coworker bieten wir Tagespässe und 10er-Abos an. Wer regelmässig bei uns arbeiten oder sogar einen fixen Arbeitsplatz einrichten möchte, kann ein Teilzeit- oder Vollzeit-Abo lösen.
            </div>
          </div>
        </div>

        <div class="row mb-70 mb-xs-40">
          <div class="col-md-8 col-md-offset-2">
            <div class="section-text">
              <h3 class="section-title font-alt mb-20 mt-70">Der Schluss</h3>
              Damit wirst du Teil der Community und leistest einen finanziellen Beitrag, bist aber auch bereit einen Teil deiner wertvollen Zeit der Community zur Verfügung zu stellen. So wollen wir unsere Community und unsere Gemeinnützigkeit stärken und können zudem unsere Kosten im Zaum halten.
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <!-- End Section -->
    
    <!-- Section -->
    <section class="page-section bg-gray">
      <div class="container">
        <!-- Features Grid -->
        <h3 class="section-title font-alt mb-40">Meilensteine</h3>
        <div class="row multi-columns-row alt-features-grid">

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-presentation"></span>
              </div>
              <h3 class="alt-features-title font-alt">How the heck?</h3>
              <div class="alt-features-descr align-left">
                Wir bieten Firmen die Möglichkeiten, flexible Arbeitsplätze in einer kreativen und innovativen Umgebung zu mieten. Diese Arbeitsplätze sind übertragbar, können also von unterschiedlichen Mitarbeitern verwendet werden. Ein Firmen-Arbeitsplatz kostet CHF 700.- pro Monat.
              </div>
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-target"></span>
              </div>
              <h3 class="alt-features-title font-alt">ZeitRaum</h3>
              <div class="alt-features-descr align-left">
                Workshop-Räume werden extern vermietet. Der Preis liegt bei ca. CHF 45.- für eine Stunde bis ca. CHF 150.- für einen halben Tag. Zusätzlich bestehen Catering-Möglichkeiten von der Kaffeebar (Früchtekorb, Gipfeli, Getränke, etc.).
              </div>
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-circle-compass"></span>
              </div>
              <h3 class="alt-features-title font-alt">Effinger</h3>
              <div class="alt-features-descr align-left">
                Neben den klassischen Bürotisch-Arbeitsplätzen bieten wir in einem Atelier Raum für Kreative und Handwerker. Die Preise sind gleich wie beim Coworking. Falls du dich für das Atelier interessierst, melde dich am besten bei graziella@effinger.ch.
              </div>
            </div>
          </div>
          <!-- End Features Item -->

        </div>
        <!-- End Features Grid -->
      </div>
    </section>
    <!-- End Section -->
    
    {{ partial "footer.html" . }}

  </div>
  <!-- End Page Wrap -->

  {{ partial "body_includes.html" . }}

</body>

</html>