{{/* Prefill variables that can be overridden in the "variables" block with .Scratch.Set */}}
{{ if .Title -}}
{{ .Scratch.Set "title" (print .Title " | " .Site.Title) -}}
{{ else -}}
{{ .Scratch.Set "title" .Site.Title -}}
{{ end -}}
{{ .Scratch.Set "description" .Description -}}

{{ block "variables" . -}}{{ end -}}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="all" >
    <meta name="keywords" content="{{ .Site.Params.keywords }}">

    <meta name="description" content="{{ .Scratch.Get "description" }}">
    <meta name="author" content="{{ .Site.Params.author }}" >

    <!-- Twitter Card data -->
    {{ block "twitter_card" . }}
    <meta name="twitter:card" value="summary">
    {{ end }}

    <!-- Open Graph data -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Scratch.Get "title" }}" />
    <meta property="og:description" content="{{ .Scratch.Get "description" }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ partial `utils/image_permalink.html` . }}" />

    <title>{{ .Scratch.Get "title" }}</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">

    <!-- Stylesheets -->
    {{/* Process bootstrap.scss */}}
    {{ $bootstrapOptions := (dict "targetPath" "css/bootstrap.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $bootstrapCss := resources.Get "sass/bootstrap.scss" | resources.ToCSS $bootstrapOptions }}
    <link rel="stylesheet" href="{{ $bootstrapCss.RelPermalink }}">

    {{/* Process style.scss */}}
    {{ $styleOptions := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $styleCss := resources.Get "sass/style.scss" | resources.ToCSS $styleOptions }}
    <link rel="stylesheet" href="{{ $styleCss.RelPermalink }}">

    {{/* Process animate.scss */}}
    {{ $animateOptions := (dict "targetPath" "css/animate.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $animateCss := resources.Get "sass/animate.scss" | resources.ToCSS $animateOptions }}
    <link rel="stylesheet" href="{{ $animateCss.RelPermalink }}">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.min.css">

    <!-- RSS -->
    <link href="/blog/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ block "head_includes" . }}{{ end }}
  </head>
  <body>

    {{ block "main" . }}{{ end }}

    {{ partial "footer.html" . }}

    <!-- JS -->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-migrate-3.4.1.js"></script>

    <script type="text/javascript" src="/js/jquery.easing.1.4.min.js" defer></script>
    <script type="text/javascript" src="/js/jquery.scrollTo.min.js" defer></script>
    <script type="text/javascript" src="/js/jquery.localScroll.min.js" defer></script>
    <script type="text/javascript" src="/js/jquery.viewport.mini.js" defer></script>
    <script type="text/javascript" src="/js/jquery.countTo.js" defer></script>
    <script type="text/javascript" src="/js/jquery.appear.js" defer></script>
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js" defer></script>

    <script type="text/javascript" src="/js/bootstrap.bundle.min.js" defer></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js" defer></script>
    <script type="text/javascript" src="/js/wow.min.js" defer></script>
    <script type="text/javascript" src="/js/all.js" defer></script>

    {{ block "body_includes" . }}{{ end }}
  </body>
</html>
