{{ define "main" }}
<!-- Page Wrap -->
<div class="page page-medien" id="top">

  <nav class="main-nav dark transparent stick-fixed">
  {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-dark-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Medien</h1>
          <div class="hs-line-4 font-alt mt-20 mt-xs-0">
            Medienberichte über Effinger
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- Medien Kit -->
  <section class="page-section pt-80 pb-80 bg-gray">
    <div class="container relative">
      <div class="row">
        <div class="col-sm-7 col-md-8 mb-40">
          <div class="row">
            <div class="col-xs-4 col-md-3 mb-xs-40">
              <a href="/medien/">
                <span class="icon-newspaper" style="font-size: 80px;"></span>
              </a>
            </div>
            <div class="col-xs-8 col-md-7 col-lg-6 mb-xs-60">
              <p>Auf dieser Seite findest du Zeitungsartikel und andere Medienberichte über den Effinger.
              </p>
              <div class="local-scroll">
                <a href="#medienberichte" class="btn btn-mod btn-border btn-medium btn-round">&darr; Medienberichte</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-md-4 mb-40">
          <div class="contact-item clearfix">
            <h4 class="uppercase">Medienkit</h4>
            <div class="wave-spacer"></div>
            <div class="item">
              <p>Fotos für Medien können unter folgendem Link heruntergeladen werden.</p>
              <a href="https://sites.google.com/effinger.ch/medien/" target="_blank"
                  class="btn btn-mod btn-medium btn-round mt-20 white">&rarr; Zum Medienkit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="medienberichte">

  </div>

  {{ range $i, $e := .Data.Pages.GroupByDate "2006" }}
    <section class="page-section pb-40 {{ if not (modBool $i 2) }}bg-gray{{ end }}">
      <div class="container relative">
        <div class="row">
          <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-4">
            <h2 class="hs-line-11 font-alt">{{ $e.Key }}</h2>
          </div>
        </div>
        {{ range $e.Pages }}
        <div class="row">
          <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-10 mb-80 mb-xs-20">
            <!-- Image -->
            <div class="blog-media mb-10 image-crop image-crop-4by3">
              <div class="image-crop-inner"
                style="background-image: url({{ .RelPermalink }}{{ .Params.image }})">
              </div>
            </div>
          </div>

          <div class="col-md-5 col-sm-6 col-xs-12 mb-80">
            <!-- Post Title -->
            <h3 class="blog-item-title font-alt mt-0 hyphenate">{{ .Params.author }}</h3>

            <!-- Date, Author -->
            <div class="blog-item-data mb-20">
              <a><i class="fa fa-clock-o fa-newspaper-o"></i>&nbsp;{{ .Description }}</a><br>
              <a><i class="fa fa-clock-o fa-inline"></i>&nbsp;{{ .Date.Format "02.01.2006" }}</a>
            </div>

            <!-- Text Intro -->
            <div class="post-prev-text">
              <p>
                {{ .Title }}
              </p>
            </div>

            <!-- Read More Link -->
            <div class="blog-item-foot">
              {{ if .Params.video }}
              <a href="{{ .Params.video }}" class="btn btn-mod btn-round btn-small mb-xs-10" target="_blank"><i class="fa fa-video-camera"></i> Podcast als Video</a>
              {{ end }}
              {{ if .Params.pdf }}
              <a href="{{ .RelPermalink }}{{ .Params.pdf }}" class="btn btn-mod btn-round btn-small mb-xs-10" target="_blank"><i class="fa fa-download"></i> Artikel als PDF</a>
              {{ end }}
              {{ if .Params.online }}
              <a href="{{ .Params.online }}" class="btn btn-mod btn-round btn-small mb-xs-10" target="_blank"><i class="fa fa-external-link"></i> Artikel Online</a>
              {{ end }}
              {{ if .Params.mp3 }}
                {{ if hasPrefix .Params.mp3 "http" }}
                  <a href="{{ .Params.mp3 }}" class="btn btn-mod btn-round btn-small mb-xs-10" target="_blank"><i class="fa fa-music"></i> Podcast anhören</a>
                {{ else }}
                  <a href="{{ .RelPermalink }}{{ .Params.mp3 }}" class="btn btn-mod btn-round btn-small mb-xs-10" target="_blank"><i class="fa fa-music"></i> Podcast anhören</a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </section>
  {{ end }}
</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
{{ partial "disqus_count.html" . }}
{{ end }}
