<!DOCTYPE html>
<html lang="de">
{{ partial "head.html" . }}

<body class="">

  <!-- Page Wrap -->
  <div class="page" id="top">

    <nav class="main-nav dark transparent stick-fixed">
      {{ partial "navigation.html" . }}
    </nav>

    <!-- Header -->
    <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="effinger.jpg">
      <div class="js-height-parent container">

        <!-- Hero Content -->
        <div class="home-content">
          <div class="home-text">
            <h1 class="font-alt mb-50 mb-xs-30">Coworking Space</h1>
            <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">Eine Heimat für Jungunternehmer, Kreative und andere Weltveränderer.</h2>
            <div class="local-scroll">
              <a href="#offers" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Angebote</a>
              <span class="hidden-xs">&nbsp;</span>
              <a href="#pricing" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Preise</a>
            </div> 

          </div>
        </div>
        <!-- End Hero Content -->

      </div>
    </section>
    <!-- End Header -->

    <!-- Features Section -->
    <section class="page-section">
      <div class="container relative">

        <!-- Features Grid -->
        <div class="row multi-columns-row alt-features-grid">

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-puzzle"></span>
              </div>
              <h3 class="alt-features-title font-alt">Coworking</h3>
              <div class="alt-features-descr align-left">
                Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum orci sit amet, iaculis libero.
              </div>
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-circle-compass"></span>
              </div>
              <h3 class="alt-features-title font-alt">Atelier</h3>
              <div class="alt-features-descr align-left">
                Lorem ipsum dolor sit amet, c-r adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim.
              </div>
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-tools-2"></span>
              </div>
              <h3 class="alt-features-title font-alt">Werkstatt</h3>
              <div class="alt-features-descr align-left">
                Fusce aliquet quam eget neque ultrices elementum. Nulla posuere felis id arcu blandit sagittis. Eleifender vestibulum purus, sit amet vulputate risus.
              </div>
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-target"></span>
              </div>
              <h3 class="alt-features-title font-alt">Workshopraum</h3>
              <div class="alt-features-descr align-left">
                Fusce aliquet quam eget neque ultrices elementum. Nulla posuere felis id arcu blandit sagittis. Eleifender vestibulum purus, sit amet vulputate risus.
              </div>
            </div>
          </div>
          <!-- End Features Item -->

        </div>
        <!-- End Features Grid -->

      </div>
    </section>
    <!-- End Features Section -->

    <!-- Section -->
    <section class="small-section bg-dark-alfa-30" data-background="handcraft.jpg">
      <div class="relative container align-left">

        <div class="row">

          <div class="col-md-8">
            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Atelier</h1>
            <div class="hs-line-4 font-alt">
              Hier wird hand gewerkt
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Section -->

    <!-- About Section -->
    <section class="page-section" id="about">
      <div class="container relative">
        <div class="section-text mb-60 mb-sm-40">
          <div class="row">

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.
            </div>

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet, iaculis libero. Donec vel ultricies purus. Nam dictum sem, eu aliquam.
            </div>

            <div class="col-md-4 col-sm-12 mb-sm-50 mb-xs-30">

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                  Branding, % <span>90</span>
                </div>
              </div>
              <!-- End Bar Item -->

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                  Design, % <span>80</span>
                </div>
              </div>
              <!-- End Bar Item -->

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                  Development, % <span>85</span>
                </div>
              </div>
              <!-- End Bar Item -->

            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- Section -->
    <section class="page-section bg-gray-lighter" id="pricing">
      <div class="container">

        <div class="row mb-70 mb-xs-40">
          <div class="col-md-8 col-md-offset-2">
            <div class="section-text align-center">
              <h3 class="section-title font-alt mb-20 mt-30">Preise</h3> 
              Für spontane und unverbindliche Coworker bieten wir Tagespässe und 10er-Abos an. Wer regelmässig bei uns arbeiten oder sogar einen fixen Arbeitsplatz einrichten möchte, kann ein Teilzeit- oder Vollzeit-Abo lösen.
            </div>
          </div>
        </div>

        <!-- Pricing row -->
        <div class="row multi-columns-row">

          <!-- Pricing Item -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="pricing-item">
              <div class="pricing-item-inner">
                <div class="pricing-wrap">

                  <!-- Icon (Simple-line-icons) -->
                  <div class="pricing-icon">
                    <i class="fa fa-paper-plane-o"></i>
                  </div>

                  <!-- Pricing Title -->
                  <div class="pricing-title">
                    Tagespass
                  </div>

                  <!-- Pricing Features -->
                  <div class="pricing-features font-alt">
                    <ul class="sf-list pr-list">
                      <li>1 Arbeitsplatz</li>
                      <li>1 Kaffee</li>
                      <li>Internetzugang</li>
                      <li>Drucker (fair use)</li>
                      <li>Inspirierende Leute</li>
                    </ul>
                  </div>

                  <div class="pricing-num">
                    <sup>CHF</sup>30.-
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- End Pricing Item -->

          <!-- Pricing Item -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="pricing-item">
              <div class="pricing-item-inner">
                <div class="pricing-wrap">

                  <!-- Icon (Simple-line-icons) -->
                  <div class="pricing-icon">
                    <i class="fa fa-gift"></i>
                  </div>

                  <!-- Pricing Title -->
                  <div class="pricing-title">
                    Zehner-Abo
                  </div>

                  <!-- Pricing Features -->
                  <div class="pricing-features font-alt">
                    <ul class="sf-list pr-list">
                      <li>1 Arbeitsplatz / Tag</li>
                      <li>1 Kaffee / Tag</li>
                      <li>Internetzugang</li>
                      <li>Drucker (fair use)</li>
                      <li>Inspirierende Leute</li>
                    </ul>
                  </div>

                  <div class="pricing-num">
                    <sup>CHF</sup>270.-
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- End Pricing Item -->

          <!-- Pricing Item -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="pricing-item">
              <div class="pricing-item-inner">
                <div class="pricing-wrap">

                  <!-- Icon (Simple-line-icons) -->
                  <div class="pricing-icon">
                    <i class="fa fa-desktop"></i>
                  </div>

                  <!-- Pricing Title -->
                  <div class="pricing-title">
                    Teilzeit*
                  </div>

                  <!-- Pricing Features -->
                  <div class="pricing-features font-alt">
                    <ul class="sf-list pr-list">
                      <li>2 Tage / Woche</li>
                      <li>Tisch oder Atelierplatz</li>
                      <li>2 Kaffees / Tag</li>
                      <li>Internetzugang</li>
                      <li>Drucker (fair use)</li>
                      <li>Inspirierende Leute</li>
                      <li>Workshop Raum</li>
                      <li>Community Membership</li>
                    </ul>
                  </div>



                  <div class="pricing-num">
                    <sup>CHF</sup>160.-
                  </div>

                  <div class="pr-per">
                    pro Monat
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- End Pricing Item -->

          <!-- Pricing Item -->
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="pricing-item">
              <div class="pricing-item-inner">
                <div class="pricing-wrap">

                  <!-- Icon (Simple-line-icons) -->
                  <div class="pricing-icon">
                    <i class="fa fa-suitcase"></i>
                  </div>

                  <!-- Pricing Title -->
                  <div class="pricing-title">
                    Vollzeit*
                  </div>

                  <!-- Pricing Features -->
                  <div class="pricing-features font-alt">
                    <ul class="pr-list">
                      <li>5 Tage / Woche</li>
                      <li>Tisch oder Atelierplatz</li>
                      <li>2 Kaffees / Tag</li>
                      <li>Internetzugang</li>
                      <li>Drucker (fair use)</li>
                      <li>Inspirierende Leute</li>
                      <li>Workshop Raum</li>
                      <li>Community Membership</li>
                    </ul>
                  </div>

                  <div class="pricing-num">
                    <sup>CHF</sup>350.-
                  </div>

                  <div class="pr-per">
                    pro Monat
                  </div>                 

                </div>
              </div>
            </div>
          </div>
          <!-- End Pricing Item -->

        </div>
        <!-- End Pricing row -->
        
        <div class="row mb-70 mb-xs-40">
          <div class="col-md-8 col-md-offset-2">
            <div class="section-text">
              <h3 class="section-title font-alt mb-20 mt-70">* Teilzeit / Vollzeit</h3> 
              Damit wirst du Teil der Community und leistest einen finanziellen Beitrag, bist aber auch bereit einen Teil deiner wertvollen Zeit der Community zur Verfügung zu stellen. So wollen wir unsere Community und unsere Gemeinnützigkeit stärken und können zudem unsere Kosten im Zaum halten.
              <br><br> 
              <strong>Extras</strong>
              <ul>
                <li>Versicherung: Die Monatsabos beinhalten eine Sachversicherung</li>
                <li>Schliessfächer: CHF 25 pro Monat</li>
                <li>Fixer Arbeitsplatz: CHF 100 pro Monat (inkl. Schliessfach)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Section -->
    
    <!-- Features Section -->
    <section class="page-section">
      <div class="container relative">

        <!-- Features Grid -->
        <div class="row multi-columns-row alt-features-grid">

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-presentation"></span>
              </div>
              <h3 class="alt-features-title font-alt">Firmen-Arbeitplätze</h3>
              <div class="alt-features-descr align-left">
                Wir bieten Firmen die Möglichkeiten, flexible Arbeitsplätze in einer kreativen und innovativen Umgebung zu mieten. Diese Arbeitsplätze sind übertragbar, können also von unterschiedlichen Mitarbeitern verwendet werden. Ein Firmen-Arbeitsplatz kostet CHF 700.- pro Monat.
              </div>
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-target"></span>
              </div>
              <h3 class="alt-features-title font-alt">Workshop-Räume</h3>
              <div class="alt-features-descr align-left">
                Workshop-Räume werden extern vermietet. Der Preis liegt bei ca. CHF 45.- für eine Stunde bis ca. CHF 150.- für einen halben Tag. Zusätzlich bestehen Catering-Möglichkeiten von der Kaffeebar (Früchtekorb, Gipfeli, Getränke, etc.).
              </div>
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-circle-compass"></span> 
              </div>
              <h3 class="alt-features-title font-alt">Atelier</h3>
              <div class="alt-features-descr align-left">
                Neben den klassischen Bürotisch-Arbeitsplätzen bieten wir in einem Atelier Raum für Kreative und Handwerker. Die Preise sind gleich wie beim Coworking. Falls du dich für das Atelier interessierst, melde dich am besten bei graziella@effinger.ch.
              </div>
            </div>
          </div>
          <!-- End Features Item -->

        </div>
        <!-- End Features Grid -->

      </div>
    </section>
    <!-- End Features Section -->
    
    <!-- Daily Contact Section -->
    <section class="page-section bg-gray">     
      <div class="container relative">
        <h3 class="section-title font-alt mb-40">Heute für dich da</h3>
        
        <div class="row multi-columns-row">

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 col-md-offset-3 mb-sm-30 wow fadeInUp">
            <div class="team-item">

              <div class="team-item-image">

                <img src="team/marco.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Hello & Welcome!</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Marco Jakob
                </div>

                <div class="team-item-role">
                  Bigboss
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->
          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-sm-30 wow fadeInUp">
            <div class="team-item">

              <div class="team-item-image">

                <img src="team/matthias.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Hello & Welcome!</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Matthias Tobler
                </div>

                <div class="team-item-role">
                  Bigboss
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->
        </div>      
      </div>
    </section>
    <!-- End Daily Contact Section -->    
    
    <!-- Contact Section -->
    <section class="page-section" id="contact"> 
      <div class="container relative"> 

        <div class="row mb-60 mb-xs-40">

          <div class="col-md-8 col-md-offset-2">
            <div class="row">

              <!-- Phone -->
              <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                <div class="contact-item">
                  <div class="ci-icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <div class="ci-title font-alt">
                    Telefon
                  </div>
                  <div class="ci-text">
                    +61 3 8376 6284
                  </div>
                </div>
              </div>
              <!-- End Phone -->

              <!-- Address -->
              <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                <div class="contact-item">
                  <div class="ci-icon">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="ci-title font-alt">
                    Adresse
                  </div>
                  <div class="ci-text">
                    Effingerstrasse 10,<br>3011 Bern
                  </div>
                </div>
              </div>
              <!-- End Address -->

              <!-- Email -->
              <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                <div class="contact-item">
                  <div class="ci-icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="ci-title font-alt">
                    Email
                  </div>
                  <div class="ci-text">
                    <a href="mailto:support@bestlooker.pro">coworking@effinger.ch</a>
                  </div>
                </div>
              </div>
              <!-- End Email -->

            </div>
          </div>

        </div>

        <!-- Contact Form -->
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <form class="form contact-form" id="contact_form">
              <div class="clearfix">

                <div class="cf-left-col">

                  <!-- Name -->
                  <div class="form-group">
                    <input type="text" name="name" id="name" class="input-md round form-control" placeholder="Name" pattern=".{3,100}" required>
                  </div>

                  <!-- Email -->
                  <div class="form-group">
                    <input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" pattern=".{5,100}" required>
                  </div>

                </div>

                <div class="cf-right-col">

                  <!-- Message -->
                  <div class="form-group">
                    <textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="Message"></textarea>
                  </div>

                </div>

              </div>

              <div class="clearfix">

                <div class="cf-left-col">

                  <!-- Inform Tip -->
                  <div class="form-tip pt-20">
                    <i class="fa fa-info-circle"></i> All the fields are required
                  </div>

                </div>

                <div class="cf-right-col">

                  <!-- Send Button -->
                  <div class="align-right pt-10">
                    <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Submit Message</button>
                  </div>

                </div>

              </div>



              <div id="result"></div>
            </form>

          </div>
        </div>
        <!-- End Contact Form -->

      </div>
    </section>
    <!-- End Contact Section -->
    

    {{ partial "footer.html" . }}

  </div>
  <!-- End Page Wrap -->

  {{ partial "body_includes.html" . }}

</body>

</html>