{{ define "main" }}
<!-- Page Wrap -->
<div class="page coworking" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="coworking_header.jpg">
    <div class="js-height-parent container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="font-alt mb-50 mb-xs-30">
            Coworking
          </h1>

          <div class="local-scroll">
            <a href="#preise" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Preise</a>
            <span class="hidden-xs">&nbsp;</span>
            <a href="#kontakt" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Anfrage</a>
          </div>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Header -->

  <!-- Winterferien -->
  <!-- <section>
    <div style="display: flex; flex-flow: row nowrap; justify-content: center; align-items: flex-start; padding: 3em 0; background: #fae300;">
      <img src="/images/betriebsferien-winter-baum.png" aria-hidden="true"
           style="width: 55px; margin: 0.5em; border-radius: 50%; padding: 3px 4px 5px; background: white;" />
      <p style="align-self: center; margin: 0 0.5em; padding-top: 0.2em;">
        Der Effinger bleibt über Weihnachten-Neujahr geschlossen.<br />
        Vom <strong>Donnerstag 23. Dezember</strong> bis zum <strong>Sonntag 9. Januar</strong>
        kannst du nur ins Coworking kommen, wenn du jemanden mit Schlüssel kennst.<br />
        Ab <strong>Montag 10. Januar</strong> sind wir wieder zu den gewohnten Öffnungszeiten für dich da.
      </p>
    </div>
  </section> -->
  <!-- End Winterferien -->

  <!-- About Section Coworking -->
  <section id="facilities" class="page-section">
    <div class="container relative">

      <h2 class="hs-line-11 font-alt mb-60 text-center">Spontan oder im Abo</h2>
      <div class="row">
        <div class="col-md-6">
          <img src="coworking_intro.jpg" alt=""/>
        </div>
        <div class="col-md-6" style="font-size: 2rem;"><br/>
          <p>
            Bei uns sind täglich Plätze frei, mit schnellem Wifi und gemeinsamer Kaffeepause um 10h.
            Vorgängiges Reservieren ist nicht nötig.
          </p>
          <p>
            <strong>Melde dich spontan bei unseren Tageshosts in der Lounge.</strong><br/>
            Mo – Fr von 8 bis 18 Uhr<br/>
            <a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2"
               style="text-decoration: none;">
              Effingerstrasse 10, Bern
            </a><br/>
            coworking@effinger.ch
          </p>
        </div>
      </div>
    </div>
    <div class="container relative">
      <h2 class="hs-line-11 font-alt mt-120 mb-60 text-center">Was dich bei uns erwartet</h2>
      <ul class="list-unstyled row" style="font-size: 2rem;">
        <li class="col-xs-12 col-sm-6 col-md-4"><i class="fa fa-check"></i>täglich freie Arbeitsplätze</li>
        <li class="col-xs-12 col-sm-6 col-md-4"><i class="fa fa-check"></i>WIFI und Drucker</li>
        <li class="col-xs-12 col-sm-6 col-md-4"><i class="fa fa-check"></i>Telefonkabine</li>
        <li class="col-xs-12 col-sm-6 col-md-4"><i class="fa fa-check"></i>Austauschen und Netzwerken</li>
        <li class="col-xs-12 col-sm-6 col-md-4"><i class="fa fa-check"></i>Besprechungsecke</li>
        <li class="col-xs-12 col-sm-6 col-md-4"><i class="fa fa-check"></i>Sitzungsräume (optional)</li>
        <li class="col-xs-12 col-sm-6 col-md-4"><i class="fa fa-check"></i>Kaffeebar vor Ort</li>
        <li class="col-xs-12 col-sm-6 col-md-4"><i class="fa fa-check"></i>sonnige Terrasse</li>
        <li class="col-xs-12 col-sm-6 col-md-4"><i class="fa fa-check"></i>gemeinsame Kaffeepause</li>
      </ul>
    </div>
  </section>
  <!-- End About Section Coworking -->

  <!-- Impressions Section Coworking -->
  <section id="impressions" class="page-section bg-dark pb-20 pt-40">
    <!-- Photo Grid -->
    <div class="row multi-columns-row">
      {{ range $num := (seq 8) }}
      <!-- Photo Item -->
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 mb-md-10">
        <div class="post-prev-img">
          <a href="effinger-coworking-{{ $num }}.jpg" class="lightbox-gallery-2 mfp-image">
            <img src="effinger-coworking-{{ $num }}.jpg" alt="" />
          </a>
        </div>
      </div>
      <!-- End Photo Item -->
      {{ end }}
    </div>
  </section>
  <!-- End Impressions Section Coworking -->

  <!-- Community Section -->
  <section class="page-section bg-gray-lighter" id="community">
    <div class="container relative">
      <div class="row">
        <div class="col-md-7 col-md-push-5 mb-sm-40">

          <div class="video work-full-media mt-0 white-shadow">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fMXqGOOurVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

        </div>
        <div class="col-md-5 col-md-pull-7 col-lg-4">

          <div class="text">

            <h3 class="font-alt mb-30 mb-md-10"><a href="/community/">Über uns</a></h3>

            <p>
              Wir sind eine innovative, kreative Community mit einer gemeinsamen Kaffeebar und Coworking Space in Bern.
              Wir sind eine Heimat für Jungunternehmer, Kreative und andere Weltveränderer, die einander helfen, ihre
              Ideen in Firmen, Innovationen und soziale Aktionen umzusetzen.
            </p>

            <div class="mt-40">
              <a href="/community/" class="btn btn-mod btn-border btn-round btn-medium">Mehr</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Community Coworking -->

  <!-- Pricing Section -->
  <section class="page-section bg-gray-lighter" id="preise">
    <div class="container">
      <h2 class="hs-line-11 font-alt">
        Preise
      </h2>
      <div class="row multi-columns-row">

        <!-- Pricing Item -->
        <div class="col-xs-12 col-sm-4 col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="ticket.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Tagespass
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>1 Arbeitstag</li>
                    <li>1 Getränk an der Bar</li>
                    <li>Effinger-Einführung durch Host</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>30
                </div>

                <div class="btn-block mt-20">
                  <b>Melde dich spontan bei unseren Tageshosts in der Lounge.</b>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-xs-12 col-sm-4 col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="tickets.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Zehnerpass
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>10 Tagespässe</li>
                    <li>1 Getränk pro Tag an der Bar</li>
                    <li>auch halbtageweise einlösbar</li>
                    <li>Membership inklusive</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>270
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-xs-12 col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="community.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Monatsabo
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features">
                  <ul class="sf-list pr-list">
                    <li>Regelmässiges Coworking</li>
                    <li>Zugang zur Community auf unserer Online-Plattform</li>
                    <li>Jährliches Essen exklusiv für Members</li>
                    <li>Heimat im Effinger: Du wirst Teil der "Effinger Community"</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>ab CHF</sup>120 <span style="font-size: 0.5em;">/mt</span><br>
                </div>

                <a href="/coworking/abo" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-20"><i class="fa fa-info-circle" aria-hidden="true"></i> Mehr Infos</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->
      </div>
      <!-- End Pricing row -->

    </div>
  </section>
  <!-- End Pricing Section -->

  <!-- Section corelated -->
  <section class="page-section">
    <div class="relative container">
      {{ partial "corelated.html" . }}
    </div>
  </section>
  <!-- End Section corelated  -->

  <!-- Daily Contact Section
  <section class="page-section bg-gray" id="kontakt">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-60">Kontakt</h1>

      {{/* partial "effianer/get_host.html" . */}}

      <div class="row">
        {{ if $.Scratch.Get "host" }}
        <div class="col-md-4 col-md-push-8 col-sm-6 mb-md-50">
        {{ else }}
        <div class="col-md-4 col-sm-6 mb-50">
        {{ end }}
          <div class="contact-item clearfix">
            <h4 class="uppercase">Coworking Space</h4>
            <div class="wave-spacer"></div>
            <div class="item">
              {{ partial "oeffnungszeiten_coworking.html" . }}
            </div>
            <div class="item mt-20">
              <p>Telefon<span><a href="tel:+41313982021">031 398 20 21</a></span></p>
              <p>Email<span><a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a></span></p>
              <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse 10, Bern</a></span></p>
            </div>
          </div>
        </div>

        {{ with $.Scratch.Get "host" }}
          <div class="col-md-8 col-md-pull-4 col-sm-12">
            <div class="row">

              <div class="col-sm-6 mb-100">
                <div class="team-item">
                  <div class="team-item-image">
                    <img src="{{ .image }}" alt="{{ .name }}" />
                    <div class="team-item-detail">
                      <p class="font-alt normal">Coworking</p>
                    </div>
                  </div>
                  <div class="team-item-descr font-alt">
                    <div class="team-item-name">
                      {{ .name }}
                    </div>
                    <div class="team-item-role">
                      <span class="active-day"><i class="fa fa-chevron-right"></i>Heute {{ if eq .gender "m" }}Gastgeber{{ else }}Gastgeberin{{ end }}<i class="fa fa-chevron-left"></i>
                       </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}

        </div>

        <div class="team-item">
          <a href="/community/#effianer" class="btn btn-mod btn-border btn-medium btn-round">&rarr; Alle Gastgeber anzeigen</a>
        </div>
      </div>
    </div>
  </section>

  End Daily Contact Section -->


</div>
<!-- End Page Wrap -->
{{ end }}
