{{ define "main" }}
<!-- Page Wrap -->
<div class="page" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="coworking_header.jpg">
    <div class="js-height-parent container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="font-alt mb-50 mb-xs-30">Coworking Space</h1>
          <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30"></h2>
          <div class="local-scroll">
            <a href="#preise" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Preise</a>
            <span class="hidden-xs">&nbsp;</span>
            <a href="#kontakt" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Anfrage</a>
          </div>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Header -->

  <!-- Corona Gutscheine -->
  <section id="unterstuetzen" class="small-section-header" style="background-color: #fae300;">
    <div class="relative container">

      <div class="row text-center">

        <div class="col-md-8 col-md-offset-2 ">
          <div class="mb-10">
            <i class="fa fa-heart fa-5x"></i>
          </div>
          <h3 class="hs-line-15 font-alt mb-10">Effinger unterstützen</h3>
          <h4 class="hs-line-4 black font-alt mb-20">#zämegeits #whatatimetobealive</h4>
          <p class="text-left mb-10">
            Möchtest du uns unterstützen? Ganz herzlichen Dank für deine Hilfe! Die Solidarität, die du dadurch ausdrückst, bedeutet uns unglaublich viel!!! 
          </p>
          <p class="text-left mb-10">
            Wir haben uns verschiedene Gutscheinvarianten ausgedacht.
          </p>
          <p class="text-left mb-0">
            <strong>Kaffeebar</strong>
          </p>
          <ul class="text-left mb-10">
            <li>
              <em>Eine Woche lang Kaffee à discrétion für dich: CHF 60</em><br>
              6 Tage lang trinkst du so viel Kaffee, wie du möchtest
            </li>
            <li>
              <em>Mittagessen für dich und dein Gspähnli: CHF 70</em><br>
              2x Mittagessen deiner Wahl inkl. 2x Softgetränken und natürlich 2x Kaffee
            </li>
            <li>
              <em>Feierabendbier mit deinen Freunden: CHF 60</em><br>
              Lade 10 deiner Freunde auf eine Stange Bärner Müntschi im Effinger ein
            </li>
            <li>
              <em>Apéro für dich und deine Begleitung: CHF 80</em><br>
              Geniesse 1x Apéro Teller und je 2x Getränke deiner Wahl
            </li>
            <li>
              <em>Natürlich können auch Wertgutscheine gekauft werden, Betrag frei wählbar</em><br>
            </li>
          </ul>
          <p class="text-left mb-0">
            <strong>Coworking</strong>
          </p>
          <ul class="text-left mb-10">
            <li>
              <em>10er Abo im Coworking Space: CHF 270</em><br>
              Du kannst 10 Tage (oder auch 20 Halbtage im Effinger arbeiten) und bezahlst nur 9 Tage. Zu jedem ganzen Tag gibt’s ein Kaffee deiner Wahl an der Kaffeebar. 
              (Der Wert entspricht dem normalen Preis, wenn du den Coworking Space zusätzlich für seinen Ausfall unterstützen willst, 
              passt du einfach individuell deinen Überweisungsbetrag an.)
            </li>
            <li>
              <em>5x Tagespass für Coworking Space: CHF 150 </em><br>
              Fünf einzelne Tage im Coworking Space, dazu jeden Tag ein Kaffee deiner Wahl an der Kaffeebar.
              (Dieser Wert entspricht dem normalen Preis, wenn du den Coworking Space zusätzlich für seinen Ausfall 
              unterstützen willst, passt du einfach individuell deinen Überweisungsbetrag an.) 
            </li>
          </ul>
          <p class="text-left mb-10">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> Welcher spricht dich am meisten an? Schreib eine <strong>E-Mail an <a href="mailto:domenica@effinger.ch">domenica@effinger.ch</a></strong>
          </p>
          <p class="text-left mb-10">
            Nach deinem Zahlungeingang wird dir dein Gutschein per Post zugestellt. Dazu brauchen wir noch deine Anschrift.<br>
          </p>
          <p class="text-left mb-10">
            Zahlung für Kaffeebar Gutscheine: <br>
            CH93 0900 0000 1276 8975 7 bei PostFinance AG Bern lautend auf "Effinger Kaffeebar GmbH"
          </p>
          <p class="text-left mb-10">
            Zahlung für Coworking Gutscheine: <br>
            CH46 0900 0000 6137 4150 1 bei PostFinance AG Bern lautend auf den Verein "Coworking Community Bern"
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Corona -->

  <!-- Features Section -->
  <section class="page-section" id="offers">
    <div class="container relative">

      <!-- Gesucht-Feld -->

      <dl class="toggle mb-80">
        <dt style="border: 3px solid #fae300;">
            <a href="" class="text-center black"><i class="fa fa-bullhorn fa-lg"></i> Wanted: Raumvermietungs-Host</a>
        </dt>
        <dd style="display: none; border-bottom: 3px solid #fae300;">
          <p>
            Möchtest du dich als GastgeberIn engagieren und Teil der Effinger Community werden?
          </p>
          <p>
            @raumvermietung sucht Tages- & Abendhosts, die unsere Besucher in Empfang nehmen, bei Bedarf in die 
            Workshop-Räumlichkeiten einführen, sich ums Bereitstellen der Seminarverpflegungen kümmern und beim
            Abräumen/Abbauen behilflich sind.
          </p>
          <p>
            Als Raumvermietungs-Host verpflichtest du dich zu einem Tageseinsatz pro Woche und bist je nach Tag/Abend 
            und Buchung zu den für die Gruppe wichtigsten Zeiten zwischen 07.30 morgens und 18.30 abends anwesend. An 
            stark belegten Tagen arbeiten zwei Hosts, einer deckt den Morgen/Mittag und einer den Nachmittag/Abend ab. 
            Zwischendurch hast du Freiräume und kannst an deinen eigenen Projekten arbeiten. Du benutzt an deinen Einsatztagen 
            das Coworking kostenlos und erhältst als Entschädigung je zwei weitere Tagespässe im Effinger Coworking.
          </p>
            In dieser wertvollen Rolle als Gastgeber bist du Teil unserer Community. Du hast Gelegenheit, dich mit Coworker und 
            Vertretern der breit durchmischten Gruppen (KMU, Einzelunternehmer, NPO, Start-ups, nationale und internationale 
            Unternehmen, Vereine) auszutauschen.
          </p>
          <p>
            Interessant könnte diese Arbeit für JungunternehmerInnen und selbständige CoworkerInnen sein.
          </p>
          <p>
            Bitte melde dich unter <a href="mailto:raumvermietung@effinger.ch">raumvermietung@effinger.ch</a>.<br>
            Wir freuen uns auf deine Kontaktaufnahme!
          </p>
        </dd>
      </dl>

      <!-- Features Grid -->
      <div class="benefits-grid local-scroll">

        <!-- Features Item -->
        <a href="#coworking">
          <div class="benefit-item">
            <div class="benefit-icon">
              <span class="icon-puzzle"></span>
            </div>
            <h3 class="benefit-title font-alt">Coworking Space</h3>
            <div class="benefits-descr">
              Durch eine offene Treppe gelangt man von der Kaffeebar in den Arbeitsbereich des Coworking Spaces.
            </div>
          </div></a>
        <!-- End Features Item -->
        <!-- Features Item -->
        <a href="#atelier">
          <div class="benefit-item">
            <div class="benefit-icon">
              <span class="icon-circle-compass"></span>
            </div>
            <h3 class="benefit-title font-alt">Atelier</h3>
            <div class="benefits-descr">
              Wir wollen uns nicht nur in der virtuellen Welt bewegen. Im Atelier und der Werkstatt entsteht Kunst zum Anfassen.
            </div>
          </div></a>
        <!-- End Features Item -->
        <!-- Features Item -->
        <a href="#workshopraum">
          <div class="benefit-item">
            <div class="benefit-icon">
              <span class="icon-target"></span>
            </div>
            <h3 class="benefit-title font-alt">Sitzungszimmer</h3>
            <div class="benefits-descr">
              Im Workshopraum kannst du deinen Ideen freien Lauf lassen. Alle Wände sind magnetisch und beschreibbar, sogar die Decke.
            </div>
          </div></a>
        <!-- End Features Item -->

      </div>
      <!-- End Features Grid -->

    </div>
  </section>
  <!-- End Features Section -->

  <!-- Section Coworking Title-->
  <section class="small-section bg-dark-alfa-30 bg-scroll" id="coworking" data-background="coworking_01.jpg">
  </section>
  <!-- End Section Coworking Title -->

  <!-- About Section Coworking -->
  <section class="page-section">
    <div class="container relative">
      <div class="row">
        <div class="col-md-8">
          <h2 class="hs-line-11 font-alt mb-60">Coworking Space</h2>
          <div class="section-text">
            <p>
              Coworking hat sich in den letzten Jahren im Bereich neuer Arbeitsformen etabliert. Selbstständig Erwerbende, Kreative aber auch kleine Startups arbeiten am selben Ort, um ihre Ideen zu verwirklichen. Sie arbeiten selbstständig, aber als Teil der Community von Coworkern.
            </p>
            <p>
              Der Coworking Space stellt Arbeitsplätze zur Verfügung, die flexibel auf Tages-, Wochen- oder Monatsbasis gemietet werden können. Allen Mitgliedern wird die komplette Büroinfrastruktur zur Verfügung gestellt (z.B. schnelles Internet, Drucker, Kopierer, Sitzungsräume etc).
            </p>
          </div>
        </div>
        <div class="col-md-4 mt-md-50">
          <div class="contact-item clearfix">
            <h4 class="uppercase">Komm vorbei</h4>
            <div class="wave-spacer"></div>
            <div class="item local-scroll">
              <p>
                Du darfst gerne ohne Voranmeldung vorbei kommen. Einen Tagespass löst du direkt vor Ort an der Kaffeebar.
              </p>
              <p>
                Wenn du <strong>das erste Mal zum Coworken</strong> kommst, erhältst du
                <strong>um 10 Uhr</strong> eine Einführung von jemandem aus dem
                Gastgeber-Team.
              </p>
              <p>
                  Über den Mittag von 12:00 – 13.30 Uhr ist kein Tagesverantwortlicher vor Ort.
              </p>
              <a href="#preise" class="btn btn-mod btn-gray mt-20">Preise</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
  <!-- End About Section Coworking -->

  <!-- Section Atelier Title-->
  <section class="small-section bg-dark-alfa-30 bg-scroll" id="atelier" data-background="atelier_01.jpg">
  </section>
  <!-- End Section Atelier Title -->

  <!-- About Section Atelier -->
  <section class="page-section">
    <div class="container relative">
      <h2 class="hs-line-11 font-alt mb-60">Atelier</h2>
      <div class="section-text">
        <p>
          Der Austausch soll über Berufsgrenzen hinaus stattfinden und Vernetzung entstehen lassen. Dies ergibt neue Möglichkeiten und eine breite Palette neuer Gedanken.
        </p>
        <p>
          Kreative und Musische treffen auf Strategen und Finanzgenies...
          <br> Eine Bildschirmpause kann gut im Atelier erfolgen.
        </p>
        <p>
          Wir haben bewusst Raum geschaffen für Kunst und Handwerk. Die Anwesenheit von Künstlern und Handwerkern ist sehr wohltuend und sehr wertvoll. Ihre Arbeit hat etwas Schöpferisches und holt die virtuelle und kopflastige Welt zurück in das Fassbare. Im hintersten Teil des Effingers haben sich schon drei Kreativlinge eingenistet.
        </p>
      </div>
    </div>
  </section>
  <!-- End About Section Atelier-->
  <!-- Section Workshopraum Title-->
  <section class="small-section bg-dark-alfa-30 bg-scroll" id="workshopraum" data-background="workshopraum_01.jpg">
  </section>
  <!-- End Section Workshopraum Title -->

  <!-- About Section Workshopraum -->
  <section class="page-section">
    <div class="container relative">
      <h2 class="hs-line-11 font-alt mb-60">Sitzungszimmer</h2>
      <div class="section-text">
        <p>
          Der abgetrennte Raum oberhalb des Kaffeebar-Bereichs eignet sich als Sitzungszimmer und Workshopraum für die Unternehmen im Coworking Space sowie externe Gäste. Hier soll out-of-the-box gedacht werden und dies spürt und sieht man schon beim Betreten des Raums.
        </p>
        <p>
          Der Raum bietet 360 Grad beschreibbare, magnetische Wände sowie einen grossen Screen. Hier sollen neue Ideen geboren, Bestehendes hinterfragt und ohne Grenzen "gebrainstormed" werden.
        </p>
        <a href="/raeume" class="btn btn-mod btn-border btn-round btn-medium">Sitzungszimmer mieten</a>
      </div>
    </div>
  </section>
  <!-- End About Section Workshopraum -->

  <!-- Section -->
  <section class="page-section bg-gray-lighter" id="preise">
    <div class="container">
      <h2 class="hs-line-11 font-alt mb-60">Preise Coworking</h2>

      <!-- Pricing row -->
      <div class="row multi-columns-row">

        <!-- Pricing Item -->
        <div class="col-sm-6 col-md-3">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="ticket.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Tagespass
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>1 Arbeitstag<br>&nbsp;</li>
                    <li>1 Kaffee</li>
                    <li>Internet, Drucker, Teeküche</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>30
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-sm-6 col-md-3">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="sixpack.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Six-Pack
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>6 Tage pro Monat<br>(Zusatztage + 25.-)</li>
                    <li>1 Kaffee pro Tag</li>
                    <li>Internet, Drucker, Teeküche</li>
                    <li>2h Workshopraum Pläfe pro Monat</li>
                    <li>Community Membership inklusive!</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>160<br><small>pro Monat</small>
                </div>

                <a href="/coworking/six-pack/" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-20"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Formular</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-sm-6 col-md-3">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="effianer-teilzeit.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Effianer Teilzeit
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>8 Tage pro Monat<br>(Zusatztage + 25.-)</li>
                    <li>2 Kaffees pro Tag</li>
                    <li>Internet, Drucker, Teeküche</li>
                    <li>Gemeinsames Fitnessabo</li>
                    <li>Workshopraum inklusive (fair use)</li>
                    <li>Community Membership inklusive!</li>
                    <li>Lager im Keller</li>
                    <li>abschliessbare Holzkiste (+ 25.-)</li>
                    <li>&rarr; Effianer-Rolle*<br>(siehe unten)</strong></li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>160<br><small>pro Monat</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-sm-6 col-md-3">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="effianer-vollzeit.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Effianer Vollzeit
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>Immer<br>(Mo-Sa)</li>
                    <li>2 Kaffees pro Tag</li>
                    <li>Internet, Drucker, Teeküche</li>
                    <li>Gemeinsames Fitnessabo</li>
                    <li>Workshopraum inklusive (fair use)</li>
                    <li>Community Membership inklusive!</li>
                    <li>Lager im Keller</li>
                    <li>Fixer Arbeitsplatz und abschliessbare Holzkiste (+ 100.-)</li>
                    <li>&rarr; Effianer-Rolle*<br>(siehe unten)</strong></li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>350<br><small>pro Monat</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

      </div>
      <!-- End Pricing row -->

      <h3 class="font-alt">*Rolle der Effianer</h3>
      <div class="section-text">
        <p>
          Wir <a href="/blog/coworking-space-zusammen-betreiben/">betreiben den Coworking Space gemeinsam</a>. Als "Effianer" sorgen wir für eine florierende Community. Wir investieren rund 9,8696 Prozent unserer Zeit in die Community, ineinander und in den Betrieb des Effingers.
        </p>
      </div>

      <h2 class="hs-line-11 font-alt mb-60 mt-100">Weitere Angebote</h2>

      <!-- Pricing row -->
      <div class="row multi-columns-row">

        <!-- Pricing Item -->
        <div class="col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="tickets.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Zehnerabo
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>10 Tagespässe (siehe oben)</li>
                    <li>auch halbtageweise einlösbar</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>270
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="community.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Community Membership
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features">
                  <ul class="sf-list pr-list">
                    <li>&frac12; Tag Coworking pro Monat</li>
                    <li>Zugang zur Community auf unserer Online-Plattform</li>
                    <li>Jährliches Essen exklusiv für Members</li>
                    <li>Monatliche Community-Treffen</li>
                    <li>Heimat im Effinger: Du wirst Teil der "Effinger Community"</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>variabel<br>
                </div>

                <a href="/community/" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-20"><i class="fa fa-info-circle" aria-hidden="true"></i> Mehr Infos</a>
                <a href="/community/member-werden/" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-10"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Formular</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="factory.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Firmenarbeitsplatz
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features">
                  <ul class="sf-list pr-list">
                    <li>Immer (Mo-Sa)</li>
                    <li>Übertragbar innerhalb Firma</li>
                    <li>Internet, Drucker, Teeküche</li>
                    <li>1 Community Membership inklusive</li>
                    <li>Lager im Keller</li>
                    <li>Fixer Arbeitsplatz und abschliessbare Holzkiste</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>700<br>
                  <small>pro Monat</small>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

      </div>
      <!-- End Pricing row -->
    </div>
  </section>
  <!-- End Section -->

  <!-- Daily Contact Section -->
  <section class="page-section" id="kontakt">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-60">Kontakt</h1>

      {{ partial "effianer/get_host.html" . }}

      <div class="row">
        {{ if $.Scratch.Get "host" }}
        <div class="col-md-4 col-md-push-8 col-sm-6 mb-md-50">
        {{ else }}
        <div class="col-md-4 col-sm-6 mb-50">
        {{ end }}
          <div class="contact-item clearfix">
            <h4 class="uppercase">Coworking Space</h4>
            <div class="wave-spacer"></div>
            <div class="item">
              {{ partial "oeffnungszeiten_coworking.html" . }}
            </div>
            <div class="item mt-20">
              <p>Telefon<span><a href="tel:+41313982021">031 398 20 21</a></span></p>
              <p>Email<span><a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a></span></p>
              <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse 10, Bern</a></span></p>
            </div>
          </div>
        </div>

        {{ with $.Scratch.Get "host" }}
          <div class="col-md-8 col-md-pull-4 col-sm-12">
            <div class="row">

              <div class="col-sm-6 mb-100">
                <div class="team-item">
                  <div class="team-item-image">
                    <img src="{{ .image }}" alt="{{ .name }}" />
                    <div class="team-item-detail">
                      <p class="font-alt normal">Coworking</p>
                    </div>
                  </div>
                  <div class="team-item-descr font-alt">
                    <div class="team-item-name">
                      {{ .name }}
                    </div>
                    <div class="team-item-role">
                      <span class="active-day"><i class="fa fa-chevron-right"></i>Heute {{ if eq .gender "m" }}Gastgeber{{ else }}Gastgeberin{{ end }}<i class="fa fa-chevron-left"></i>
                       </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}

        </div>

        <div class="team-item">
          <a href="/community/#effianer" class="btn btn-mod btn-border btn-medium btn-round">&rarr; Alle Gastgeber anzeigen</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Daily Contact Section -->

  
  <!-- Section corelated -->
  <section class="page-section bg-gray">
    <div class="relative container">
      <h2 class="hs-line-11 font-alt mb-60">Schweizweit vernetzt</h2>
      <div class="row mb-100">

        <div class="col-xs-4 col-md-2">
          <div>
            <svg fill="#666" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
              xml:space="preserve">
              <circle cx="19.25" cy="21.625" r="14.375"></circle>
              <circle cx="57.125" cy="30.75" r="14.875"></circle>
              <circle cx="35.562" cy="62.062" r="12.438"></circle>
              <circle cx="81.25" cy="78.5" r="15"></circle>
              <circle cx="77.781" cy="47.306" r="7.125"></circle>
              <circle cx="9.688" cy="52.688" r="7.062"></circle>
              <circle cx="41.562" cy="92.812" r="5.188"></circle>
              <circle cx="19.25" cy="85.125" r="12.5"></circle>
              <circle cx="34.969" cy="40.469" r="4.469"></circle>
              <circle cx="86.375" cy="15" r="12.625"></circle>
              <circle cx="94" cy="41.25" r="5.25"></circle>
              <circle cx="91.375" cy="57.125" r="2.625"></circle>
              <circle cx="59.42" cy="58.67" r="7.393"></circle>
              <circle cx="41.922" cy="11.078" r="6.953"></circle>
              <circle cx="64.625" cy="10.75" r="4.375"></circle>
              <circle cx="58.25" cy="87.625" r="7.25"></circle>
              <circle cx="54.125" cy="74.875" r="4.125"></circle>
            </svg>
          </div>
        </div>

        <div class="col-xs-8 col-md-10">
          <p>Zu wachsen in einen grossen Coworking-Konzern mit unterschiedlichen Niederlassungen schien uns kein
            passender Weg. Wir ermutigten also lieber zu neuen, eigenständigen Projekten, die aber untereinander starke
            Beziehungen leben.</p>
          <a href="https://www.corelated.ch" class="btn btn-mod btn-border btn-round btn-medium">&rarr;
            www.corelated.ch</a>
        </div>
      </div>
      <h3 class="section-title font-alt mb-40">
        Verwandte
      </h3>
      <div class="row">

        <!-- Col -->

        <div class="col-sm-6 mb-40">
          <div class="alt-features-item align-center">
            <div class="alt-features-icon">
              <img style="width:auto; height:100px;" src="/images/hirschengraben.png" alt="Coworking Space hirschengraben Luzern">
            </div>
            <h3 class="alt-features-title font-alt">Hirschengrabebn</h3>
            <div class="alt-features-descr">
              <p>Luzern</p>
              <p><a href="https://www.hirschengraben.org/" class="btn btn-mod btn-border btn-round btn-small">Webseite</a></p>
            </div>
          </div>
        </div>

        <!-- End Col -->

        <!-- Col -->

        <div class="col-sm-6 mb-40">
          <div class="alt-features-item align-center">
            <div class="alt-features-icon">
              <img style="width:auto; height:100px;" src="/images/hyve.png"
                alt="Coworking Space hirschengraben Luzern">
            </div>
            <h3 class="alt-features-title font-alt">Hyve</h3>
            <div class="alt-features-descr">
              <p>Basel</p>
              <p><a href="https://www.hyve.ch/"
                  class="btn btn-mod btn-border btn-round btn-small">Webseite</a></p>
            </div>
          </div>
        </div>

        <!-- End Col -->

      </div>
    </div>
  </section>
  <!-- End Section corelated  -->
</div>
<!-- End Page Wrap -->
{{ end }}
