{{ define "main" }}
<!-- Page Wrap -->
<div class="page coworking" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="coworking_header.jpg">
    <div class="js-height-parent container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="font-alt mb-50 mb-xs-30">
            Coworking Space
          </h1>

          <div class="local-scroll">
            <a href="#preise" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Preise</a>
            <span class="hidden-xs">&nbsp;</span>
            <a href="#kontakt" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Anfrage</a>
          </div>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Header -->

  <!-- Corona -->
  <section id="corona" class="small-section-header bg-effingergelb">
    <div class="relative container">
      <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="hs-line-15 font-alt mb-10">
            <i class="fa fa-building"></i>
            Coworking geöffnet
          </h3>

          <p class="text-left mb-10">
            Wir passen unser Angebot den gegeben Umständen an und bieten vorläufig
            <strong>KEINE</strong> Tagespässe an. Wer sich für ein Abonnement interessiert, darf sich gerne
            per E-Mail an <a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a> bei uns melden.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Corona -->

  <!-- About Section Coworking -->
  <section class="page-section">
    <div class="container relative">
      <div class="row">
        <div class="col-md-7">
          <div class="section-text">
            <p>
              Coworking hat sich in den letzten Jahren im Bereich neuer Arbeitsformen etabliert. Selbstständig Erwerbende,
              Kreative aber auch kleine Startups arbeiten am selben Ort, um ihre Ideen zu verwirklichen. Sie arbeiten
              selbstständig, aber als Teil der Community von Coworkern.
            </p>
            <p>
              Der Coworking Space stellt Arbeitsplätze zur Verfügung, die flexibel auf Tages-, Wochen- oder Monatsbasis
              gemietet werden können. Allen Mitgliedern wird die komplette Büroinfrastruktur zur Verfügung gestellt
              (z.B. schnelles Internet, Drucker, Kopierer, Sitzungsräume etc).
            </p>
          </div>
        </div>
        <div class="col-md-5 mt-md-50">
          <div class="contact-item clearfix">
            <h4 class="uppercase">Hinweis</h4>
            <div class="wave-spacer"></div>
            <div class="item local-scroll">
              <p>
                In der Regel ist jemand aus dem Gastgeber-Team vor Ort und beantwortet gerne deine Fragen.
              </p>
              <p>Du kannst dich auch per E-Mail an <a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a> wenden.</p>
              <p>Vielen Dank für dein Verständnis und deine Rücksichtnahme.</p>
              <a href="#preise" class="btn btn-mod btn-gray mt-20">Preise</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section Coworking -->

  <!-- Section Atelier Title-->
  <!-- <section class="small-section bg-dark-alfa-30 bg-scroll" id="atelier" data-background="atelier_01.jpg">
  </section> -->
  <!-- End Section Atelier Title -->

  <!-- About Section Atelier -->
  <!-- <section class="page-section">
    <div class="container relative">
      <h2 class="hs-line-11 font-alt mb-60">Atelier</h2>
      <div class="section-text">
        <p>
          Der Austausch soll über Berufsgrenzen hinaus stattfinden und Vernetzung entstehen lassen. Dies ergibt neue Möglichkeiten und eine breite Palette neuer Gedanken.
        </p>
        <p>
          Kreative und Musische treffen auf Strategen und Finanzgenies...
          <br> Eine Bildschirmpause kann gut im Atelier erfolgen.
        </p>
        <p>
          Wir haben bewusst Raum geschaffen für Kunst und Handwerk. Die Anwesenheit von Künstlern und Handwerkern ist sehr wohltuend und sehr wertvoll. Ihre Arbeit hat etwas Schöpferisches und holt die virtuelle und kopflastige Welt zurück in das Fassbare. Im hintersten Teil des Effingers haben sich schon drei Kreativlinge eingenistet.
        </p>
      </div>
    </div>
  </section> -->
  <!-- End About Section Atelier-->

  <!-- Section -->
  <section class="page-section bg-gray-lighter" id="preise">
    <div class="container">
      <h2 class="hs-line-11 font-alt">«Spontianer»</h2>
      <p>Preise für spontane Coworker*innen.</p>
      <p><strong>Aufgrund der aktuellen Corona-Situation bieten wir vorläufig keine Tagespässe an.</strong></p>

      <div class="row multi-columns-row">

        <!-- Pricing Item -->
        <div class="col-xs-6 col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap" style="text-decoration: line-through;">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="ticket.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Tagespass
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>1 Arbeitstag</li>
                    <li>1 Getränk an der Bar</li>
                    <li>Effinger-Einführung durch Host</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>30
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-xs-6 col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="tickets.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Zehnerpass
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>10 Tagespässe</li>
                    <li>1 Getränk pro Tag an der Bar</li>
                    <li>auch halbtageweise einlösbar</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>270
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-xs-12 col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="community.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Community Membership
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features">
                  <ul class="sf-list pr-list">
                    <li>&frac12; Tag Coworking pro Monat</li>
                    <li>Zugang zur Community auf unserer Online-Plattform</li>
                    <li>Jährliches Essen exklusiv für Members</li>
                    <li>Heimat im Effinger: Du wirst Teil der "Effinger Community"</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>variabel<br>
                </div>

                <a href="/community/" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-20"><i class="fa fa-info-circle" aria-hidden="true"></i> Mehr Infos</a>
                <a href="/community/member-werden/" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-10"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Member werden</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->
      </div>
      <!-- End Pricing row -->

      <h2 class="hs-line-11 font-alt mt-50">«Abianer»</h2>
      <p>Preise für Coworker*innen mit Monatsabo.</p>

      <!-- Pricing row -->
      <div class="row multi-columns-row">

        <!-- Pricing Item -->
        <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="abianer-1.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  1 Tag<br>pro Woche
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>1h Raummiete pro Monat,<br>CHF 30 pro Zusatzstunde</li>
                    <li>1 Getränk pro Tag</li>
                    <li>Membership inklusive</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>120<br><small>pro Monat</small>
                </div>

                <a href="/coworking/abo/?option=1" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-20 pricing-btn">Abo lösen</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="abianer-2.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  2 Tag<br>pro Woche
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>2h Raummiete pro Monat,<br>CHF 30 pro Zusatzstunde</li>
                    <li>1 Getränk pro Tag</li>
                    <li>Membership inklusive</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>210<br><small>pro Monat</small>
                </div>

                <a href="/coworking/abo/?option=2" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-20 pricing-btn">Abo lösen</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="abianer-3.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  3 Tag<br>pro Woche
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>3h Raummiete pro Monat,<br>CHF 30 pro Zusatzstunde</li>
                    <li>1 Getränk pro Tag</li>
                    <li>Membership inklusive</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>310<br><small>pro Monat</small>
                </div>

                <a href="/coworking/abo/?option=3" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-20 pricing-btn">Abo lösen</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="abianer-4.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  4 Tag<br>pro Woche
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>4h Raummiete pro Monat,<br>CHF 30 pro Zusatzstunde</li>
                    <li>1 Getränk pro Tag</li>
                    <li>Membership inklusive</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>410<br><small>pro Monat</small>
                </div>

                <a href="/coworking/abo/?option=4" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-20 pricing-btn">Abo lösen</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="abianer-5.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  5 Tag<br>pro Woche
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>5h Raummiete pro Monat,<br>CHF 30 pro Zusatzstunde</li>
                    <li>1 Getränk pro Tag</li>
                    <li>Membership inklusive</li>
                    <li>Holzkiste (+&nbsp;CHF&nbsp;25)</li>
                    <li>Fix Desk und Holzkiste (+&nbsp;CHF&nbsp;100)</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>510<br><small>pro Monat</small>
                </div>

                <a href="/coworking/abo/?option=5" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-20 pricing-btn">Abo lösen</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="factory.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Firmen&shy;arbeitsplatz
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>5 Tage pro Woche</li>
                    <li>Übertragbar</li>
                    <li>2 Getränke pro Tag</li>
                    <li>Membership inklusive</li>
                    <li>Fix Desk, Kiste, Lager</li>
                    <li>Raumnutzung für CHF 30 pro Stunde</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>700<br><small>pro Monat</small>
                </div>

                <a href="/coworking/abo/?option=firma" class="btn btn-mod btn-border btn-medium btn-round btn-block mt-20 pricing-btn">Abo lösen</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

      </div>
      <!-- End Pricing row -->


      <h2 class="hs-line-11 font-alt mt-50">«Effianer»</h2>
      <p>
        Die Effianer*innen kümmern sich gemeinsam um den Betrieb des Effingers und reservieren sich Zeit füreinander und für die Community.
        Ihre Arbeit ist ehrenamtlich. Dafür erhalten sie einen günstigeren Arbeitsplatz und dazu Vieles, das man nicht mit Geld kaufen könnte.
      </p>

      <!-- Pricing row -->
      <div class="row multi-columns-row">

        <!-- Pricing Item -->
        <div class="col-sm-6">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="effianer-vollzeit.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Effianer*innen
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>1 - 5 Tage pro Woche</li>
                    <li>2 Kaffees pro Tag</li>
                    <li>Gemeinsames Fitnessabo</li>
                    <li>Raummiete inklusive (fair use)</li>
                    <li>Gastrecht in allen Spaces von <a href="https://www.corelated.ch" target="_blank">corelated.ch</a></li>
                    <li>Effianer-Rolle: Schenkzeit, Darlehen, Hostingtag</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>ab CHF</sup>90<br><small>(sprich mit uns)</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->
      </div>
      <!-- End Pricing row -->

    </div>
  </section>
  <!-- End Section -->

  <!-- Section corelated -->
  <section class="page-section">
    <div class="relative container">
      {{ partial "corelated.html" . }}
    </div>
  </section>
  <!-- End Section corelated  -->

  <!-- Daily Contact Section -->
  <section class="page-section bg-gray" id="kontakt">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-60">Kontakt</h1>

      {{ partial "effianer/get_host.html" . }}

      <div class="row">
        {{ if $.Scratch.Get "host" }}
        <div class="col-md-4 col-md-push-8 col-sm-6 mb-md-50">
        {{ else }}
        <div class="col-md-4 col-sm-6 mb-50">
        {{ end }}
          <div class="contact-item clearfix">
            <h4 class="uppercase">Coworking Space</h4>
            <div class="wave-spacer"></div>
            <div class="item">
              {{ partial "oeffnungszeiten_coworking.html" . }}
            </div>
            <div class="item mt-20">
              <p>Telefon<span><a href="tel:+41313982021">031 398 20 21</a></span></p>
              <p>Email<span><a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a></span></p>
              <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse 10, Bern</a></span></p>
            </div>
          </div>
        </div>

        {{ with $.Scratch.Get "host" }}
          <div class="col-md-8 col-md-pull-4 col-sm-12">
            <div class="row">

              <div class="col-sm-6 mb-100">
                <div class="team-item">
                  <div class="team-item-image">
                    <img src="{{ .image }}" alt="{{ .name }}" />
                    <div class="team-item-detail">
                      <p class="font-alt normal">Coworking</p>
                    </div>
                  </div>
                  <div class="team-item-descr font-alt">
                    <div class="team-item-name">
                      {{ .name }}
                    </div>
                    <div class="team-item-role">
                      <span class="active-day"><i class="fa fa-chevron-right"></i>Heute {{ if eq .gender "m" }}Gastgeber{{ else }}Gastgeberin{{ end }}<i class="fa fa-chevron-left"></i>
                       </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}

        </div>

        <div class="team-item">
          <a href="/community/#effianer" class="btn btn-mod btn-border btn-medium btn-round">&rarr; Alle Gastgeber anzeigen</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Daily Contact Section -->

</div>
<!-- End Page Wrap -->
{{ end }}
