<!DOCTYPE html>
<html lang="de">
{{ partial "head.html" . }}

<body class="">

  <!-- Page Wrap -->
  <div class="page" id="top">

    <nav class="main-nav dark transparent stick-fixed">
      {{ partial "navigation.html" . }}
    </nav>

    <!-- Header -->
    <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="effinger.jpg">
      <div class="js-height-parent container">

        <!-- Hero Content -->
        <div class="home-content">
          <div class="home-text">
            <h1 class="font-alt mb-50 mb-xs-30">Coworking Space</h1>
            <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">Eine Heimat für Jungunternehmer, Kreative und andere Weltveränderer.</h2>
            <div class="local-scroll">
              <a href="#offers" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Angebote</a>
              <span class="hidden-xs">&nbsp;</span>
              <a href="#pricing" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Preise</a>
              <span class="hidden-xs">&nbsp;</span>
              <a href="#contact" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Anfrage</a>
            </div>

          </div>
        </div>
        <!-- End Hero Content -->

      </div>
    </section>
    <!-- End Header -->

    <!-- Features Section -->
    <section class="page-section" id="offers">
      <div class="container relative">

        <!-- Features Grid -->
        <div class="benefits-grid local-scroll">

          <!-- Features Item -->
          <a href="#coworking">
            <div class="benefit-item">
              <div class="benefit-icon">
                <span class="icon-puzzle"></span>
              </div>
              <h3 class="benefit-title font-alt">Coworking Space</h3>
              <div class="benefits-descr">
                Abgetrennt durch eine kleine Treppe befinden sich hinter der Kaffeebar die Räumlichkeiten des Coworking Spaces
              </div>
            </div></a>
          <!-- End Features Item -->
          <!-- Features Item -->
          <a href="#atelier">
            <div class="benefit-item">
              <div class="benefit-icon">
                <span class="icon-circle-compass"></span>
              </div>
              <h3 class="benefit-title font-alt">Atelier</h3>
              <div class="benefits-descr">
                Früh entstand der Wunsch nebst Kaffee, Coworker an Büroarbeitsplätzen auch Künstler und Handwerker zu vereinen.
              </div>
            </div></a>
          <!-- End Features Item -->
          <!-- Features Item -->
          <a href="#workshopraum">
            <div class="benefit-item">
              <div class="benefit-icon">
                <span class="icon-target"></span>
              </div>
              <h3 class="benefit-title font-alt">Workshop Raum</h3>
              <div class="benefits-descr">
                Unser kreative Planet im Effinger-Kosmos. Einen Raum zum "out of the Box" Denken.
              </div>
            </div></a>
          <!-- End Features Item -->

        </div>
        <!-- End Features Grid -->

      </div>
    </section>
    <!-- End Features Section -->

    <!-- Section Coworking Title-->
    <section class="small-section bg-dark-alfa-30" id="coworking">
      <div class="relative container align-left">

        <div class="row">

          <div class="col-md-8">
            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Coworking Space</h1>
            <div class="hs-line-4 font-alt">
              Wir verfügen über 20 Arbeitsplätze.
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Section Coworking Title -->

    <!-- About Section Coworking -->
    <section class="page-section">
      <div class="container relative">
        <div class="section-text mb-60 mb-sm-40">
          <div class="row">

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              <p>
                Der Austausch soll über Berufsgrenzen hinaus stattfinden und Vernetzung entstehen lassen. Dies ergibt neue Möglichkeiten und eine breite Palette neuer Gedanken.
              </p>

              <p>
                Kreative und Musische treffen auf Strategen und Finanzgenies...
                <br> Eine Bildschirmpause kann gut im Atelier erfolgen.
              </p>
              <p>
              </p>

            </div>

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              Es soll bewusst Raum entstehen für Kunst und Handwerk. Die Anwesenheit von Künstlern und Handwerkern ist sehr wohltuend und sehr wertvoll. Ihre Arbeit hat etwas Schöpferisches und holt die virtuelle und kopflastige Welt zurück in das Fassbare. Im hintersten
              Teil des Effingers haben sich schon drei Kreativlinge eingenistet, zumindest virtuell.
            </div>

            <div class="col-md-4 col-sm-12 mb-sm-50 mb-xs-30">

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                  Upcycling, % <span>90</span>
                </div>
              </div>
              <!-- End Bar Item -->

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                  Grafik, % <span>80</span>
                </div>
              </div>
              <!-- End Bar Item -->

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                  Schreinerarbeiten, % <span>85</span>
                </div>
              </div>
              <!-- End Bar Item -->

            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End About Section Coworking -->

    <!-- Section Atelier Title-->
    <section class="small-section bg-dark-alfa-30" id="atelier">
      <div class="relative container align-left">

        <div class="row">

          <div class="col-md-8">
            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Atelier</h1>
            <div class="hs-line-4 font-alt">
              Hier wird hand gewerkt
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Section Atelier Title -->

    <!-- About Section Atelier -->
    <section class="page-section">
      <div class="container relative">
        <div class="section-text mb-60 mb-sm-40">
          <div class="row">

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              <p>
                Der Austausch soll über Berufsgrenzen hinaus stattfinden und Vernetzung entstehen lassen. Dies ergibt neue Möglichkeiten und eine breite Palette neuer Gedanken.
              </p>

              <p>
                Kreative und Musische treffen auf Strategen und Finanzgenies...
                <br> Eine Bildschirmpause kann gut im Atelier erfolgen.
              </p>
              <p>
              </p>

            </div>

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              Es soll bewusst Raum entstehen für Kunst und Handwerk. Die Anwesenheit von Künstlern und Handwerkern ist sehr wohltuend und sehr wertvoll. Ihre Arbeit hat etwas Schöpferisches und holt die virtuelle und kopflastige Welt zurück in das Fassbare. Im hintersten
              Teil des Effingers haben sich schon drei Kreativlinge eingenistet, zumindest virtuell.
            </div>

            <div class="col-md-4 col-sm-12 mb-sm-50 mb-xs-30">

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                  Upcycling, % <span>90</span>
                </div>
              </div>
              <!-- End Bar Item -->

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                  Grafik, % <span>80</span>
                </div>
              </div>
              <!-- End Bar Item -->

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                  Schreinerarbeiten, % <span>85</span>
                </div>
              </div>
              <!-- End Bar Item -->

            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End About Section Atelier-->
    <!-- Section Workshopraum Title-->
    <section class="small-section bg-dark-alfa-30" id="workshopraum" data-background="workshopraum.jpg">
      <div class="relative container align-left">

        <div class="row">

          <div class="col-md-8">
            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Workshop Raum</h1>
            <div class="hs-line-4 font-alt">
              Kreativraum mit über 100m2 IdeaPaint.
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Section Workshopraum Title -->

    <!-- About Section Workshopraum -->
    <section class="page-section">
      <div class="container relative">
        <div class="section-text mb-60 mb-sm-40">
          <div class="row">

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              <p>
                Der Austausch soll über Berufsgrenzen hinaus stattfinden und Vernetzung entstehen lassen. Dies ergibt neue Möglichkeiten und eine breite Palette neuer Gedanken.
              </p>

              <p>
                Kreative und Musische treffen auf Strategen und Finanzgenies...
                <br> Eine Bildschirmpause kann gut im Atelier erfolgen.
              </p>
              <p>
              </p>

            </div>

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              Es soll bewusst Raum entstehen für Kunst und Handwerk. Die Anwesenheit von Künstlern und Handwerkern ist sehr wohltuend und sehr wertvoll. Ihre Arbeit hat etwas Schöpferisches und holt die virtuelle und kopflastige Welt zurück in das Fassbare. Im hintersten
              Teil des Effingers haben sich schon drei Kreativlinge eingenistet, zumindest virtuell.
            </div>

            <div class="col-md-4 col-sm-12 mb-sm-50 mb-xs-30">

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                  Upcycling, % <span>90</span>
                </div>
              </div>
              <!-- End Bar Item -->

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                  Grafik, % <span>80</span>
                </div>
              </div>
              <!-- End Bar Item -->

              <!-- Bar Item -->
              <div class="progress tpl-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                  Schreinerarbeiten, % <span>85</span>
                </div>
              </div>
              <!-- End Bar Item -->

            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End About Section Workshopraum -->

    <!-- Section -->
    <section class="page-section bg-gray-lighter" id="pricing">
      <div class="container">

        <div class="row mb-70 mb-xs-40">
          <div class="col-md-8 col-md-offset-2">
            <div class="section-text align-center">
              <h3 class="section-title font-alt mb-20 mt-30">Preise</h3> Für spontane und unverbindliche Coworker bieten wir Tagespässe und 10er-Abos an. Wer regelmässig bei uns arbeiten oder sogar einen fixen Arbeitsplatz einrichten möchte, kann ein Teilzeit- oder Vollzeit-Abo lösen.
            </div>
          </div>
        </div>

        <!-- Pricing row -->
        <div class="row multi-columns-row">

          <!-- Pricing Item -->
          <div class="col-sm-6 col-md-4">
            <div class="pricing-item">
              <div class="pricing-item-inner">
                <div class="pricing-wrap">

                  <!-- Icon (Simple-line-icons) -->
                  <div class="pricing-icon">
                    <img src="/images/icons/ticket.svg" alt="">
                  </div>

                  <!-- Pricing Title -->
                  <div class="pricing-title">
                    Tagespass
                  </div>

                  <!-- Pricing Features -->
                  <div class="pricing-features font-alt">
                    <ul class="sf-list pr-list">
                      <li>1 Kaffee</li>
                      <li>Internetzugang</li>
                      <li>Drucker (fair use)</li>
                      <li>Inspirierende Leute</li>
                    </ul>
                  </div>

                  <div class="pricing-num">
                    <sup>CHF</sup>30.-
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- End Pricing Item -->

          <!-- Pricing Item -->
          <div class="col-sm-6 col-md-4">
            <div class="pricing-item">
              <div class="pricing-item-inner">
                <div class="pricing-wrap">

                  <!-- Icon (Simple-line-icons) -->
                  <div class="pricing-icon">
                    <img src="/images/icons/tickets.svg" alt="">
                  </div>

                  <!-- Pricing Title -->
                  <div class="pricing-title">
                    Zehner-Abo
                  </div>

                  <!-- Pricing Features -->
                  <div class="pricing-features font-alt">
                    <ul class="sf-list pr-list">
                      <li>1 Kaffee / Tag</li>
                      <li>Internetzugang</li>
                      <li>Drucker (fair use)</li>
                      <li>Inspirierende Leute</li>
                    </ul>
                  </div>

                  <div class="pricing-num">
                    <sup>CHF</sup>270.-
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- End Pricing Item -->

          <!-- Pricing Item -->
          <div class="col-sm-6 col-md-4">
            <div class="pricing-item">
              <div class="pricing-item-inner">
                <div class="pricing-wrap">

                  <!-- Icon (Simple-line-icons) -->
                  <div class="pricing-icon">
                    <img src="/images/icons/community.svg" alt="">
                  </div>

                  <!-- Pricing Title -->
                  <div class="pricing-title mb-10">
                    Community
                  </div>
                  <div class="mb-10">
                    (Teilzeit / Vollzeit)
                  </div>

                  <!-- Pricing Features -->
                  <div class="pricing-features">
                    <ul class="sf-list pr-list">
                      <li>Damit wirst du Teil der Community und leistest einen finanziellen Beitrag, bist aber auch bereit einen Teil deiner wertvollen Zeit der Community zur Verfügung zu stellen. So wollen wir unsere Community und unsere Gemeinnützigkeit
                        stärken und können zudem unsere Kosten im Zaum halten.</li>
                    </ul>
                  </div>

                  <div class="pricing-num">
                    <a href="" class="btn btn-mod btn-border btn-medium btn-round">Mehr Infos</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- End Pricing Item -->

        </div>
        <!-- End Pricing row -->

      </div>
    </section>
    <!-- End Section -->

    <!-- Features Section -->
    <section class="page-section">
      <div class="container relative">

        <!-- Features Grid -->
        <div class="row multi-columns-row alt-features-grid">

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-presentation"></span>
              </div>
              <h3 class="alt-features-title font-alt">Firmen-Arbeitplätze</h3>
              <div class="alt-features-descr align-left">
                Wir bieten Firmen die Möglichkeiten, flexible Arbeitsplätze in einer kreativen und innovativen Umgebung zu mieten. Diese Arbeitsplätze sind übertragbar, können also von unterschiedlichen Mitarbeitern verwendet werden. Ein Firmen-Arbeitsplatz kostet CHF
                700.- pro Monat.
              </div>
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-target"></span>
              </div>
              <h3 class="alt-features-title font-alt">Workshop-Räume</h3>
              <div class="alt-features-descr align-left">
                Workshop-Räume werden extern vermietet. Der Preis liegt bei ca. CHF 45.- für eine Stunde bis ca. CHF 150.- für einen halben Tag. Zusätzlich bestehen Catering-Möglichkeiten von der Kaffeebar (Früchtekorb, Gipfeli, Getränke, etc.).
              </div>
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="alt-features-item align-center">
              <div class="alt-features-icon">
                <span class="icon-circle-compass"></span>
              </div>
              <h3 class="alt-features-title font-alt">Atelier</h3>
              <div class="alt-features-descr align-left">
                Neben den klassischen Bürotisch-Arbeitsplätzen bieten wir in einem Atelier Raum für Kreative und Handwerker. Die Preise sind gleich wie beim Coworking. Falls du dich für das Atelier interessierst, melde dich am besten bei graziella@effinger.ch.
              </div>
            </div>
          </div>
          <!-- End Features Item -->

        </div>
        <!-- End Features Grid -->

      </div>
    </section>
    <!-- End Features Section -->

    <!-- Daily Contact Section -->
    <section class="page-section bg-gray" id="contact">
      <div class="container relative">
        <h3 class="section-title font-alt mb-40">Heute für dich da</h3>

        <div class="row multi-columns-row">

          <!-- Team Item -->
          <div class="col-sm-6 col-md-4 mb-sm-30 wow fadeInUp">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/marco.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Hello & Welcome!</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Marco Jakob
                </div>

                <div class="team-item-role">
                  Bigboss
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->
          <!-- Team Item -->
          <div class="col-sm-6 col-md-4 mb-sm-30 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/matthias.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Hello & Welcome!</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Matthias Tobler
                </div>

                <div class="team-item-role">
                  Bigboss
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->
          <div class="col-sm-12 col-md-4 mb-sm-30 wow fadeInUp" data-wow-delay="0.2s">
            <!-- Email -->
            <div class="contact-item mt-40">
              <div class="ci-icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="ci-title font-alt">
                Email
              </div>
              <div class="ci-text">
                <a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a>
              </div>
            </div>
            <!-- Phone -->
            <!-- End Email -->
            <div class="contact-item mt-20">
              <div class="ci-icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="ci-title font-alt">
                Telefon
              </div>
              <div class="ci-text">
                031 398 20 21
              </div>
            </div>
            <!-- End Phone -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Daily Contact Section -->




    {{ partial "footer.html" . }}

  </div>
  <!-- End Page Wrap -->

  {{ partial "body_includes.html" . }}

</body>

</html>
