{{ define "main" }}
<!-- Page Wrap -->
<div class="page" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="coworking_header.jpg">
    <div class="js-height-parent container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="font-alt mb-50 mb-xs-30">Coworking Space</h1>
          <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30"></h2>
          <div class="local-scroll">
            <a href="#preise" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Preise</a>
            <span class="hidden-xs">&nbsp;</span>
            <a href="#kontakt" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Anfrage</a>
          </div>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Header -->

  <!-- Features Section -->
  <section class="page-section" id="offers">
    <div class="container relative">

      <!-- Features Grid -->
      <div class="benefits-grid local-scroll">

        <!-- Features Item -->
        <a href="#coworking">
          <div class="benefit-item">
            <div class="benefit-icon">
              <span class="icon-puzzle"></span>
            </div>
            <h3 class="benefit-title font-alt">Coworking Space</h3>
            <div class="benefits-descr">
              Durch eine offene Treppe gelangt man von der Kaffeebar in den Arbeitsbereich des Coworking Spaces.
            </div>
          </div></a>
        <!-- End Features Item -->
        <!-- Features Item -->
        <a href="#atelier">
          <div class="benefit-item">
            <div class="benefit-icon">
              <span class="icon-circle-compass"></span>
            </div>
            <h3 class="benefit-title font-alt">Atelier</h3>
            <div class="benefits-descr">
              Wir wollen uns nicht nur in der virtuellen Welt bewegen. Im Atelier und der Werkstatt entsteht Kunst zum Anfassen.
            </div>
          </div></a>
        <!-- End Features Item -->
        <!-- Features Item -->
        <a href="#workshopraum">
          <div class="benefit-item">
            <div class="benefit-icon">
              <span class="icon-target"></span>
            </div>
            <h3 class="benefit-title font-alt">Sitzungszimmer</h3>
            <div class="benefits-descr">
              Im Workshopraum kannst du deinen Ideen freien Lauf lassen. Alle Wände sind magnetisch und beschreibbar, sogar die Decke.
            </div>
          </div></a>
        <!-- End Features Item -->

      </div>
      <!-- End Features Grid -->

    </div>
  </section>
  <!-- End Features Section -->

  <!-- Section Coworking Title-->
  <section class="small-section bg-dark-alfa-30 bg-scroll" id="coworking" data-background="coworking_01.jpg">
  </section>
  <!-- End Section Coworking Title -->

  <!-- About Section Coworking -->
  <section class="page-section">
    <div class="container relative">
      <div class="row">
        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt">Coworking Space</h1>
          <div class="section-text">
            <p>
              Coworking hat sich in den letzten Jahren im Bereich neuer Arbeitsformen etabliert. Selbstständig Erwerbende, Kreative aber auch kleine Startups arbeiten am selben Ort, um ihre Ideen zu verwirklichen. Sie arbeiten selbstständig, aber als Teil der Community von Coworkern.
            </p>
            <p>
              Der Coworking Space stellt Arbeitsplätze zur Verfügung, die flexibel auf Tages-, Wochen- oder Monatsbasis gemietet werden können. Allen Mitgliedern wird die komplette Büroinfrastruktur zur Verfügung gestellt (z.B. schnelles Internet, Drucker, Kopierer, Sitzungsräume etc).
            </p>
          </div>
        </div>
        <div class="col-md-4 mt-md-50">
          <div class="contact-item clearfix">
            <h4 class="uppercase">Komm vorbei</h4>
            <div class="wave-spacer"></div>
            <div class="item local-scroll">
              <p>
                Du darfst gerne ohne Voranmeldung vorbei kommen. Einen Tagespass löst du direkt vor Ort an der Kaffeebar.
              </p>
              <p>
                Wenn du <strong>das erste Mal zum Coworken</strong> kommst, erhältst du
                <strong>um 10 Uhr</strong> eine Einführung von jemandem aus dem
                Gastgeber-Team.
              </p>
              <a href="#preise" class="btn btn-mod btn-gray mt-20">Preise</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
  <!-- End About Section Coworking -->

  <!-- Section Atelier Title-->
  <section class="small-section bg-dark-alfa-30 bg-scroll" id="atelier" data-background="atelier_01.jpg">
  </section>
  <!-- End Section Atelier Title -->

  <!-- About Section Atelier -->
  <section class="page-section">
    <div class="container relative">
      <h1 class="hs-line-11 font-alt">Atelier</h1>
      <div class="section-text">
        <p>
          Der Austausch soll über Berufsgrenzen hinaus stattfinden und Vernetzung entstehen lassen. Dies ergibt neue Möglichkeiten und eine breite Palette neuer Gedanken.
        </p>
        <p>
          Kreative und Musische treffen auf Strategen und Finanzgenies...
          <br> Eine Bildschirmpause kann gut im Atelier erfolgen.
        </p>
        <p>
          Wir haben bewusst Raum geschaffen für Kunst und Handwerk. Die Anwesenheit von Künstlern und Handwerkern ist sehr wohltuend und sehr wertvoll. Ihre Arbeit hat etwas Schöpferisches und holt die virtuelle und kopflastige Welt zurück in das Fassbare. Im hintersten Teil des Effingers haben sich schon drei Kreativlinge eingenistet.
        </p>
      </div>
    </div>
  </section>
  <!-- End About Section Atelier-->
  <!-- Section Workshopraum Title-->
  <section class="small-section bg-dark-alfa-30 bg-scroll" id="workshopraum" data-background="workshopraum_01.jpg">
  </section>
  <!-- End Section Workshopraum Title -->

  <!-- About Section Workshopraum -->
  <section class="page-section">
    <div class="container relative">
      <h1 class="hs-line-11 font-alt">Sitzungszimmer</h1>
      <div class="section-text">
        <p>
          Der abgetrennte Raum oberhalb des Kaffeebar-Bereichs eignet sich als Sitzungszimmer und Workshopraum für die Unternehmen im Coworking Space sowie externe Gäste. Hier soll out-of-the-box gedacht werden und dies spürt und sieht man schon beim Betreten des Raums.
        </p>
        <p>
          Der Raum bietet 360 Grad beschreibbare, magnetische Wände sowie einen grossen Screen. Hier sollen neue Ideen geboren, Bestehendes hinterfragt und ohne Grenzen "gebrainstormed" werden.
        </p>
        <a href="/raeume" class="btn btn-mod btn-gray mt-20">Mehr Infos</a>
      </div>
    </div>
  </section>
  <!-- End About Section Workshopraum -->

  <!-- Section -->
  <section class="page-section bg-gray-lighter" id="preise">
    <div class="container">
      <h1 class="hs-line-11 font-alt">Preise Coworking</h1>

      <!-- Pricing row -->
      <div class="row multi-columns-row">

        <!-- Pricing Item -->
        <div class="col-sm-6 col-md-3">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="/images/icons/ticket.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Tagespass
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>1 Arbeitstag<br>&nbsp;</li>
                    <li>1 Kaffee</li>
                    <li>Internet, Drucker, Teeküche</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>30
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-sm-6 col-md-3">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="/images/icons/sixpack.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Six-Pack
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>6 Tage pro Monat<br>(Zusatztage + 25.-)</li>
                    <li>1 Kaffee pro Tag</li>
                    <li>Internet, Drucker, Teeküche</li>
                    <li>2h Workshopraum pro Monat</li>
                    <li>Community Membership inklusive!</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>160<br><small>pro Monat</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-sm-6 col-md-3">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="/images/icons/effianer-teilzeit.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Effianer Teilzeit
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>8 Tage pro Monat<br>(Zusatztage + 25.-)</li>
                    <li>2 Kaffees pro Tag</li>
                    <li>Internet, Drucker, Teeküche</li>
                    <li>Workshopraum inklusive (fair use)</li>
                    <li>Community Membership inklusive!</li>
                    <li>Lager im Keller</li>
                    <li>abschliessbare Holzkiste (+ 25.-)</li>
                    <li>&rarr; Effianer-Rolle*<br>(siehe unten)</strong></li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>160<br><small>pro Monat</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-sm-6 col-md-3">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="/images/icons/effianer-vollzeit.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Effianer Vollzeit
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>Immer<br>(Mo-Sa)</li>
                    <li>2 Kaffees pro Tag</li>
                    <li>Internet, Drucker, Teeküche</li>
                    <li>Workshopraum inklusive (fair use)</li>
                    <li>Community Membership inklusive!</li>
                    <li>Lager im Keller</li>
                    <li>Fixer Arbeitsplatz und abschliessbare Holzkiste (+ 100.-)</li>
                    <li>&rarr; Effianer-Rolle*<br>(siehe unten)</strong></li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>350<br><small>pro Monat</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

      </div>
      <!-- End Pricing row -->

      <h3 class="font-alt">*Rolle der Effianer</h3>
      <div class="section-text">
        <p>
          Wir <a href="/blog/coworking-space-zusammen-betreiben/">betreiben den Coworking Space gemeinsam</a>. Als "Effianer" sorgen wir für eine florierende Community. Wir investieren rund 9,8696 Prozent unserer Zeit in die Community, ineinander und in den Betrieb des Effingers.
        </p>
      </div>

      <h1 class="hs-line-11 font-alt">Weitere Angebote</h1>

      <!-- Pricing row -->
      <div class="row multi-columns-row">

        <!-- Pricing Item -->
        <div class="col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="/images/icons/tickets.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Zehnerabo
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>10 Tagespässe (siehe oben)</li>
                    <li>auch halbtageweise einlösbar</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>270
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="/images/icons/community.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Community Membership
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features">
                  <ul class="sf-list pr-list">
                    <li>&frac12; Tag Coworking pro Monat</li>
                    <li>12 Gratis Kaffees</li>
                    <li>Zugang zur Community auf unserer Online-Plattform</li>
                    <li>Einladung an Member-Events</li>
                    <li>Heimat im Effinger: Du wirst Teil der "Effinger Community"</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>variabel<br>
                  <a href="/ueber/#community" class="btn btn-mod btn-border btn-medium btn-round">Mehr Infos</a>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-sm-4">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="/images/icons/factory.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Firmenarbeitsplatz
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features">
                  <ul class="sf-list pr-list">
                    <li>Immer (Mo-Sa)</li>
                    <li>Übertragbar innerhalb Firma</li>
                    <li>2 Kaffees pro Tag</li>
                    <li>Internet, Drucker, Teeküche</li>
                    <li>Workshopraum inklusive<br>(fair use)</li>
                    <li>1 Community Membership inklusive</li>
                    <li>Lager im Keller</li>
                    <li>Fixer Arbeitsplatz und abschliessbare Holzkiste</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>700<br>
                  <small>pro Monat</small>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

      </div>
      <!-- End Pricing row -->
    </div>
  </section>
  <!-- End Section -->

  <!-- Daily Contact Section -->
  <section class="page-section" id="kontakt">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt">Kontakt</h1>

      {{ $today := index $.Site.Data.de.weekdays .Now.Weekday }}

      {{ $.Scratch.Set "num_effianer_today" 0 }}
      {{ range $.Site.Data.effianer.Person }}
        {{ if in .host $today }}
          {{ $.Scratch.Add "num_effianer_today" 1 }}
        {{ end }}
      {{ end }}

      {{ if eq ($.Scratch.Get "num_effianer_today") 0 }}
      <div class="row">
        <div class="col-md-4 col-sm-6 mb-50">
      {{ else if eq ($.Scratch.Get "num_effianer_today") 1 }}
      <p class="font-alt mb-80 mb-sm-40">Heute dein Gastgeber</p>
      <div class="row">
        <div class="col-md-4 col-md-push-8 col-sm-6 mb-md-50">
      {{ else }}
      <p class="font-alt mb-80 mb-sm-40">Heute deine Gastgeber</p>
      <div class="row">
        <div class="col-md-4 col-md-push-8 col-sm-6 mb-md-50">
      {{ end }}
          <div class="contact-item clearfix">
            <h4 class="uppercase">Kontakt Coworking</h4>
            <div class="wave-spacer"></div>
            <div class="item">
              <p>Telefon<span><a href="tel:+41313982021">031 398 20 21</a></span></p>
              <p>E-Mail<span><a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a></span></p>
              <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstr. 10, Bern</a></span></p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-pull-4 col-sm-12">
          <div class="row">
            {{ range $.Site.Data.effianer.Person }}
            {{ if in .host $today }}
            <div class="col-sm-6 mb-50">
              <div class="team-item">
                <div class="team-item-image">
                  <img src="{{ .image }}" alt="{{ .name }}" />
                  <div class="team-item-detail">
                    <p class="font-alt normal">{{ if eq .gender "m" }}Gastgeber{{ else }}Gastgeberin{{ end }}</p>
                  </div>
                </div>
                <div class="team-item-descr font-alt">
                  <div class="team-item-name">
                    {{ .name }}
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>

      <div class=" team-item">
        <a href="/ueber/#effianer" class="btn btn-mod btn-border btn-medium btn-round">&rarr; Alle Gastgeber anzeigen</a>
      </div>
    </div>
  </section>
  <!-- End Daily Contact Section -->
</div>
<!-- End Page Wrap -->
{{ end }}
