{{ define "variables" }}
{{ .Scratch.Set "title" (print .Title " | Räume | " .Site.Title) -}}
{{ end }}

{{ define "main" }}
<!-- Page Wrap -->
<div class="page raeume" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-dark-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">{{ .Title }}</h1>
          <!--
          <div class="hs-line-4 font-alt mt-20 mt-xs-0">
          Räume
          </div>
          -->
        </div>

        <div class="col-md-4 mt-30">
          <div class="mod-breadcrumbs font-alt align-right">
            <a href="/raeume/"><i class="fa fa-angle-left"></i> Zeige alle Räume</a>
          </div>

        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- About Section -->
  <section class="page-section pt-60">
    <div class="container relative long-text-body">

      <div class="row">
        <div class="col-sm-10">
          {{ .Content | markdownify }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3 class="font-alt mt-50">Kalender</h3>
          <div class="mt-20" id="calendar">
            <div id="calendar-loading">
              <i class="fa fa-refresh fa-spin fa-3x fa-fw mb-10"></i>
              <div>Kalender werden geladen...</div>
            </div>
          </div>
          <div id="calendar-details" style="max-width: calc(100% - 40px);">
          </div>

          <!-- Button trigger calendar dialog -->
          <button id="authorize-button" type="button" class="btn btn-mod btn-medium btn-round mt-40" style="display: none;">
            Login
          </button>
          <button id="signout-button" type="button" class="btn btn-mod btn-medium btn-round mt-40" style="display: none;">
            Logout
          </button>

        </div>
      </div>

    </div>
  </section>
  <!-- End About Section Workshopraum -->

</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
{{ partial "fullcalendar_scheduler_includes.html" }}

<script type="text/javascript">
  // Client ID and API key from the Developer Console
  const CLIENT_ID = '438668020249-b7b6sepdi5kgk1kdhng4usv8j58uona1.apps.googleusercontent.com';
  const API_KEY = 'AIzaSyDQVL6ICInwYCZj4gJlh6fz2_6SOU0mvHg';

  // Array of API discovery doc URLs for APIs used by the quickstart
  const DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

  // Authorization scopes required by the API; multiple scopes can be
  // included, separated by spaces.
  const SCOPES = "https://www.googleapis.com/auth/calendar.readonly";

  const authorizeButton = document.getElementById('authorize-button');
  const signoutButton = document.getElementById('signout-button');

  /**
   *  On load, called to load the auth2 library and API client library.
   */
  function handleClientLoad() {
    gapi.load('client:auth2', initClient);
  }

  /**
   *  Initializes the API client library and sets up sign-in state
   *  listeners.
   */
  function initClient() {
    gapi.client.init({
      apiKey: API_KEY,
      clientId: CLIENT_ID,
      discoveryDocs: DISCOVERY_DOCS,
      scope: SCOPES
    }).then(function() {
      // Listen for sign-in state changes.
      gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

      // Handle the initial sign-in state.
      updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
      authorizeButton.onclick = handleAuthClick;
      signoutButton.onclick = handleSignoutClick;
    }, function(error) {
      console.log(error);
    });
  }

  /**
   *  Called when the signed in status changes, to update the UI
   *  appropriately. After a sign-in, the API is called.
   */
  function updateSigninStatus(isSignedIn) {
    if (isSignedIn) {
      authorizeButton.style.display = 'none';
      signoutButton.style.display = 'block';
      listResource();
    } else {
      authorizeButton.style.display = 'block';
      signoutButton.style.display = 'none';
    }
  }

  /**
   *  Sign in the user upon button click.
   */
  function handleAuthClick(event) {
    gapi.auth2.getAuthInstance().signIn();
  }

  /**
   *  Sign out the user upon button click.
   */
  function handleSignoutClick(event) {
    gapi.auth2.getAuthInstance().signOut();
  }

  /**
   * Load the resources from Google Calendar and display as Schedule view.
   */
  function listResource() {
    // var resources = [
    //   { id: 'effinger.ch_3736303136393637343739@resource.calendar.google.com', title: 'Tagesverantwortung' }
    // ];
    const resources = [
      { id: 'effinger.ch_3931343830323437383537@resource.calendar.google.com', title: '1OG Bärengraben', eventColor: '#9E69AF' },
      { id: 'effinger.ch_31313730333433383430@resource.calendar.google.com', title: '1OG Rosengarten', eventColor: '#F4511E' },
      { id: 'effinger.ch_3838383235323139363736@resource.calendar.google.com', title: '1OG Matte', eventColor: '#D81B60' },
      { id: 'effinger.ch_3936383230343032353631@resource.calendar.google.com', title: '1OG Kleine Schanze', eventColor: '#4285F4' },
      { id: 'effinger.ch_3737343630303933363438@resource.calendar.google.com', title: '1OG Grosse Schanze', eventColor: '#3F51B5' },
      { id: 'effinger.ch_3434383934323436313533@resource.calendar.google.com', title: 'EG Atelier', eventColor: '#009688' },
      { id: 'effinger.ch_2d35313235363038352d333337@resource.calendar.google.com', title: 'EG Pläfe', eventColor: '#0B8043' },
      { id: 'effinger.ch_2d3938333435313334383630@resource.calendar.google.com', title: 'EG Lounge', eventColor: '#F09300' },
      { id: 'effinger.ch_2d3733303938333532333136@resource.calendar.google.com', title: 'EG Stübli', eventColor: '#E4C441' },
      { id: 'effinger.ch_34303231313530323931@resource.calendar.google.com', title: 'UG Labor', eventColor: '#795548' },
      { id: 'effinger.ch_3736303136393637343739@resource.calendar.google.com', title: 'Tagesverantwortung', eventColor: '#616161' }
    ];

    const events = [];

    const timeMin = new Date();
    timeMin.setMonth(timeMin.getMonth() - 1);

    const timeMax = new Date();
    timeMax.setMonth(timeMax.getMonth() + 12);

    // Run requests for calendar events in parallel.
    const promises = [];
    for (let i = 0; i < resources.length; i++) {
      promises.push(fetchEvents(resources[i].id, timeMin, timeMax));
    }
    $.when.apply($, promises).then(function() {
      $.each(arguments, function(index, responseData){
        // "responseData" will contain an array of response information for each specific request
        events = events.concat(responseData);
      });

      loadScheduler(resources, events,
        $('#calendar'), $('#calendar-loading'), $('#calendar-details'));
    }, function() {
      alert('Sorry, es hat ein Fehler gegeben beim Abrufen der Kalender.' +
            '\nBitte wende dich an den Administrator deines Vertrauens.');
    });
  }

  // Fetches the events of the specified calendar.
  // Returns a promise.
  function fetchEvents(calendarId, timeMin, timeMax) {
    const deferred = $.Deferred();

    gapi.client.calendar.events.list({
      'calendarId': calendarId,
      'timeMin': timeMin.toISOString(),
      'timeMax': timeMax.toISOString(),
      'showDeleted': false,
      'singleEvents': true,
      'orderBy': 'startTime'
    }).then(function(response) {
      const events = [];
      $.each(response.result.items, function(index, value) {
        let start;
        let end;
        if (value.start.date) {
          // All-day-event.
          start = value.start.date;
          end = value.end.date;
        } else {
          // Normal events.
          start = value.start.dateTime;
          end = value.end.dateTime
        }
        events.push({
          id: value.id,
          resourceId: calendarId,
          title: value.summary,
          description: value.description,
          start: start,
          end: end
        });
      });
      deferred.resolve(events);
    });
    return deferred.promise();
  }
</script>

<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>

{{ end }}
