{{ define "main" }}
<!-- Page Wrap -->
<div class="page" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="{{ .Params.image }}">
    <div class="js-height-parent container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">

          <h1 class="font-alt mb-50 mb-xs-30">Community</h1>

          <div>
            <a href="/geschichte/" class="btn btn-mod btn-border-w btn-medium btn-round mb-md-10">Geschichte</a>
            <span class="d-none d-sm-inline">&nbsp;</span>
            <a href="/grundsaetze/" class="btn btn-mod btn-border-w btn-medium btn-round mb-md-10">Grundsätze</a>
            <span class="d-none d-sm-inline">&nbsp;</span>
            <a href="/organisation/" class="btn btn-mod btn-border-w btn-medium btn-round mb-md-10">Organisation</a>
            <span class="d-none d-sm-inline">&nbsp;</span>
            <a href="/finanzen/" class="btn btn-mod btn-border-w btn-medium btn-round mb-md-10">Finanzen</a>
          </div>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Header -->

  <!-- Section Vision -->
  <section class="page-section bg-gray pb-0">
    <div class="container relative">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>Wir sind eine innovative, kreative Community mit einem gemeinsamen Coworking Space und Kaffeebar in Bern.
            Wir sind eine Heimat für Jungunternehmer, Kreative und andere Weltveränderer, die einander helfen, ihre
            Ideen in Firmen, Innovationen und soziale Aktionen umzusetzen.</p>
        </blockquote>
        <figcaption class="blockquote-footer">Vision</figcaption>
      </figure>
    </div>
  </section>
  <!-- End Section Vision -->

  <section class="page-section bg-gray pb-60" id="effianer">
    <div class="container relative">

      <h2 class="hs-line-11 font-alt mt-50">Effianer*innen</h2>
      <p>
        Die Effianer*innen kümmern sich gemeinsam um den Betrieb des Effingers und reservieren sich Zeit füreinander und
        für die Community.
        Ihre Arbeit ist ehrenamtlich. Dafür erhalten sie einen günstigeren Arbeitsplatz und dazu Vieles, das man nicht
        mit Geld kaufen könnte.
      </p>

      <div class="row">
        {{ range $.Site.Data.effianer.Person }}
        <!-- Effianer Item -->
        <div class="effianer-item | col-sm-6 col-md-3 col-lg-3 mb-140">
          <div class="team-item">
            <div class="team-item-image">
              <img src="{{ .image }}" alt="" />
            </div>
            <div class="team-item-descr font-alt">
              <div class="team-item-name">
                &thinsp;{{ .name }}{{ if .about }}, <span class="text-nowrap">{{ .about }}</span>{{ end }}&thinsp;

                <div class="team-social-links">
                  &thinsp;
                  {{ if .email }}
                  <a href="mailto:{{ .email }}" target="_blank"><i class="fa fa-envelope"></i></a>
                  {{ end }}
                  {{ if .phone }}
                  <a href="tel:{{ .phone }}" target="_blank"><i class="fa fa-phone"></i></a>
                  {{ end }}
                  {{ if .website }}
                  <a href="{{ .website }}" target="_blank"><i class="fa fa-globe"></i></a>
                  {{ end }}
                  {{ if .twitter }}
                  <a href="https://twitter.com/{{ .twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                  {{ end }}
                  {{ if .facebook }}
                  <a href="https://www.facebook.com/{{ .facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                  {{ end }}
                  {{ if .instagram }}
                  <a href="https://www.instagram.com/{{ .instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
                  {{ end }}
                  {{ if .linkedin }}
                  <a href="https://www.linkedin.com/in/{{ .linkedin }}/" target="_blank"><i class="fa fa-linkedin"></i></a>
                  {{ end }}
                  &thinsp;
                </div>

              </div>
              <!-- Was used for fixed Host-Days.
              {{ $today := index $.Site.Data.de.weekdays now.Weekday }}
              <div class="team-item-role">
                {{ .description }}
                {{ if .host }}
                  {{ if eq .gender "m" }}Gastgeber{{ else }}Gastgeberin{{ end }}
                   am
                  {{ $num_days := len .host }}
                  {{ range $i, $day := .host }}{{ if gt $i 0 }}{{ if eq (add $i 1) $num_days }} und {{ else }}, {{ end }}{{ end }}
                  {{ if eq $day $today }}<span class="active-day text-nowrap"><i class="fa fa-chevron-right"></i>{{ end }}{{ $day }}{{ if eq $day $today }}<i class="fa fa-chevron-left"></i></span>{{ end }}{{ end }}
                {{ end }}
              </div>
              -->
            </div>
          </div>
        </div>
        <!-- End Effianer Item -->
        {{ end }}
      </div>
    </div>
  </section>
  <section class="page-section pb-60" id="mitmachen">
    <div class="container relative">
      <div class="row">
        <h2 class="hs-line-11 font-alt">Wie kann ich mitmachen?</h2>

        <!-- Pricing Item -->
        <div class="col-sm-6">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="community.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Community Membership
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features">
                  {{ partial "member_benefits.html" . }}
                  <br /><br /><br /><br />
                </div>

                <div class="pricing-num">
                  <sup>CHF</sup>variabel<br>
                </div>

                <a href="/community/member-werden/" class="btn btn-mod btn-border btn-medium btn-round d-block mt-10">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  Member werden
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->

        <!-- Pricing Item -->
        <div class="col-sm-6">
          <div class="pricing-item">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">

                <!-- Icon (Simple-line-icons) -->
                <div class="pricing-icon">
                  <img src="effianer-vollzeit.svg" alt="">
                </div>

                <!-- Pricing Title -->
                <div class="pricing-title">
                  Effianer*innen
                </div>

                <!-- Pricing Features -->
                <div class="pricing-features font-alt">
                  <ul class="sf-list pr-list">
                    <li>1 - 5 Tage Coworking pro Woche</li>
                    <li>2 Kaffees pro Tag</li>
                    <li>Gemeinsames Fitnessabo</li>
                    <li>Raummiete inklusive (fair use)</li>
                    <li>Gastrecht in allen Spaces von <a href="https://www.corelated.ch"
                        target="_blank">corelated.ch</a></li>
                    <li>Effianer-Rolle: Schenkzeit, Darlehen, Hostingtag</li>
                  </ul>
                </div>

                <div class="pricing-num">
                  <sup>ab CHF </sup>90 <span style="font-size: 0.5em;">/mt</span><br class="mb-10">
                  <small>Sprich mit uns.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Pricing Item -->
      </div>
    </div>
  </section>

  <section class="page-section bg-gray pb-60" id="ehemalige">
    <div class="container relative">
      <h3 class="hs-line-6 font-alt">Ehemalige & Weitergezogene</h3>
      <h2 class="hs-line-11 font-alt">Effinger Compagnon:nen</h2>
      <p>
        Beim Effinger haben über die Jahre unzählige Personen mitgewirkt. Hier möchten wir unsere Dankbarkeit diesen
        Menschen gegenüber zum Ausdruck bringen.
        Ohne Ihr Engagement wäre der Effinger nicht das, was er heute ist – ein fettes Merci!
      </p>

      <div class="row">
        {{ range $.Site.Data.ehemalige.Person }}
        <!-- Effianer Item -->
        <div class="col-sm-6 col-md-3 col-lg-3 mb-140">
          <div class="team-item">
            <div class="team-item-image">
              <img src="{{ .image }}" alt="" />
            </div>
            <div class="team-item-descr font-alt">
              <div class="team-item-name">
                {{ .name }}{{ if .about }}, <span class="text-nowrap">{{ .about }}</span>{{ end }}

                <div class="team-social-links">
                  {{ if .email }}
                  <a href="mailto:{{ .email }}" target="_blank"><i class="fa fa-envelope"></i></a>
                  {{ end }}
                  {{ if .phone }}
                  <a href="tel:{{ .phone }}" target="_blank"><i class="fa fa-phone"></i></a>
                  {{ end }}
                  {{ if .website }}
                  <a href="{{ .website }}" target="_blank"><i class="fa fa-globe"></i></a>
                  {{ end }}
                  {{ if .twitter }}
                  <a href="https://twitter.com/{{ .twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                  {{ end }}
                  {{ if .facebook }}
                  <a href="https://www.facebook.com/{{ .facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                  {{ end }}
                  {{ if .instagram }}
                  <a href="https://www.instagram.com/{{ .instagram }}" target="_blank"><i
                      class="fa fa-instagram"></i></a>
                  {{ end }}
                  {{ if .linkedin }}
                  <a href="https://www.linkedin.com/in/{{ .linkedin }}/" target="_blank"><i
                      class="fa fa-linkedin"></i></a>
                  {{ end }}
                </div>

              </div>
              <!-- Was used for fixed Host-Days.
              {{ $today := index $.Site.Data.de.weekdays now.Weekday }}
              <div class="team-item-role">
                {{ .description }}
                {{ if .host }}
                  {{ if eq .gender "m" }}Gastgeber{{ else }}Gastgeberin{{ end }}
                   am
                  {{ $num_days := len .host }}
                  {{ range $i, $day := .host }}{{ if gt $i 0 }}{{ if eq (add $i 1) $num_days }} und {{ else }}, {{ end }}{{ end }}
                  {{ if eq $day $today }}<span class="active-day text-nowrap"><i class="fa fa-chevron-right"></i>{{ end }}{{ $day }}{{ if eq $day $today }}<i class="fa fa-chevron-left"></i></span>{{ end }}{{ end }}
                {{ end }}
              </div>
              -->
            </div>
          </div>
        </div>
        <!-- End Effianer Item -->
        {{ end }}
      </div>
    </div>
  </section>

  <!-- Community Section -->
  <section class="page-section" id="community">
    <div class="container relative">

      <h2 class="hs-line-11 font-alt mb-60 text-center mb-70 mb-sm-40">Unsere Community</h2>

      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="section-text local-scroll">
            <p>
              Unsere Community besteht aktuell aus rund 150 Mitgliedern. Diese engagieren sich in ganz unterschiedlicher
              Weise für den Effinger und sorgen so dafür, dass das Zusammenspiel funktioniert.
            </p>
            <p>
              Die Community ist als Verein organisiert und nicht gewinnorientiert. Domenica und ihr Team von der <a
                href="/kaffeebar/">Effinger Kaffeebar GmbH</a> leiten den öffentlichen Café- und Barbetrieb. Sie sind im
              Effinger Untermieterinnen des Vereins.
            </p>
            <p>
              Bei uns gibt es keine Hierarchien. Wir tragen gemeinsam Verantwortung. Für den Effinger und für einander.
              Und wir sind überzeugt, dass es in der Arbeitswelt neue Organisationformen braucht. Deshalb haben wir in
              <a href="/grundsaetze/">zehn Grundsätzen</a> festgehalten, wie wir zusammen arbeiten und leben wollen.
            </p>
            <p>
              Nicht nur die Community sondern auch den Coworking Space im Effinger managen wir gemeinsam. Im Moment sind
              wir {{ len $.Site.Data.effianer.Person }} Personen, die sich um die gemeinsame Kultur kümmern und
              verantwortlich sind für den Betrieb vor Ort. Wir nennen uns <a href="#effianer">Effianer</a>.
            </p>

            <h3>Community Member werden</h3>
            <p>
              Als Community Member erhältst du ein Stück Heimat im Effinger und wirst Teil der "Effinger Community". Du
              erhältst Zugang zur ganzen Community, einerseits auf unserer <a href="/blog/slack/">Online-Plattform</a>,
              aber natürlich auch vor Ort im Effinger. Du wirst als Member an Events eingeladen, unter anderem an das
              jährliche Essen, exklusiv für Members. Ein halber Tag Coworking pro Monat ist auch inklusive.
            </p>
            <p>
              Die Membership kostet 250 Franken für das erste Jahr. Ab dem zweiten Jahr bestimmt jede Person selber, wie
              viel sie mit Finanzen zum Gedeihen der Community beitragen möchte (zwischen 1 und 500 Franken). Der Betrag
              soll sich "richtig" anfühlen. Übrigens: Dein/e Partner/in kann auch gleich mit dir Member werden, ohne den
              Erstjahresbeitrag.
            </p>
            <p>
              Die Community lebt durch das grosszügige Engagement der Mitglieder. Wer in welcher Form und wie viel
              beiträgt ist (zum Glück) nicht messbar. Deshalb wollen wir es den Community Membern selber überlassen, was
              sie beitragen möchten, sei es in Geldform oder durch persönliches Engagement.
            </p>
            <p>
              <strong>Interessiert an einer Membership?</strong> Komm einfach im Effinger vorbei und sprich uns darauf
              an. Oder fülle gleich das folgende Formular aus.<br>
              <a href="/community/member-werden/" class="btn btn-mod btn-border btn-medium btn-round mt-10"><i
                  class="fa fa-pencil-square-o" aria-hidden="true"></i> Community Member werden</a>
            </p>

            <h3 class="mt-60">Weitere Infos über die Community</h3>

            <p>
              Auf den folgenden Seiten findest du weitere Information über die Geschichte, die Grundsätze und die genaue
              Organisation unserer Community.
            </p>

            <a href="/geschichte/" class="btn btn-mod btn-border btn-medium btn-round mb-10">Geschichte</a>
            <span class="d-none d-sm-inline">&nbsp;</span>
            <a href="/grundsaetze/" class="btn btn-mod btn-border btn-medium btn-round mb-10">Grundsätze</a>
            <span class="d-none d-sm-inline">&nbsp;</span>
            <a href="/organisation/" class="btn btn-mod btn-border btn-medium btn-round mb-10">Organisation</a>
            <span class="d-none d-sm-inline">&nbsp;</span>
            <a href="/finanzen/" class="btn btn-mod btn-border btn-medium btn-round mb-10">Finanzen</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section Medien -->
  <section class="page-section">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-60"><a href="/medien/">Medien</a></h1>
      <div class="row">

        <div class="col-md-4 col-lg-3 mb-xs-40">
          <a href="/medien/">
            <span class="icon-newspaper" style="font-size: 150px;"></span>
          </a>
        </div>

        <div class="col-md-8 col-lg-7">
          <p>Unter folgendem Link findest du Zeitungsartikel und andere Medienberichte über den Effinger. Dort gibt es
            ausserdem ein Medienkit mit hochaufgelöste Bilder von der Kaffeebar und vom Coworking Space.</p>
          <a href="/medien/" class="btn btn-mod btn-border btn-medium btn-round">&rarr; Medienberichte und Medienkit</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section medien  -->

  <!-- Section corelated -->
  <section class="page-section bg-gray">
    <div class="relative container">
      {{ partial "corelated.html" . }}
    </div>
  </section>
  <!-- End Section corelated  -->


</div>
<!-- End Page Wrap -->
{{ end }}
