{{ define "main" }}
<!-- Page Wrap -->
<div class="page organisation" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-dark-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Member werden</h1>
          <!--
          <div class="hs-line-4 font-alt mt-20 mt-xs-0">
          Grundsätze
          </div>
          -->
        </div>

        <div class="col-md-4 mt-30">
          <div class="mod-breadcrumbs font-alt align-right">
            <a href="/community/"><i class="fa fa-angle-left"></i> Zurück zu Community</a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- Section -->
  <section class="page-section bg-gray">
    <div class="container relative">

      <div class="row">

        <!-- Content -->
        <div class="col-sm-10 col-sm-offset-1">

          <!-- Text -->
          <div class="section-text">
            {{ .Content }}

          </div>
          <!-- End Text -->

        </div>
        <!-- End Content -->
      </div>

    </div>
  </section>
  <!-- End Section -->

  <!-- Section -->
  <section class="page-section">
    <div class="container relative">

      <div class="row">

        <!-- Content -->
        <div class="col-sm-10 col-sm-offset-1">

          <!-- Text -->
          <div class="section-text">
            <h1 class="mt-0 font-alt">{{ .Title }}</h1>

            <form name="Community Membership" action="" class="form" netlify>
              <input type="hidden" name="form-name" value="Community Membership" />

              <div class="row">
                <div class="col-sm-6 mb-20 mb-md-10">
                  <label for="einstieg">Einstieg*</label>
                  <select name="einstieg" class="input-md form-control">
                    <option value="Einstieg mit Coworking-Abo" selected="selected">MIT Coworking-Abo (1. Jahr Membership inkl., dann wählbar)</option>
                    <option value="Einstieg ohne Coworking-Abo">OHNE Coworking-Abo (CHF 250)</option>
                  </select>
                </div>

                <div class="col-sm-6 mb-20 mb-md-10">
                  <label for="firma">Firma</label>
                  <input type="text" name="firma" class="input-md form-control" placeholder="" maxlength="100">
                </div>
              </div>

              <div class="row">

                <div class="col-sm-6 mb-20 mb-md-10">
                  <label for="vorname">Vorname*</label>
                  <input type="text" name="vorname" class="input-md form-control" placeholder="" maxlength="100" validate="notEmpty">
                </div>

                <div class="col-sm-6 mb-20 mb-md-10">
                  <label for="nachname">Nachname*</label>
                  <input type="text" name="nachname" class="input-md form-control" placeholder="" maxlength="100" validate="notEmpty">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 mb-20 mb-md-10">
                  <label for="geburtsdatum">Geburtsdatum*</label>
                  <input type="text" name="geburtsdatum" class="input-md form-control" placeholder="tt.mm.jjjj" maxlength="10" validate="notEmpty">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 mb-20 mb-md-10">
                  <label for="strasse">Strasse*</label>
                  <input type="text" name="strasse" class="input-md form-control" placeholder="" maxlength="100" validate="notEmpty">
                </div>

                <div class="col-sm-2 mb-20 mb-md-10">
                  <label for="plz">PLZ*</label>
                  <input type="text" name="plz" class="input-md form-control" placeholder="" maxlength="5"  validate="notEmpty">
                </div>

                <div class="col-sm-4 mb-20 mb-md-10">
                  <label for="ort">Ort*</label>
                  <input type="text" name="ort" class="input-md form-control" placeholder="" maxlength="50"  validate="notEmpty">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 mb-20 mb-md-10">
                  <label for="email">E-Mail-Adresse*</label>
                  <input type="email" name="email" class="input-md form-control" placeholder="" maxlength="100" validate="email">
                </div>


                <div class="col-sm-6 mb-20 mb-md-10">
                  <label for="telefon">Telefon*</label>
                  <input type="text" name="telefon" class="input-md form-control" placeholder="" maxlength="100" validate="notEmpty">
                </div>
              </div>

              <div class="mb-20 mb-md-10">
                <label for="bemerkungen">Bemerkungen</label>
                <textarea name="bemerkungen" class="input-md form-control" rows="3" placeholder="" maxlength="400"></textarea>
              </div>

              <div id="validation-error-message" class="alert error" style="display: none;">
                <button class="alert-close" type="button" data-dismiss="alert" aria-label="Close"><i class="fa fa-lg  fa-times-circle"></i></button>
                Hoppla Schorsch! Bitte die markierten Felder überprüfen.
                <ul class="error-details list-unstyled small"></ul>
              </div>

              <button type="submit" class="btn btn-mod btn-large btn-round">Abschicken <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </form>

            <div class="modal-content" id="form-success-content" style="display:none">
              <div class="modal-header">
                <h3 class="modal-title" id="calendar-dialog-title"><i class="fa fa-heart"></i> Danke!</h3>
              </div>
              <div class="modal-body">
                <h4>Deine Anmeldung für die Membership wurde abgeschickt</h4>
                <p>
                  Wir überprüfen nun die Anfrage und werden uns mit weiteren Details bei dir melden.
                </p>
                <p>
                  Wenn du noch Fragen hast, schreibe bitte ein Mail an <a href="mailto:community@effinger.ch">community@effinger.ch</a>
                </p>
              </div>
            </div>

          </div>
          <!-- End Text -->

        </div>
        <!-- End Content -->
      </div>

    </div>
  </section>
  <!-- End Section -->
</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
<script>
// *******************************
// Handle the form.
// *******************************
$(document).ready(function() {

  var $form = $('form');

  function reset() {
    $form.find('.invalid').removeClass('invalid');
    $form.find('#validation-error-message').hide();
  }

  function isEmail(email) {
    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(email);
  }

  $form.on('click', 'button', function (e) {
    e.preventDefault();

    // Clear invalid markers.
    reset();

    // Get input field values and validate
    // We simply change border color to red if empty field using .css()
    var error = false;

    $form.find(':input').each(function () {
      var validate = $(this).attr('validate');
      if (validate) {
        if (validate == 'notEmpty') {
          if (!$(this).val().trim()) {
            $(this).addClass('invalid');
            error = true;
          }
        } else if (validate == 'email') {
          if (!$(this).val().trim() || !isEmail($(this).val())) {
            $(this).addClass('invalid');
            error = true;
          }
        }
      }
    });

    // Submit when valid.
    if (!error) {
      // Submit.
      $.post($form.attr("action"), $form.serialize()).then(function() {
        // Show the success message.
        $form.hide();
        $('#form-success-content').show();
      });

    } else {
      // Show validation error message.
      // $form.find('#validation-error-message .error-details').html(error);
      $form.find('#validation-error-message').show();
    }
  });
});

</script>


{{ end }}
