{{ define "title" }}
{{ .Title }} | Blog | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<!-- Page Wrap -->
<div class="page blog-archive" id="top">

  <nav class="main-nav stick-fixed">
  {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-gray-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Blog - {{ .Title }}</h1>
          <!--
          <div class="hs-line-4 font-alt black mt-20 mt-xs-0">
            Artikel mit Tag: {{ .Title }}
          </div>
          -->
        </div>

        <div class="col-md-4 mt-30">
          <div class="mod-breadcrumbs font-alt align-right">
            <a href="/blog/"><i class="fa fa-angle-left"></i> Alle anzeigen</a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- Section -->
  <section class="page-section">
    <div class="container relative">

      <div class="row">

        <!-- Content -->
        <div class="col-sm-8">
          {{ range (where .Site.RegularPages "Section" "blog").GroupByDate "2006" }}
          <div id="{{ .Key }}" class="year-anchor"></div>
          <h2 class="hs-line-11 font-alt">{{ .Key }}</h2>

          <table class="blog-archive-table table table-striped table-hover table-borderless">
            <tbody>
              {{ range .Pages }}
              <tr class="clickable-row" data-href="{{ .RelPermalink }}">
                <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
                <td>
                  <span class="right text-nowrap">{{ .Date.Day }}. {{ index $.Site.Data.de.months .Date.Month }}<span class="hidden-xs"> {{ .Date.Year }}</span></span>
                </td>
              </tr>
              {{ end }}
            </tbody>
          </table>
          {{ end }}
        </div>
        <!-- End Content -->

        <!-- Sidebar -->
        <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
          {{ partial "blog/search_widget.html" . }}

          {{ partial "blog/tags_widget" . }}

          {{ partial "blog/archive_widget.html" . }}
        </div>
        <!-- End Sidebar -->
      </div>

    </div>
  </section>
  <!-- End Section -->
</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
<script type="text/javascript">
jQuery(document).ready(function($) {
  $(".clickable-row").click(function() {
    window.document.location = $(this).data("href");
  });
});
</script>
{{ end }}
