<!DOCTYPE html>
<html lang="de">
  <head>
    {{ partial "meta.html" . }}

    <title>{{ .Title }}</title>

    {{ partial "head_includes.html" . }}
    {{ partial "analytics_js.html" . }}
  </head>
  <body class="appear-animate">

    <!-- Page Loader -->        
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->

    <!-- Page Wrap -->
    <div class="page" id="top">

      <!-- Home Section -->
      <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="kaffeebar_header.jpg" id="home">
        <div class="js-height-parent container">

          <!-- Hero Content -->
          <div class="home-content">
            <div class="home-text">
              <h1 class="font-alt mb-50 mb-xs-30">
                Kaffeebar 
              </h1>

              <div class="local-scroll">
                <a href="#offers" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Angebote</a>
                <span class="hidden-xs">&nbsp;</span> 
                <a href="#about" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Reservation</a>
              </div>

            </div>
          </div>
          <!-- End Hero Content -->

        </div>
      </section>
      <!-- End Home Section -->


      {{ partial "navigation.html" . }}


      <!--  Section -->
      <section class="page-section">
        <div class="container relative">

          <!-- Row -->
          <div class="row">

              <!-- Col -->

              <div class="col-sm-8 mb-40">

                  <div class="text">
                      <h5 class="uppercase">Zur Kaffeebar</h5>
                      Hier ein paar nette, einführende Worte zur Kaffeebar.
                  </div>

              </div>

              <!-- End Col -->

              <!-- Col -->

              <div class="col-sm-4 mb-40">

                  <div class="text"> 
                    <h5 class="uppercase">Öffnungszeiten</h5>
                    <strong>Montag:</strong> 7:00 - 23:00 Uhr<br />
                    Dienstag: 7:00 - 23:00 Uhr<br />
                    Mittwoch: 7:00 - 23:00 Uhr<br />
                    Donnerstag: 7:00 - 23:00 Uhr<br />
                    Freitag: 7:00 - 23:00 Uhr<br />
                    Samstag: 8:00 - 23:00 Uhr<br />
                  </div>

              </div>

              <!-- End Col -->

           </div>
          <!-- End Row -->  
        </div>
      </section>  
      
      <!-- Fullwidth Slider --> 
      <div class="fullwidth-slider owl-carousel bg-gray">

          <!-- Slide Item -->
          <section class="page-section bg-gray">
              <div class="container relative">

                  <div class="row">

                      <div class="col-md-7 mb-sm-40">

                          <!-- Work Image -->
                          <div class="work-full-media mt-0">
                              <img src="images/portfolio/full-project-2.jpg" alt="" />
                          </div>
                          <!-- End Work Image -->

                      </div>

                      <div class="col-md-5 col-lg-4 col-lg-offset-1">

                          <!-- About Project -->
                          <div class="text">
                              <h3 class="font-alt mb-30 mb-xxs-10">Wochenhit</h3>
                              <p>
                                  Phasellus facilisis mauris vel velit molestie pellentesque. Donec rutrum, tortor ut elementum venenatis, purus magna bibendum nisl, ut accumsan ipsum erat eu sapien. 
                              </p>
                          </div>
                          <!-- End About Project -->

                      </div>

                  </div>   

              </div>
          </section>
          <!-- End Slide Item -->

          <!-- Slide Item -->
          <section class="page-section bg-gray">
              <div class="container relative">

                  <div class="row">

                      <div class="col-md-5 col-lg-4 mb-sm-40">

                          <!-- About Project -->
                          <div class="text">
                              <h3 class="font-alt mb-30 mb-xxs-10">Mega Hit</h3>
                              <p>
                                  Donec rutrum, tortor ut elementum venenatis, purus magna bibendum nisl, ut. Phasellus facilisis mauris vel velit molestie pellentesqu accumsan ipsum erat eu sapien. 
                              </p>

                          </div>
                          <!-- End About Project -->

                      </div>

                      <div class="col-md-7 col-lg-offset-1">

                          <!-- Work Video -->
                      <div class="work-full-media mt-0">

                          <iframe src="http://player.vimeo.com/video/37066208?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1000" height="563" allowfullscreen></iframe>

                      </div>
                      <!-- End Work Video -->

                      </div>

                 </div>   

              </div>
          </section>
          <!-- End Slide Item -->

          <!-- Slide Item -->
          <section class="page-section bg-gray">
              <div class="container relative">

                  <div class="row">

                      <div class="col-md-7 mb-sm-40">

                          <!-- Work Image -->
                          <div class="work-full-media mt-0">
                              <img src="images/portfolio/full-project-4.jpg" alt="" />
                          </div>
                          <!-- End Work Image -->

                      </div>

                      <div class="col-md-5 col-lg-4 col-lg-offset-1">

                          <!-- About Project -->
                          <div class="text">
                              <h3 class="font-alt mb-30 mb-xxs-10">Super Hit</h3>
                              <p>
                                  Phasellus facilisis mauris vel velit molestie pellentesque. Donec rutrum, tortor ut elementum venenatis, purus magna bibendum nisl, ut accumsan ipsum erat eu sapien. 
                              </p>

                          </div>
                          <!-- End About Project -->

                      </div>

                  </div>   

              </div>
          </section>
          <!-- End Slide Item -->

      </div>
      <!-- End Fullwidth Slider -->  
       
      <!-- Section -->
      <section id="offers" class="page-section">
          <div class="container relative">

              <h2 class="section-title font-alt mb-70 mb-sm-40">
                  Angebote
              </h2>

              <!-- Row -->
              <div class="row">

                  <!-- Col -->

                  <div class="col-sm-8 col-sm-offset-2">

                      <!-- Nav Tabs -->
                      <div class="align-center mb-40 mb-xs-30">
                          <ul class="nav nav-tabs tpl-minimal-tabs animate">

                              <li class="active">
                                  <a href="#mini-one" data-toggle="tab">Getränke</a>
                              </li>

                              <li>
                                  <a href="#mini-two" data-toggle="tab">Essen</a>
                              </li>

                          </ul>
                      </div>
                      <!-- End Nav Tabs -->

                      <!-- Tab panes -->
                      <div class="tab-content tpl-minimal-tabs-cont align-center section-text">

                          <div class="tab-pane fade in active" id="mini-one">
                            <div class="offers">
                              <span class="box1">Coca Cola<span>Fr. 5.-</span></span> 
                              <span class="box1">Fanta<span>Fr. 5.-</span></span>
                              <span class="box1">Rivella rot<span>Fr. 5.-</span></span>
                              <span class="box1">Wein<span>Fr. 8.-</span></span>
                              <span class="box1">Bier<span>Fr. 7.-</span></span>
                              <span class="box1">Whisky<span>Fr. 15.-</span></span>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="mini-two">
                            <div class="offers">
                              <span class="box1">Schoggi<span>Fr. 5.-</span></span> 
                              <span class="box1">Müesli<span>Fr. 5.-</span></span>
                              <span class="box1">Quiche<span>Fr. 15.-</span></span>
                              <span class="box1">Quiche mit Büsirücken<span>Fr. 8.-</span></span>
                              <span class="box1">Bier<span>Fr. 7.-</span></span>
                              <span class="box1">Whisky<span>Fr. 15.-</span></span>
                            </div>
                          </div>

                      </div>

                  </div>

                  <!-- End Col -->                        

              </div>
              <!-- End Row -->

          </div>
      </section>
      <!-- End Section -->
    
     
      <!-- Divider -->
      <hr class="mt-0 mb-0"/>
      <!-- End Divider -->

      {{ partial "footer.html" . }}

    </div>
    <!-- End Page Wrap -->

    {{ partial "body_includes.html" . }}

  </body>
</html>     