{{ define "main" }}
<!-- Page Wrap -->
<div class="page kaffeebar" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="kaffeebar_header_02.jpg">
    <div class="js-height-parent container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">
          <h1 class="font-alt mb-50 mb-xs-30">
            Kaffeebar
          </h1>

          <div class="local-scroll">
            <a href="#angebote" class="btn btn-mod btn-border-w btn-medium btn-round">Angebot</a>
            <span class="hidden-xs">&nbsp;</span>
            <a href="#team" class="btn btn-mod btn-border-w btn-medium btn-round">Team</a>
          </div>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Header -->

  <!-- Section -->
  <section class="page-section">
    <div class="container relative">


      <!-- Row -->
      <div class="row">

        <!-- Col -->
        <div class="col-sm-8 mb-40">

          <div class="text">
            <h2 class="hs-line-11 font-alt mb-60">Effinger Kaffeebar</h2>
            <p>
              Bei uns gibt es guten Kaffee für Tanten, Espresso für Eilige und Tee für Abwartende. Und auch Apéros für Prostende, Bier für Feierabende und Wein für alle. </p>
            <p>
              Perfekt zum Feierabendbier: Hummus, Oliven, Fetawürfeli und andere Köstlichkeiten.
            </p>
            <p>
              Und was bestellst du?
            </p>
            <p>
              <i class="fa fa-bullhorn"></i> Jeden Sonntag laden wir zudem auch zum Zmorge.
            </p>
            <p>
              Wir freuen uns auf deinen Besuch!
            </p>
          </div>

        </div>

        <!-- End Col -->

        <!-- Col -->

        <div class="col-sm-4">
          <div class="contact-item mb-20 clearfix">
            <h4 class="uppercase">Öffnungszeiten</h4>
            <div class="wave-spacer"></div>
            <div class="item">
              {{ partial "oeffnungszeiten_kaffeebar.html" . }}
            </div>
            <div class="item mt-20">
              <p>Telefon<span><a href="tel:+41313982020">031 398 20 20</a></span></p>
              <p>Email<span><a href="mailto:kaffeebar@effinger.ch">kaffeebar@effinger.ch</a></span></p>
              <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstr. 10, Bern</a></span></p>
            </div>
            <div class="wave-spacer"></div>
            <div class="item mt-20">
              <p><strong>Reservationen</strong> für den selben Tag nehmen wir gerne per Telefon entgegen, alle anderen auch per Mail. <span style="text-decoration: line-through; font-weight: 300; text-align:left; display:none;">Fürs Sonn&shy;tags&shy;zmorge ist am Frei&shy;tag&shy;abend Re&shy;ser&shy;vations&shy;schluss.</span></p>
            </div>
          </div>
          <!-- <div class="contact-private-party">
            <img src="partybutton.png" alt="Privatanlass">
            <span>
              Der Sams&shy;tag steht für Ge&shy;burts&shy;tags&shy;fes&shy;te, Bude-&shy;Zmor&shy;ge oder Pen&shy;sion&shy;ierungs&shy;apé&shy;ros zur Ver&shy;fü&shy;gung.
            </span>
          </div> -->
        </div>

        <!-- End Col -->

      </div>
      <!-- End Row -->
    </div>
  </section>

  <!-- Section -->
  <section id="impression" class="page-section bg-dark pb-20 pt-40">
    <div class="relative">

      <!-- Photo Grid -->
      <div class="row multi-columns-row">

        <!-- Photo Item -->
        <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

          <div class="post-prev-img">
            <a href="kaffeebar_01.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_01-thumb.jpg" alt="" /></a>
          </div>

        </div>
        <!-- End Photo Item -->

        <!-- Photo Item -->
        <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

          <div class="post-prev-img">
            <a href="kaffeebar_02.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_02-thumb.jpg" alt="" /></a>
          </div>

        </div>
        <!-- End Photo Item -->

        <!-- Photo Item -->
        <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

          <div class="post-prev-img">
            <a href="kaffeebar_03.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_03-thumb.jpg" alt="" /></a>
          </div>

        </div>
        <!-- End Photo Item -->

        <!-- Photo Item -->
        <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

          <div class="post-prev-img">
            <a href="kaffeebar_04.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_04-thumb.jpg" alt="" /></a>
          </div>

        </div>
        <!-- End Photo Item -->

        <!-- Photo Item -->
        <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

          <div class="post-prev-img">
            <a href="kaffeebar_05.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_05-thumb.jpg" alt="" /></a>
          </div>

        </div>
        <!-- End Photo Item -->

        <!-- Photo Item -->
        <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

          <div class="post-prev-img">
            <a href="kaffeebar_06.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_06-thumb.jpg" alt="" /></a>
          </div>

        </div>
        <!-- End Photo Item -->

        <!-- Photo Item -->
        <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

          <div class="post-prev-img">
            <a href="kaffeebar_07.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_07-thumb.jpg" alt="" /></a>
          </div>

        </div>
        <!-- End Photo Item -->

        <!-- Photo Item -->
        <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

          <div class="post-prev-img">
            <a href="kaffeebar_08.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_08-thumb.jpg" alt="" /></a>
          </div>

        </div>
        <!-- End Photo Item -->

      </div>
      <!-- End Photo Grid -->

    </div>
  </section>
  <!-- End Section -->

  <!-- Section -->
  <section id="angebote" class="page-section pt-80 pb-80 bg-gray-lighter">
    <div class="container relative">

      <h2 class="hs-line-11 font-alt mb-60 text-center">{{ .Params.offers_title }}</h2>

      <!-- Accordion -->
      <dl class="toggle offers">

        {{ range .Params.offers }}
        <dt>
          <a href="" class="offers-title">
            {{ if .icon }}
              {{ .icon | safeHTML }}
            {{ end }}
            <span>
              {{ .title }}
            </span>
          </a>
        </dt>
        <dd>
          <div>
            <!-- Two columns for medium and large screens with defined left/right ordering -->
            <div class="row hidden-xs">
              <div class="col-sm-6 left">
                {{ range where .section "column" "left" }}
                  {{ partial "kaffeebar/menu_item.html" . }}
                {{end }}
              </div>
              <div class="col-sm-6 right">
                {{ range where .section "column" "right" }}
                  {{ partial "kaffeebar/menu_item.html" . }}
                {{end }}
              </div>
            </div>
            <!-- One column for small screens -->
            <div class="visible-xs-block">
            {{ range .section }}
              {{ partial "kaffeebar/menu_item.html" . }}
            {{end }}
            </div>
          </div>
        </dd>
        {{ end }}
      </dl>
      <!-- End Accordion -->

    </div>
  </section>
  <!-- End Section -->

  <!-- Team Section -->
  <section class="page-section pb-40" id="team">
    <div class="container relative">

      <h3 class="hs-line-11 font-alt mb-60 text-center">Geschäftsführung Kaffeebar</h3>

      <!-- <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="section-text align-center mb-70 mb-xs-40">
            Text
          </div>
        </div>
      </div> -->

      <div class="row multi-columns-row">

        <!-- Team Item -->
        <!-- <div class="col-sm-6 col-md-3 col-md-offset-3 col-lg-3 mb-sm-100 wow fadeInUp">
          <div class="team-item">
            <div class="team-item-image">
              <img src="/images/effianer/salome-hostettler.jpg" alt="" />
              <div class="team-item-detail">
                <div class="team-social-links">
                  <a href="mailto:salome@effinger.ch" target="_blank"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.facebook.com/salome.hostettler" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </div>
            <div class="team-item-descr font-alt">
              <div class="team-item-name">
                Salome Hostettler
              </div> -->
              <!--
              <div class="team-item-role">
                Leiterin Kaffeebar
              </div>
              -->
            <!-- </div>
          </div>
        </div> -->
        <!-- End Team Item -->

        <!-- Team Item -->
        <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item">
            <div class="team-item-image">
              <img src="/images/effianer/domenica-hitz.jpg" alt="" />
              <div class="team-item-detail">
                <div class="team-social-links">
                  <a href="mailto:domenica@effinger.ch" target="_blank"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.instagram.com/effingerbern" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <div class="team-item-descr font-alt">
              <div class="team-item-name">
                Domenica Hitz
              </div>
              <!--
              <div class="team-item-role">
                Leiterin Kaffeebar
              </div>
              -->
            </div>
          </div>
        </div>
        <!-- End Team Item -->


      </div>

      <h2 class="hs-line-11 font-alt mb-60 text-center mt-140 wow fadeInUp" data-wow-delay="0.4s">Kaffeebar Team</h2>

      <div class="row multi-columns-row">

        {{ range $.Site.Data.kaffeebar.Person }}
        <div class="col-sm-6 col-md-3 col-lg-3 mb-140 wow fadeInUp">
          <div class="team-item">
            <div class="team-item-image">
              <img src="{{ .image }}" alt="">
              <div class="team-item-detail">
                <div class="team-social-links">
                  {{ .comment }}
                </div>
              </div>
            </div>
            <div class="team-item-descr font-alt">
              <div class="team-item-name">
                {{ .name }}
              </div>

            </div>
          </div>
        </div>
        {{ end }}

      </div>

    </div>
  </section>
  <!-- End Team Section -->

  <section class="page-section bg-dark-lighter">
    <div class="container">
      <div class="contact-item contact-oeffnungszeiten mt-20 mb-20 clearfix">
        <h4 class="uppercase">Kontakt</h4>
        <div class="wave-spacer"></div>
        <div class="item">
          {{ partial "oeffnungszeiten_kaffeebar.html" . }}
        </div>
        <div class="item mt-20">
          <p>Telefon<span><a href="tel:+41313982020">031 398 20 20</a></span></p>
          <p>Email<span><a href="mailto:kaffeebar@effinger.ch">kaffeebar@effinger.ch</a></span></p>
          <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse 10, Bern</a></span></p>
        </div>
        <div class="wave-spacer"></div>
        <div class="item mt-20">
          <p><strong>Reservationen</strong> für den selben Tag nehmen wir gerne per Telefon entgegen, alle anderen auch per Mail. Fürs Sonntagszmorge ist am Freitag-Abend Reservations-Schluss.</p>
        </div>
      </div>
      <div class="contact-private-party">
        <img src="partybutton.png" alt="Privatanlass">
        <span>
          Der Sams&shy;tag steht für Ge&shy;burts&shy;tags&shy;fes&shy;te, Bude-&shy;Zmor&shy;ge oder Pen&shy;sion&shy;ierungs&shy;apé&shy;ros zur Ver&shy;fü&shy;gung.
        </span>
      </div>
    </div>
  </section>
</div>
<!-- End Page Wrap -->
{{ end }}
