<!DOCTYPE html>
<html lang="de">
{{ partial "head.html" . }}

<body class="">

  <!-- Page Wrap -->
  <div class="page" id="top">

    <nav class="main-nav dark transparent stick-fixed">
      {{ partial "navigation.html" . }}
    </nav>

    <!-- Header -->
    <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background="kaffeebar_header.jpg">
      <div class="js-height-parent container">

        <!-- Hero Content -->
        <div class="home-content">
          <div class="home-text">
            <h1 class="font-alt mb-50 mb-xs-30">
                Kaffeebar
              </h1>

            <div class="local-scroll">
              <a href="#offers" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Angebote</a>
              <span class="hidden-xs">&nbsp;</span>
              <a href="#contact" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Reservation</a>
            </div>

          </div>
        </div>
        <!-- End Hero Content -->

      </div>
    </section>
    <!-- End Header -->

    <!-- Section -->
    <section class="page-section">
      <div class="container relative">

        <!-- Row -->
        <div class="row">

          <!-- Col -->

          <div class="col-sm-8 mb-40">

            <div class="text">
              <h5 class="uppercase">Zur Kaffeebar</h5> Hier ein paar nette, einführende Worte zur Kaffeebar.
            </div>

          </div>

          <!-- End Col -->

          <!-- Col -->

          <div class="col-sm-4 mb-40">
            <!-- hours of business -->
            <div class="contact-item mt-20 mb-20">
              <div class="ci-icon">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="ci-title font-alt">
                Mo – Fr.
              </div>
              <div class="ci-text">
                7:00 – 23:00 Uhr
              </div>
              <div class="ci-title font-alt pt-10">
                Sa.
              </div>
              <div class="ci-text">
                8:00 – 23:00 Uhr
              </div>
            </div>
            <!-- End hours of business -->

            <!-- Phone -->
            <div class="contact-item mt-20 mb-20">
              <div class="ci-icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="ci-title font-alt">
                Telefon
              </div>
              <div class="ci-text">
                031 398 20 20
              </div>
            </div>
            <!-- End Phone -->

            <!-- Email -->
            <div class="contact-item mt-20 mb-20">
              <div class="ci-icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="ci-title font-alt">
                Email
              </div>
              <div class="ci-text">
                <a href="mailto:kaffeebar@effinger.ch">kaffeebar@effinger.ch</a>
              </div>
            </div>
            <!-- End Email -->

            <!-- Address -->
            <div class="contact-item mt-20 mb-20">
              <div class="ci-icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="ci-title font-alt">
                Adresse
              </div>
              <div class="ci-text">
                <a href="/kontakt/">Effingerstrasse 10,
                  <br>3011 Bern</a>
              </div>
            </div>
            <!-- End Address -->
          </div>

          <!-- End Col -->

        </div>
        <!-- End Row -->
      </div>
    </section>

    <!-- Section -->
    <section id="impression" class="page-section bg-dark pb-20 pt-40">
      <div class="relative">

        <!-- Photo Grid -->
        <div class="row multi-columns-row">

          <!-- Photo Item -->
          <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

            <div class="post-prev-img">
              <a href="kaffeebar_01.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_01.jpg" alt="" /></a>
            </div>

          </div>
          <!-- End Photo Item -->

          <!-- Photo Item -->
          <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

            <div class="post-prev-img">
              <a href="kaffeebar_02.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_02.jpg" alt="" /></a>
            </div>

          </div>
          <!-- End Photo Item -->

          <!-- Photo Item -->
          <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

            <div class="post-prev-img">
              <a href="kaffeebar_03.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_03.jpg" alt="" /></a>
            </div>

          </div>
          <!-- End Photo Item -->

          <!-- Photo Item -->
          <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

            <div class="post-prev-img">
              <a href="kaffeebar_04.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_04.jpg" alt="" /></a>
            </div>

          </div>
          <!-- End Photo Item -->

          <!-- Photo Item -->
          <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

            <div class="post-prev-img">
              <a href="kaffeebar_05.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_05.jpg" alt="" /></a>
            </div>

          </div>
          <!-- End Photo Item -->

          <!-- Photo Item -->
          <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

            <div class="post-prev-img">
              <a href="kaffeebar_06.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_06.jpg" alt="" /></a>
            </div>

          </div>
          <!-- End Photo Item -->

          <!-- Photo Item -->
          <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

            <div class="post-prev-img">
              <a href="kaffeebar_07.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_07.jpg" alt="" /></a>
            </div>

          </div>
          <!-- End Photo Item -->

          <!-- Photo Item -->
          <div class="col-xs-6 col-md-3 col-lg-3 mb-md-10">

            <div class="post-prev-img">
              <a href="kaffeebar_08.jpg" class="lightbox-gallery-2 mfp-image"><img src="kaffeebar_08.jpg" alt="" /></a>
            </div>

          </div>
          <!-- End Photo Item -->

        </div>
        <!-- End Photo Grid -->

      </div>
    </section>
    <!-- End Section -->

    <!-- Fullwidth Slider -->
    <div class="fullwidth-slider owl-carousel bg-gray">

      <!-- Slide Item -->
      <section class="page-section bg-gray">
        <div class="container relative">

          <div class="row">

            <div class="col-md-7 mb-sm-40">

              <!-- Work Image -->
              <div class="work-full-media mt-0">
                <img src="kaffeebar_01.jpg" alt="" />
              </div>
              <!-- End Work Image -->

            </div>
            <div class="col-md-5 col-lg-4 col-lg-offset-1">

              <!-- About Project -->
              <div class="text">
                <h3 class="font-alt mb-30 mb-xxs-10">Wochenhit</h3>
                <p>
                  Phasellus facilisis mauris vel velit molestie pellentesque. Donec rutrum, tortor ut elementum venenatis, purus magna bibendum nisl, ut accumsan ipsum erat eu sapien.
                </p>
              </div>
              <!-- End About Project -->

            </div>

          </div>

        </div>
      </section>
      <!-- End Slide Item -->

      <!-- Slide Item -->
      <section class="page-section bg-gray">
        <div class="container relative">

          <div class="row">

            <div class="col-md-5 col-lg-4 mb-sm-40">

              <!-- About Project -->
              <div class="text">
                <h3 class="font-alt mb-30 mb-xxs-10">Mega Hit</h3>
                <p>
                  Donec rutrum, tortor ut elementum venenatis, purus magna bibendum nisl, ut. Phasellus facilisis mauris vel velit molestie pellentesqu accumsan ipsum erat eu sapien.
                </p>

              </div>
              <!-- End About Project -->

            </div>

            <div class="col-md-7 col-lg-offset-1">

              <!-- Work Image -->
              <div class="work-full-media mt-0">
                <img src="kaffeebar_02.jpg" alt="" />
              </div>
              <!-- End Work Image -->

            </div>

          </div>

        </div>
      </section>
      <!-- End Slide Item -->

      <!-- Slide Item -->
      <section class="page-section bg-gray">
        <div class="container relative">

          <div class="row">

            <div class="col-md-7 mb-sm-40">

              <!-- Work Image -->
              <div class="work-full-media mt-0">
                <img src="kaffeebar_01.jpg2" alt="" />
              </div>
              <!-- End Work Image -->

            </div>

            <div class="col-md-5 col-lg-4 col-lg-offset-1">

              <!-- About Project -->
              <div class="text">
                <h3 class="font-alt mb-30 mb-xxs-10">Super Hit</h3>
                <p>
                  Phasellus facilisis mauris vel velit molestie pellentesque. Donec rutrum, tortor ut elementum venenatis, purus magna bibendum nisl, ut accumsan ipsum erat eu sapien.
                </p>

              </div>
              <!-- End About Project -->

            </div>

          </div>

        </div>
      </section>
      <!-- End Slide Item -->

    </div>
    <!-- End Fullwidth Slider -->

    <!-- Section -->
    <section id="offers" class="page-section">
      <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">Angebote</h2>

        <!-- Accordion -->
        <dl class="toggle">
          <dt><a href="">Essen</a></dt>
          <dd>
            <div class="offers">
              <div class="row">
                <div class="box-item">
                  <h3 class="font-alt">Ein Stück vom Glück</h3>
                  <table>
                    <tr>
                      <td>Fleischquiche mit Salat
                        <span>- Saucisson Vaudois, Sauerkraut, Apfel </span>
                        <span>- Rindfleisch, Pastinake, Schnittlauch</span></td>
                      <td>19.50</td>
                    </tr>
                    <tr>
                      <td>Vegiquiche mit Salat
                        <span>- Spinat, Feta, rote Zwiebeln </span>
                        <span>- Ofengemüse, Süsskartoffel, Rosmarin</span> </td>
                      <td>18.00</td>
                    </tr>
                  </table>
                </div>
                <div class="box-item">
                  <h3 class="font-alt">Grünzeug</h3>
                  <table>
                    <tr>
                      <td>Gemischter grüner Blattsalat
                        <span>- mit Kernen, Cranberries, Brot</span></td>
                      <td>10.50</td>
                    </tr>
                    <tr>
                      <td>Zusätze:
                        <span>- Ziegenkäse, Honig, Nüsse </span>
                        <span>- Rohschinken, Parmesan</span>
                      </td>
                      <td>
                        <br>+4.00
                        <br>+6.00</td>
                    </tr>
                  </table>

                </div>
              </div>
            </div>
          </dd>
          <dt> <a href="">Trinken</a></dt>
          <dd>
            <div class="offers">
              <div class="row">
                <div class="box-item">
                  <table>
                    <tr>
                      <td>
                        <h3 class="font-alt">Kaffee</h3>
                      </td>
                      <td><h3 class="font-alt"><i class="fa fa-coffee"></i></h3></td>
                    </tr>
                    <tr>
                      <td>Espresso/Ristretto</td>
                      <td>4.00</td>
                    </tr>
                    <tr>
                      <td>Doppio</td>
                      <td>5.00</td>
                    </tr>
                    <tr>
                      <td>Kaffee</td>
                      <td>4.20</td>
                    </tr>
                    <tr>
                      <td>Schale</td>
                      <td>4.80/5.80</td>
                    </tr>
                    <tr>
                      <td>Cappuccino</td>
                      <td>4.80/5.80</td>
                    </tr>
                    <tr>
                      <td>Latte Macchiato</td>
                      <td>5.20</td>
                    </tr>
                    <tr>
                      <td>Trinkschokolade<span>Nature, chai</span></td>
                      <td>5.00</td>
                    </tr>
                  </table>
                </div>

                <div class="box-item">
                  <table>
                    <tr>
                      <td>
                        <h3 class="font-alt">Kalt</h3>
                      </td>
                      <td><h3 class="font-alt"><i class="fa fa-glass"></i></h3></td>
                    </tr>
                    <tr>
                      <td>Goba Mineral still/laut</td>
                      <td>2.50/3.50</td>
                    </tr>
                    <tr>
                      <td>Cola / Zero</td>
                      <td>4.50</td>
                    </tr>
                    <tr>
                      <td>Goba Mineral still/laut</td>
                      <td>2.50/3.50</td>
                    </tr>
                    <tr>
                      <td>Cola / Zero</td>
                      <td>4.50</td>
                    </tr>
                    <tr>
                      <td>Goba Mineral still/laut</td>
                      <td>2.50/3.50</td>
                    </tr>
                    <tr>
                      <td>Cola / Zero</td>
                      <td>4.50</td>
                    </tr>
                    <tr>
                      <td>Goba Mineral still/laut</td>
                      <td>2.50/3.50</td>
                    </tr>
                    <tr>
                      <td>Cola / Zero</td>
                      <td>4.50</td>
                    </tr>
                    <tr>
                      <td>Goba Mineral still/laut</td>
                      <td>2.50/3.50</td>
                    </tr>
                    <tr>
                      <td>Cola / Zero</td>
                      <td>4.50</td>
                    </tr>
                    <tr>
                      <td>Goba Mineral still/laut</td>
                      <td>2.50/3.50</td>
                    </tr>
                    <tr>
                      <td>Cola / Zero</td>
                      <td>4.50</td>
                    </tr>
                    <tr>
                      <td>Goba Mineral still/laut</td>
                      <td>2.50/3.50</td>
                    </tr>
                    <tr>
                      <td>Cola / Zero</td>
                      <td>4.50</td>
                    </tr>
                  </table>
                </div>
                <div class="box-item">
                  <table>
                    <tr>
                      <td>
                        <h3 class="font-alt">Tee</h3>
                      </td>
                      <td><h3 class="font-alt"><i class="fa fa-coffee"></i></h3></td>
                    </tr>
                    <tr>
                      <td>Assam Finest Tippey <span>(Indien)</span></td>
                      <td>4.80</td>
                    </tr>
                    <tr>
                      <td>Special Earl Grey <span>(Indien, Java)</span></td>
                      <td>4.80</td>
                    </tr>
                  </table>

                </div>
              </div>
            </div>
          </dd>
        </dl>
        <!-- End Accordion -->

      </div>
    </section>
    <!-- End Section -->

    <!-- Section -->
    <section id="events" class="page-section bg-gray-lighter">
      <h2 style="text-align:center;">Events</h2>
    </section>
    <!-- End Section -->


    <!-- Team Section -->
    <section class="page-section">
      <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">Our Team</h2>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="section-text align-center mb-70 mb-xs-40">
              In&nbsp;auctor ex&nbsp;id&nbsp;urna faucibus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In&nbsp;maximus ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim sagittis quam, id&nbsp;porta quam. Sed id&nbsp;dolor consectetur fermentum nibh volutpat, accumsan purus.
            </div>
          </div>
        </div>

        <div class="row multi-columns-row">

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-sm-30 wow fadeInUp">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/domenica.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Hello & Welcome!</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Domenica Winkler
                </div>

                <div class="team-item-role">
                  Bigboss
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/salome.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Nice to meet!</h4>

                  <p>
                    Curabitur augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique porta.
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Salome Hostettler
                </div>

                <div class="team-item-role">
                  Bigboss
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/_hanne.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Whats Up!</h4>

                  <p>
                    Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam.
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Hanne
                </div>

                <div class="team-item-role">
                  Unterschreiberin des 1. Arbeitsvertrages
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

          <!-- Team Item -->
          <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/_natascha.jpg" alt="" />

                <div class="team-item-detail">

                  <h4 class="font-alt normal">Hi to all!</h4>

                  <p>
                    Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam.
                  </p>

                  <div class="team-social-links">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Natascha Stricker
                </div>

                <div class="team-item-role">
                  Unterschreiberin des 2. Arbeitsvertrages
                </div>

              </div>

            </div>
          </div>
          <!-- End Team Item -->

        </div>

      </div>
    </section>
    <!-- End Team Section -->

    {{ partial "footer.html" . }}

  </div>
  <!-- End Page Wrap -->

  {{ partial "body_includes.html" . }}

</body>

</html>
