<!DOCTYPE html>
<html lang="de">
{{ partial "head.html" . }}

<body class="">

  <!-- Page Wrap -->
  <div class="page" id="top">

    <nav class="main-nav dark transparent stick-fixed">
      {{ partial "navigation.html" . }}
    </nav>

    <!-- Section -->
    <section class="small-section bg-dark-lighter">
        <div class="relative container align-left pt-80">

            <div class="row">

                <div class="col-md-8">
                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Grundsätze</h1>
                    <div class="hs-line-4 font-alt">
                        Wie wir organisert sind.
                    </div>
                </div>

                <div class="col-md-4 mt-30">
                    <div class="mod-breadcrumbs font-alt align-right">
                        <a href="#">Community</a>&nbsp;/&nbsp;<span>Grundsätze</span>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End Section -->

    <!-- Section Vision -->
    <section class="page-section bg-gray">
      <div class="container relative">
        <div class="row section-text">
          <div class="col-md-6 align-center">
            <h3 class="uppercase">Werte</h3>
            Wir fördern die Ganzheit des Menschen und stellen Menschen über Funktionen und wir schaffen eine Heimat, damit wir werden können, was wir sind
            <a href="" class="btn btn-mod btn-border btn-small btn-round mt-30">Grundsätze v1.0.pdf</a>
          </div>
          <div class="col-md-6 align-center">
            <h3 class="uppercase">Organisation</h3>
            Wie wird unsere Community und der Betrieb des Coworking Spaces organisiert? Hier erfährst du wer entscheidet und wie das genau geht.
            <a href="" class="btn btn-mod btn-border btn-small btn-round mt-30">Organisation v2.0.pdf</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Section Vision -->

    <!-- Section -->
    <section id="values" class="page-section bg-dark">
      <div class="container relative">

        <!-- Features Grid -->
        <div class="item-carousel owl-carousel">

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-title font-alt">
              Ganzheit
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-title font-alt">
              Vielfalt
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-title font-alt">
              Einheit
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-title font-alt">
              Dankbarkeit
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-title font-alt">
              Grosszügigkeit
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-title font-alt">
              Vertrauen
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-title font-alt">
              Transparenz
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-title font-alt">
              Exzellenz
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-title font-alt">
              Dienen
            </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="features-item">
            <div class="features-title font-alt">
              Gerechtigkeit
            </div>
          </div>
          <!-- End Features Item -->

        </div>
        <!-- Features Grid -->

      </div>
    </section>
    <!-- End Section -->

       <!-- About Section -->
    <section class="page-section">
      <div class="container relative">
        <div class="section-text mb-60 mb-sm-40">
          <div class="row">

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              In den ersten beiden Teilen findest du unsere Vision und Werte. Darauf basieren unsere kleinen, alltäglichen Handlungen aber auch grössere Entscheidungen. Wir wissen, dass wir mit diesen Werten viel Gewohntes auf den Kopf stellen. Natürlich werden wir nie alles voll erfüllen können, schon gar nicht von Anfang an. Mit den Umsetzungsbeispielen zeigen wir, wie andere Firmen diese Werte leben oder wir schon einmal angedacht hatten und lassen uns davon gerne herausfordern und inspirieren.
            </div>

            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              Für die Umsetzung sind wir auf dich angewiesen! Achte beim Lesen der Grundsätze darauf, ob dir etwas besonders auffällt. Dann fordere uns heraus, dies zu leben. Am besten übernimmst du dafür gleich eine Rolle. Mit einer Rolle gibt dir die Community ganz offiziell das Recht, dich für etwas einzusetzen und dafür auch die nötigen Massnahmen zu ergreifen. Im Teil drei wird beschrieben, was Rollen genau sind und wie diese vergeben werden.
            </div>

            <div class="col-md-4 col-sm-12 mb-sm-50 mb-xs-30">
              In unserer Community gibt es keine Hierarchie. Das heisst, dass wir neue Wege gehen müssen, um Entscheidungen zu fällen. Im Teil 4 kannst du nachlesen, wie jeder Einzelne mit dem Beratungsprozess Entscheidungen fällen kann und wie wir als ganze Community vorgehen, um zu schnellen und guten Entscheidungen zu gelangen.
              (Copy&Paste Grundsätze)
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->

    {{ partial "footer.html" . }}

  </div>
  <!-- End Page Wrap -->

  {{ partial "body_includes.html" . }}

</body>

</html>
