<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */

  {{ if eq .Params.comments true }}
  const disqus_shortname = '{{ .Site.Params.disqusShortname }}';
  {{ else }}
  const disqus_shortname = '{{ .Params.comments }}';
  {{ end }}

  const disqus_config = function () {
    this.page.identifier = '{{ .RelPermalink }}';
    this.page.url = '{{ .Permalink }}';
    this.page.title = '{{ .Title }}';
  };

  (function() {
    const d = document, s = d.createElement('script');

    s.src = '//' + disqus_shortname + '.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

{{ if eq .Params.comments true }}
<script id="dsq-count-scr" src="//{{ .Site.Params.disqusShortname }}.disqus.com/count.js" async></script>
{{ else }}
<script id="dsq-count-scr" src="//{{ .Params.comments }}.disqus.com/count.js" async></script>
{{ end }}
