<!-- Divider -->
<hr class="mt-0 mb-0"/>
<!-- End Divider -->

<footer class="page-section bg-gray-lighter footer pb-60">
  <div class="container">

    <!-- Footer Logo -->
    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
      <a href="#top"><img src="/images/logo-footer.png" width="78" height="36" alt="" /></a>
    </div>
    <!-- End Footer Logo -->

    <!-- Social Links -->
    <div class="footer-social-links mb-110 mb-xs-60">
      <a href="https://www.facebook.com/effingerbern" title="EffingerBern auf Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/EffingerBern" title="EffingerBern auf Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com/effingerbern/" title="EffingerBern auf Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="http://eepurl.com/bw3j3H" title="Effinger Newsletter" target="_blank"><i class="fa fa-envelope"></i></a>
    </div>
    <!-- End Social Links -->  

    <!-- Footer Text -->
    <div class="footer-text">

      <!-- Copyright -->
      <div class="footer-copy font-alt">
        <a href="http://themeforest.net/user/theme-guru/portfolio" target="_blank">&copy; Coworking Community Bern</a>
      </div>
      <!-- End Copyright -->

      <div class="footer-made">
        Webdesign by <a href="http://www.movingwater.ch" target="_blank">Joni Hess</a> and <a href="http://www.makery.ch" target="_blank">Marco Jakob</a>
      </div>

    </div>
    <!-- End Footer Text --> 

  </div>


  <!-- Top Link -->
  <div class="local-scroll">
    <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
  </div>
  <!-- End Top Link -->

</footer>