<!-- Divider -->
<hr class="mt-0 mb-0"  id="kontakt"><!-- this is for some internal links... -->
<!-- End Divider -->

<footer class="page-section bg-dark-lighter footer pb-60 pt-80 pt-xs-20">
  <div class="container">
    <div class="row reverse-sm">
      <div class="col-md-4" style="padding: 0 20px">
        <div class="wave-spacer hidden-md hidden-lg"></div>
        <!-- Logo -->
        <div class="mt-30 mb-40 text-left">
          <a href="#top"><img src="/images/logo-effinger-gelb-weiss.svg" width="160" height="97" alt="" /></a>
          <h2>Effinger Kaffeebar & Coworking</h2>
          <p>Wir sind ein selbstorganisierter Verein mit lebendiger Community. Klicke <a href="/community/">hier</a> und erfahre mehr über uns.</p>
        </div>

        <!-- Newsletter -->
        <div class="text-left">
          <h2 class="mb-20">Abonniere unseren Newsletter</h2>
          <form action="//effinger.us7.list-manage.com/subscribe/post?u=5a0d49e0bb2a74f7699a6be85&amp;id=cceb9fd731" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline form mb-20" target="_blank" novalidate="">
            <div class="form-group mb-10" style="display: flex;">
              <input type="email" class="form-control input-md" placeholder="E-MAIL ADRESSE" name="EMAIL" id="mce-EMAIL" style="text-transform: none; background-color: transparent; border-color: white; border-right: none; color: white;">
              <input type="submit" class="form-control btn btn-mod btn-w btn-medium btn-round" value="Abonnieren" name="subscribe" id="mc-embedded-subscribe" style="margin-left: -2px; padding: 8px 10px;">
              <!-- Real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_5a0d49e0bb2a74f7699a6be85_cceb9fd731" tabindex="-1" value=""></div>
            </div>
          </form>
        </div>
      </div>

      <!-- Contact -->
      <div class="col-md-4 col-sm-6">
        <div class="contact-item contact-oeffnungszeiten mt-20 mb-20 clearfix">
          <h4 class="uppercase">Kaffeebar</h4>
          <div class="wave-spacer"></div>
          <div class="item">
            {{ partial "oeffnungszeiten_kaffeebar.html" . }}
          </div>
          <div class="item mt-20">
            <p>Telefon<span><a href="tel:+41313982020">031 398 20 20</a></span></p>
            <p>Email<span><a href="mailto:kaffeebar@effinger.ch">kaffeebar@effinger.ch</a></span></p>
            <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse
                    10, Bern</a></span></p>
          </div>
          <div class="wave-spacer"></div>
          <div class="item mt-20">
            <p><strong>Reservationen</strong> nehmen wir nur per Telefon entgegen. <span style="text-decoration: line-through; font-weight: 300; text-align:left; display:none;">Fürs Sonn&shy;tags&shy;zmorge ist am Frei&shy;tag&shy;abend Re&shy;ser&shy;vations&shy;schluss.</span></p>
          </div>
        </div>
        <!--
          <div class="contact-private-party text-left hidden-xs">
            <img src="/images/partybutton.png" alt="Privatanlass">
            <span>
              Der Sams­tag steht für Ge­burts­tags­fes­te, Bude-­Zmor­ge oder Pen­sion­ierungs­apé­ros zur Ver­fü­gung.
            </span>
          </div>
        -->
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="contact-item contact-oeffnungszeiten mt-20 mb-20 clearfix">
          <h4 class="uppercase">Coworking</h4>
          <div class="wave-spacer"></div>
          <div class="item">
            {{ partial "oeffnungszeiten_coworking.html" . }}
          </div>
          <div class="item mt-20">
            <p>Telefon<span><a href="tel:+41313982021">031 398 20 21</a></span></p>
            <p>Email<span><a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a></span></p>
            <p>Räume<span><a href="mailto:raumvermietung@effinger.ch">raumvermietung@effinger.ch</a></span></p>
            <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse
                    10, Bern</a></span></p>
          </div>
          <div class="wave-spacer"></div>
          <div class="item mt-20">
            <p><strong>Tagespass: </strong> Melde dich spontan bei unseren Tageshosts in der Lounge (nur Vormittags).</span></p>
          </div>
        </div>
      </div>
      <!-- End Contact -->
    </div>

    <div class="wave-spacer"></div>

    <div class="row mt-40">
      <div class="col-md-4 text-left mb-40" style="padding: 0 20px">
        <p>
          Diese Website und ihre Inhalte, Entwicklung & ihr Design stammen von der Effinger Community.
          Es sind zu viele Namen, um sie hier einzeln zu nennen.
        </p>
      </div>

      <!-- Social Links -->
      <div class="col-md-4 text-left mb-40" style="padding: 0 20px">
        <div class="font-alt mb-20">Besuche uns auf Social&nbsp;Media</div>
        <div class="footer-social-links">
          <a href="https://www.facebook.com/effingerbern" title="EffingerBern auf Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/EffingerBern" title="EffingerBern auf Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/effingerbern/" title="EffingerBern auf Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://eepurl.com/bw3j3H" title="Effinger Newsletter" target="_blank"><i class="fa fa-envelope"></i></a>
        </div>
      </div>

      <div class="col-md-4 text-right text-left-sm mb-40" style="padding: 0 20px">
        <div class="font-alt mb-10">Unterstützt im 2022 durch</div>
        <img src="/images/logo-Standortfoerderung-Bern.jpg" alt="Standortförderung Kanton Bern" style="border: 10px solid white;">
      </div>
    </div>
  </div>
</footer>
