<!-- Modal -->
<div class="modal fade" id="calendar-dialog" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="calendar-dialog-form-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="calendar-dialog-title">Reservation</h3>
      </div>
      <div class="modal-body">
        <form method="post" action="#" id="calendar-dialog-form" role="form" class="form">


          <!-- Anlassname -->
          <div class="mb-20 mb-md-10">
            <label for="res-title">Name des Anlasses* <span>(wird am Eingang angezeigt)</span></label>
            <input type="text" name="res-title" id="res-title" class="input-md form-control" placeholder="z.B. Kreativworkshop von Max, Startup-Event für Aareschwimmer" maxlength="100">
          </div>

          <div class="row">
            <!-- Date -->
            <div class="col-sm-4 mb-20 mb-md-10">
              <label for="res-date">Datum*</label>
              <input type="text" name="res-date" id="res-date" class="input-md form-control" placeholder="tt.mm.jjjj" maxlength="10">
            </div>

            <!-- Start time -->
            <div class="col-sm-4 mb-20 mb-md-10">
              <label for="res-start-time">Zeit von*</label>
              <select name="res-start-time" id="res-start-time" class="input-md form-control">
                <option selected="selected">08:00</option>
                <option>08:30</option>
                <option>09:00</option>
                <option>09:30</option>
                <option>10:00</option>
                <option>10:30</option>
                <option>11:00</option>
                <option>11:30</option>
                <option>12:00</option>
                <option>12:30</option>
                <option>13:00</option>
                <option>13:30</option>
                <option>14:00</option>
                <option>14:30</option>
                <option>15:00</option>
                <option>15:30</option>
                <option>16:00</option>
                <option>16:30</option>
                <option>17:00</option>
                <option>17:30</option>
                <option>18:00</option>
                <option>18:30</option>
                <option>19:00</option>
                <option>19:30</option>
                <option>20:00</option>
                <option>20:30</option>
                <option>21:00</option>
                <option>21:30</option>
                <option>22:00</option>
                <option>22:30</option>
                <option>23:00</option>
              </select>
            </div>

            <!-- End time -->
            <div class="col-sm-4 mb-20 mb-md-10">
              <label for="res-end-time">Zeit bis*</label>
              <select name="res-end-time" id="res-end-time" class="input-md form-control">
                <option>08:00</option>
                <option>08:30</option>
                <option>09:00</option>
                <option>09:30</option>
                <option>10:00</option>
                <option>10:30</option>
                <option>11:00</option>
                <option>11:30</option>
                <option selected="selected">12:00</option>
                <option>12:30</option>
                <option>13:00</option>
                <option>13:30</option>
                <option>14:00</option>
                <option>14:30</option>
                <option>15:00</option>
                <option>15:30</option>
                <option>16:00</option>
                <option>16:30</option>
                <option>17:00</option>
                <option>17:30</option>
                <option>18:00</option>
                <option>18:30</option>
                <option>19:00</option>
                <option>19:30</option>
                <option>20:00</option>
                <option>20:30</option>
                <option>21:00</option>
                <option>21:30</option>
                <option>22:00</option>
                <option>22:30</option>
                <option>23:00</option>
              </select>
            </div>
          </div>

          <!-- Extras -->
          <div class="mb-20 mb-md-10" id="res-extras">
          </div>

          <div class="row">
            <!-- Room Setup -->
            <div class="col-sm-8 mb-20 mb-md-10" id="res-setup-container">
              <label for="res-setup">Bestuhlung*</label>
              <select name="res-setup" id="res-setup" class="input-md form-control">
                  <option selected="selected"></option>
              </select>
            </div>

            <!-- Number of people -->
            <div class="col-sm-4 mb-20 mb-md-10">
              <label for="res-persons">Anzahl Personen*</label>
              <input type="number" name="res-persons" id="res-persons" class="input-md form-control" value="5" min="1" max="500">
            </div>
          </div>


          <hr>

          <h4>Kontaktperson</h4>

          <div class="row">
            <!-- Name -->
            <div class="col-sm-6 mb-20 mb-md-10">
              <label for="res-contact-name">Name (Kontaktperson)*</label>
              <input type="text" name="res-contact-name" id="res-contact-name" class="input-md form-control" placeholder="" maxlength="100">
            </div>
            <!-- Firma -->
            <div class="col-sm-6 mb-20 mb-md-10">
              <label for="res-contact-company">Firma / Organisation</label>
              <input type="text" name="res-contact-company" id="res-contact-company" class="input-md form-control" placeholder="" maxlength="100">
            </div>
          </div>

          <div class="row">
            <!-- E-Mail -->
            <div class="col-sm-6 mb-20 mb-md-10">
              <label for="res-contact-email">E-Mail*</label>
              <input type="email" name="res-contact-email" id="res-contact-email" class="input-md form-control" placeholder="" maxlength="100">
            </div>

            <!-- Phone -->
            <div class="col-sm-6 mb-20 mb-md-10">
              <label for="res-contact-phone">Telefon*</label>
              <input type="text" name="res-contact-phone" id="res-contact-phone" class="input-md form-control" placeholder="" maxlength="100">
            </div>
          </div>

          <div class="mb-20 mb-md-10">
            <label for="res-billing-address">Vollständige Rechnungsadresse*</label>
            <textarea name="res-billing-address" id="res-billing-address" class="input-md form-control" 
                  rows="5" placeholder="" maxlength="400"></textarea>
          </div>

          <hr>

          <h4>Bemerkungen</h4>

          <div class="mb-20 mb-md-10">
            <textarea name="res-comments" id="res-comments" class="input-md form-control" rows="3" placeholder="" maxlength="400"></textarea>
          </div>

        </form>

        <div id="validation-error-message" class="alert error" style="display: none;">
          <button class="alert-close" type="button" data-dismiss="alert" aria-label="Close"><i class="fa fa-lg  fa-times-circle"></i></button>
					 Hoppla Schorsch! Bitte die markierten Felder überprüfen.
           <ul class="error-details list-unstyled small"></ul>
				</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-mod btn-gray btn-medium btn-round" data-dismiss="modal">Abbrechen</button>
        <button id="res-save-button" class="btn btn-mod btn-medium btn-round">Reservieren</button>
      </div>
    </div>

    <div class="modal-content" id="calendar-dialog-success-content" style="display:none">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="calendar-dialog-title"><i class="fa fa-heart"></i> Danke!</h3>
      </div>
      <div class="modal-body">
        <h4>Ihre Reservationsanfrage wurde abgeschickt</h4>
        <p>
          Wir überprüfen nun die Anfrage und werden Ihnen den Termin definitiv bestätigen.
        </p>
        <p>
          Wenn Sie noch Fragen haben, schreiben Sie ein Mail an <a href="mailto:raumvermietung@effinger.ch">raumvermietung@effinger.ch</a>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-mod btn-gray btn-medium btn-round" data-dismiss="modal">Schliessen</button>
    </div>
  </div>
</div>
