{{/* Variante 2: Bild-dominant, volle Breite + Event-Info-Strip */}}
{{ $showUntil := time "2026-12-31T23:59:59+01:00" }}
{{ if le now $showUntil }}
<section class="jubilaeum-v2">
  <a href="/jubilaeum-10-jahre/" class="jubilaeum-v2__image-link">
    <img src="/upload/jubilaeum-10-jahre-banner.webp"
         alt="Wir feiern 10 Jahre Effinger Community"
         class="jubilaeum-v2__img" />
  </a>
  <div class="jubilaeum-v2__strip">
    <div class="container">
      <div class="jubilaeum-v2__strip-inner">
        <span class="jubilaeum-v2__strip-label">10 Jahre Effinger &ndash; Das Jubil&auml;umsjahr 2026</span>
        <div class="jubilaeum-v2__strip-details">
          <span><i class="fa fa-calendar"></i> 10 Monate, 10 Themen</span>
          <span><i class="fa fa-users"></i> M&auml;rz &ndash; Dezember 2026</span>
          <span><i class="fa fa-map-marker"></i> Effinger, Bern</span>
        </div>
        <a href="/jubilaeum-10-jahre/" class="jubilaeum-v2__strip-btn">
          Alle Events <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
