{{/* Variante 2: Bild-dominant, volle Breite + Event-Info-Strip */}}
{{ $showUntil := time "2026-03-07T23:59:59+01:00" }}
{{ if le now $showUntil }}
<section class="jubilaeum-v2">
  <a href="/events/2026/jubilaeum-10-jahre/" class="jubilaeum-v2__image-link">
    <img src="/upload/jubilaeum-10-jahre-banner.webp"
         alt="Wir feiern 10 Jahre Effinger Community"
         class="jubilaeum-v2__img" />
  </a>
  <div class="jubilaeum-v2__strip">
    <div class="container">
      <div class="jubilaeum-v2__strip-inner">
        <span class="jubilaeum-v2__strip-label">Start-Event: Das grosse Wiedersehen</span>
        <div class="jubilaeum-v2__strip-details">
          <span><i class="fa fa-calendar"></i> Fr, 6. M&auml;rz 2026</span>
          <span><i class="fa fa-clock-o"></i> Ab 17:00</span>
          <span><i class="fa fa-map-marker"></i> Stadtkloster Frieden, Bern</span>
        </div>
        <a href="/events/2026/jubilaeum-10-jahre/" class="jubilaeum-v2__strip-btn">
          Mehr erfahren <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
