<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="robots" content="all" >
<meta name="keywords" content="{{ .Site.Params.keywords }}">

{{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
<meta name="author" content="{{ .Site.Params.author }}" >

<!-- Twitter Card data -->
<meta name="twitter:card" value="summary">

<!-- Open Graph data -->
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .Params.image }}<meta property="og:image" content="{{ .Permalink }}{{ .Params.image }}" />{{ end }}