<nav class="main-nav dark transparent stick-fixed">
  <div class="full-wrapper relative clearfix">
    <!-- Logo ( * your text or image into link tag *) -->
    <div class="nav-logo-wrap local-scroll">
      <a href="mp-index.html" class="logo">
        <img src="/images/logo.png" alt="" /> 
      </a>
    </div>
    <div class="mobile-nav">
      <i class="fa fa-bars"></i>
    </div>

    <!-- Main Menu -->
    <div class="inner-nav desktop-nav">
      <ul class="clearlist">
        <li>
          <a href="/kaffeebar/"><i class="fa fa-coffee"></i> Kaffeebar</a>
        </li>

        <!-- Item With Sub -->
        <li>
          <a href="#" class="mn-has-sub"><i class="fa fa-building"></i> Coworking <i class="fa fa-angle-down"></i></a> 

          <!-- Sub -->
          <ul class="mn-sub to-left">

            <li>
              <a href="shop-columns-2col.html">2 Columns</a>
            </li>
            <li>
              <a href="shop-columns-3col.html">3 Columns</a>
            </li>
            <li>
              <a href="shop-columns-4col.html">4 Columns</a>
            </li>
            <li>
              <a href="shop-single.html">Single Product</a>
            </li>
            <li>
              <a href="shop-cart.html">Shopping Cart</a>
            </li>

          </ul>
          <!-- End Sub -->

        </li>
        <!-- End Item With Sub -->

        <!-- Item With Sub -->
        <li>
          <a href="#" class="mn-has-sub"><i class="fa fa-users"></i> Community <i class="fa fa-angle-down"></i></a>

          <!-- Sub -->
          <ul class="mn-sub to-left">

            <li>
              <a href="shop-columns-2col.html">2 Columns</a>
            </li>
            <li>
              <a href="shop-columns-3col.html">3 Columns</a>
            </li>
            <li>
              <a href="shop-columns-4col.html">4 Columns</a>
            </li>
            <li>
              <a href="shop-single.html">Single Product</a>
            </li>
            <li>
              <a href="shop-cart.html">Shopping Cart</a>
            </li>

          </ul>
          <!-- End Sub -->

        </li>
        <!-- End Item With Sub -->

        <!-- Divider -->
        <li><a>&nbsp;</a></li>
        <!-- End Divider -->

        <li>
          <a href="#">Blog</a> 
        </li>
        <li>
          <a href="#">Events</a>
        </li>
        <li>
          <a href="#">Kontakt</a>
        </li>
      </ul>
    </div>
    <!-- End Main Menu -->
    
  </div>
</nav>