<div class="full-wrapper relative clearfix">
  <!-- Logo -->
  <div class="nav-logo-wrap local-scroll">
    <a href="/" class="logo">
      <img src="/images/logo.png" alt="Effinger — Kaffeebar & Coworking Space" /> 
    </a>
  </div>
  <div class="mobile-nav">
    <i class="fa fa-bars"></i>
  </div>

  <!-- Main Menu -->
  <div class="inner-nav desktop-nav">
    <ul class="clearlist">
      {{ $currentNode := . }}
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <!-- Item With Sub -->
        <li>
          <a href="{{ .URL }}" class="mn-has-sub{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">{{ .Pre }} {{ .Name }} <i class="fa fa-angle-down"></i></a>

          <!-- Sub -->
          <ul class="mn-sub to-left">
            {{ range .Children }}
            <li>
              <a{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}} href="{{.URL}}"> {{ .Name }} </a> 
            </li>
            {{ end }}
          </ul>
          <!-- End Sub -->

        </li>
        <!-- End Item With Sub -->
        {{ else }}
        <li>
          <a{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}} href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
        </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <!-- End Main Menu -->

</div>