<!-- Pagination -->
{{ $pag := $.Paginator }}
{{ $current := $pag.PageNumber }}
{{ if gt $pag.TotalPages 1 }}
<div class="pagination">

  <div class="page-item">
  {{ if $pag.HasPrev }}
    <a class="page-link" href="{{ $pag.Prev.URL }}" aria-label="Previous"><i class="fa fa-angle-left"></i></a>
  {{ else }}
    <a class="page-link disabled"><i class="fa fa-angle-left"></i></a>
  {{ end }}
  </div>

  {{ range $pag.Pagers }}
  {{ $active := cond (eq .PageNumber $current) "active" "" }}
    {{ if eq .PageNumber 1 }}
    <div class="page-item {{$active}}"><a class="page-link" href="{{ .URL }}" aria-label="First">1</a></div>
    {{ else if eq .PageNumber .TotalPages }}
    <div class="page-item {{$active}}"><a class="page-link" href="{{ .URL }}" aria-label="Last">{{ .PageNumber }}</a></div>
    {{ else if and (lt .PageNumber (add $current 3)) (gt .PageNumber (sub $current 3)) }}
    <div class="page-item {{$active}}"><a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a></div>
    {{ else if or (eq .PageNumber (add $current 3)) (eq .PageNumber (sub $current 3)) }}
    <div class="page-item no-active"><div class="page-link">...</div></div>
    {{ end }}
  {{ end }}

  <div class="page-item">
  {{ if $pag.HasNext }}
    <a class="page-link" href="{{ $pag.Next.URL }}" aria-label="Next"><i class="fa fa-angle-right"></i></a>
  {{ else }}
    <a class="page-link disabled"><i class="fa fa-angle-right"></i></a>
  {{ end }}
  </div>

</div>
{{ end }}
<!-- End Pagination -->
