// Font Logo Tagline
.font-tagline {
  font-weight: 400;
  text-transform: none;
  color: black;
  font-size: 14px;
  letter-spacing: 0;
  color: white;
}

.page-home {
  .blog-item-title {
    font-size: 18px;
    letter-spacing: 1px;
  }
}
