{{ define "head_includes"}}
{{ end }}

{{ define "main" }}
<!-- Page Wrap -->
<div class="page page-home" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Home Section -->
  <section class="home-section bg-dark-alfa-80 parallax-2 fixed-height-small" data-background="effinger_header.jpg">
    <div class="js-height-parent container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">

          <!-- Sommeröffnungszeiten -->
          {{ $sommerPage := .Site.GetPage "/sommer" }}
          {{ $weather := (partial "sommer_wetter.html" $sommerPage)}}

          {{ if eq $weather "sun" }}
            <div class="contact-item contact-oeffnungszeiten contact-sommer-wetter mt-20 mb-20 clearfix">
              <h4 class="uppercase">{{ $sommerPage.Params.suntitle | markdownify }}</h4>
              <div class="wave-spacer"></div>
              <div class="item" style="text-align: center; font-size: 40px;">
                {{ $sommerPage.Params.suntext | markdownify }}
                <a href="/sommer/" class="btn btn-mod btn-border-w btn-round btn-large">Warum?</a>
              </div>
            </div>
          {{ else if eq $weather "rain" }}
            <div class="contact-item contact-oeffnungszeiten contact-sommer-wetter mt-20 mb-20 clearfix">
              <h4 class="uppercase">{{ $sommerPage.Params.raintitle | markdownify }}</h4>
              <div class="wave-spacer"></div>
              <div class="item" style="text-align: center; font-size: 40px;">
                {{ $sommerPage.Params.raintext | markdownify }}
                <a href="/sommer/" class="btn btn-mod btn-border-w btn-round btn-large">Warum?</a>
              </div>
            </div>
          {{ else }}
          <img src="images/logo-effinger-gelb-weiss.svg" alt="Logo Effinger" class="mb-60 mb-xs-30 mt-50">
          {{ end }}
          <h1 class="font-alt mb-10">
            Kaffeebar &amp; Coworking Space
          </h1>

          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              Für Jungunternehmer, Kreative, Handwerkerinnen, Weltveränderer, Bernerinnen, Zugereiste,
              Kaffeeliebhaberinnen, Biertrinker, Kulturschaffende, junge Kunst und für dich.
            </div>
          </div>

          <!--
           <div class="">
            <a href="/kaffeebar/" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Kaffebar</a>
            <span class="hidden-xs">&nbsp;</span>
            <a href="/coworking/" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Coworking</a>
            <span class="hidden-xs">&nbsp;</span>
            <a href="/community/" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Community</a>
          </div>
          -->

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Home Section -->

  <!-- Jubilaeum -->
  <!-- <section id="start" class="small-section-header bg-effingergelb">
    <div class="relative container">

      <div class="row text-center">

        <div class="col-md-8 col-md-offset-2 ">
          <div class="mb-10">
            <i class="fa fa-birthday-cake fa-5x"></i>
          </div>
          <h1 class="hs-line-11 font-alt">Feier mit mir,<br>ich werd 4</h1>
          <h2 class="hs-line-15 font-alt ">13. März 2020</h2>
          <div class="hs-line-4 black font-alt mt-10 mt-xs-0">
            Der «Effinger – Kaffeebar & Coworking Space» wird 4 Jahre alt! Das wollen wir feiern!
          </div>
          <a class="btn btn-mod btn-medium mt-20" href="/jubilaeum">Mehr</a>
        </div>
      </div>

    </div>
  </section> -->
  <!-- End Jubilaeum -->

  <!-- <hr class="mt-0 mb-0" style="border-color: black;"> -->

  <!-- Virtuelle Effinger Lounge -->
  <!-- <section class="page-section pt-40 pb-40">
    <div class="container">
      <h2 class="hs-line-15 font-alt mb-40 align-center">
        Treffe uns Online oder vor Ort
      </h2>

      <div class="row">
        <div class="col-md-6 text-center mb-20">
          <a href="https://www.coworkingradio.ch/" target="_blank" title="Radio öffnen" class="relative block">
            <img src="radio.png" alt="Coworking Radio">
          </a>
        </div>
        <div class="col-md-6">
          <p class="mb-10">
            In der Corona-Krise haben wir uns jeweils zur 10-Uhr-Pause online getroffen.
            Daraus ist das <a href="https://www.coworkingradio.ch" target="_blank">Coworking Radio</a> entstanden in
            Zusammenarbeit mit <a href="https://www.corelated.ch" target="_blank">befreundeten Coworking Spaces</a>.
          </p>
          <p class="mb-10">
            📻 Treffe uns online im <a href="https://www.coworkingradio.ch" target="_blank">Coworking Radio</a><br>
            😀 besuche unseren Tageshost im Effinger vor Ort<br>
            📧 oder schreib uns an <a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a>
          </p>
          <hr>
          <p class="mb-0">
            <em>Falls du die alten Online-Räume suchst:</em>
          </p>
          <div class="mb-0">
            &rarr; <a href="https://meet.jit.si/effinger-lounge" target="_blank">Virtuelle Lounge</a>
          </div>
          <div class="mb-0">
            &rarr; <a href="https://meet.jit.si/colearningbern" target="_blank">Colearning-Raum</a>
          </div>
          <div class="mb-0">
            &rarr; <a href="https://meet.jit.si/" target="_blank">Eigenen Raum erstellen</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Section -->

  <!-- Corona -->
  <!-- <section id="corona" class="small-section-header bg-effingergelb">
    <div class="relative container">

      <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
          <p class="font-alt">Corona-Info:</p>

          <h3 class="hs-line-15 font-alt mb-10">
            Kaffeebar bleibt am 18.&nbsp;Oktober geschlossen
          </h3>

          <p class="mb-10">
           Aufgrund eines Corona-Verdachtfalls innerhalb des Teams bleibt der Effinger am Sonntag, 18. Oktober 2020
           leider geschlossen. Ab Montag, 19. Oktober 2020 sollten wir voraussichtlich normal geöffnet haben können.
           
          </p>
          <p class="mb-10">
            Grosses Exgüsee und häbet Sorg!
          </p>
        </div>
      </div>

    </div>
  </section> -->
  <!-- End Corona -->
    <!-- Corona -->
    <section id="corona" class="small-section-header bg-effingergelb">
      <div class="relative container">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <!-- <p class="font-alt">Spezial:</p> -->
  
            <h3 class="hs-line-15 font-alt mb-10">
              <i class="fa fa-coffee"></i>
              Take-away und Coworking geöffnet
            </h3>
  
            <p class="mb-10">
              Kaffeebar: Mo-Fr, 10-12 Uhr<br>
              Coworking: Mo-Fr, 08-18 Uhr<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Corona -->

  <!-- Betriebsferien -->
  <!--
  <section class="page-section pt-80 pb-80">
    <div class="container relative">

      <div class="row">
        <div class="col-sm-8 col-md-7 mb-md-40">
          <div class="section-text">
          <h2 class="hs-line-11 font-alt mb-60"><a href="/blog/">Betriebsferien</a></h2>
          <p>
            Der Effinger ist über Weihnacht-Neujahr geschlossen!
          </p>
          <p>
            <strong>Die Kaffeebar ist wieder offen ab dem 8. Januar 2018</strong>.
          </p>
          <p>
            <strong>Der Coworking-Bereich öffnet bereits am 3. Januar 2018</strong><br>(bitte Glastüre zum Atelier beim Seiteneingang benützen).
          </p>
          </div>
        </div>

        <div class="col-sm-4 col-md-5">
          <img src="/images/betriebsferien-weihnacht-2017.jpg" alt="Betriebsferien Weihnacht/Neujahr">
        </div>
      </div>
    </div>
  </section>
  -->

  <!-- Effinger Angebote -->
  <section class="angebote page-section pt-80 pb-80 bg-gray-lighter">
    <div class="container">
      <h2 class="hs-line-11 font-alt mb-60 text-center">Unsere Angebote</h2>
      <div class="list">
        <div class="angebot">
          <a href="/kaffeebar/" class="picture" style="background-image: url('kaffeebar_01.jpg');">
            <img src="y-coffee-cup.png" alt="" width="60" style="top: calc(50% - 30px); left: calc(50% - 30px);"/>
          </a>
          <a href="/kaffeebar/" class="title mt-20">
            <span class="font-alt">Kaffeebar</span> und <span class="font-alt text-nowrap">Take-away</span>
          </a>
          <p class="teaser mt-10">
            Bei uns gibt es guten Kaffee für Tanten, Espresso für Eilige und Tee für Abwartende.
            Und auch Apéros für Prostende, Bier für Feierabende und Wein für alle.
            <br />
            <br />
            Alles auch zum Mitnehmen.
          </p>
          <div class="call-to-action">
            <a href="/kaffeebar/" class="btn btn-mod btn-border btn-round btn-medium">Mehr</a>
          </div>
        </div>
        <div class="angebot">
          <a href="/coworking/" class="picture" style="background-image: url('coworking_01.jpg');">
            <img src="y-building.png" alt="" width="58" style="top: calc(50% - 40px); left: calc(50% - 30px);"/>
          </a>
          <a href="/coworking/" class="title mt-20 font-alt">Coworking</a>
          <p class="teaser mt-10">
            Der Coworking Space stellt Arbeitsplätze zur Verfügung, die flexibel gemietet werden können.
            <br />
            Für spontane Tagesgäste bis hin zur aktiven Mitgliedschaft.
          </p>
          <div class="call-to-action">
            <a href="/coworking/" class="btn btn-mod btn-border btn-round btn-medium">Mehr</a>
          </div>
        </div>
        <div class="angebot">
          <a href="/raeume/" class="picture" style="background-image: url('raeume.jpg');">
            <img src="y-calendar-check.png" alt="" width="57" style="top: calc(50% - 42px); left: calc(50% - 30px);"/>
          </a>
          <a href="/raeume/" class="title mt-20 font-alt">Raumvermietung</a>
          <p class="teaser mt-10">
            Innovative Sitzungszimmer und Workshopräume.
            Mit beschreib&shy;baren Wänden und Design Thinking Materialien.
            <br />
            <br />
            Gerne besprechen wir mit dir, was aktuell möglich ist.
          </p>
          <div class="call-to-action">
            <a href="/raeume/" class="btn btn-mod btn-border btn-round btn-medium">Mehr</a>
          </div>
        </div>
        <div class="angebot">
          <a href="/services/" class="picture" style="background-image: url('services.jpg');">
            <img src="y-gears.png" alt="" width="60" style="top: calc(50% - 30px); left: calc(50% - 30px);"/>
            <div class="neu font-alt">Neu</div>
          </a>
          <a href="/services/" class="title mt-20 font-alt">Effinger Services</a>
          <p class="teaser mt-10">
            Neu bietet der Effinger sein kraftvolles Know-how in interdisziplinären Teams an.
            <br />
            <br />
            Der perfekte Motor für kreative Kollaboration und Innovation.
          </p>
          <div class="call-to-action">
            <a href="/services/" class="btn btn-mod btn-border btn-round btn-medium">Mehr</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Kurtli Feed -->
  <section class="page-section pt-80 pb-80">
    <div class="container">
      <h2 class="hs-line-11 font-alt mb-60 text-center">Aus der Community</h2>
      <!-- <p class="text-center mb-60">Powered by <a href="https://www.kurtli.com" target="_blank">Kurtli</a></p> -->
      <div id="kurtlifeed" data-teamid="T031CHQFJ"></div>
    </div>
  </section>

  <!-- Events -->
  <section class="page-section pt-80 pb-80 bg-gray-lighter event">
    <div class="container relative">
      <div class="section-text">
        <h2 class="hs-line-11 font-alt mb-60 text-center"><a href="/events/">Nächste Events</a></h2>

        <div class="eventlist row">
          <div class="col-sm-6">
            {{ range $index, $element := first 6 (partial "events/future_events.html" .) }}
              {{ if eq $index 3 }}
                </div>
                <div class="col-sm-6">
              {{ end }}
              {{ $element }}
            {{ end }}
          </div>
        </div>

        <div class="mt-40 text-center">
          <a href="/events/" class="btn btn-mod btn-border btn-round btn-medium">Alle Events</a>
        </div>

      </div>
    </div>
  </section>

  <!-- Blog -->
  <section class="page-section pt-80 pb-80 bg-gray-lighter">
    <div class="container relative">
      <div class="section-text">
        <h2 class="hs-line-11 font-alt mb-60 text-center"><a href="/blog/">Blog</a></h2>

        <div class="row">
          {{ range first 3 (where .Site.RegularPages "Section" "blog") }}
          <div class="col-sm-4">
            {{ partial "blog/summary_home.html" . }}
          </div>
          {{ end }}
        </div>
        <div class="mt-40 text-center">
          <a href="/blog/" class="btn btn-mod btn-border btn-round btn-medium">Alle Blogeinträge</a>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="page-section">
    <div class="container relative">

      <div class="row">

        <div class="col-md-7 col-md-push-5 mb-sm-40">

          <!-- Gallery -->
          <div class="work-full-media mt-0 white-shadow">
            <ul class="clearlist work-full-slider owl-carousel">
              <li>
                <img src="about.jpg" alt="" />
              </li>
            </ul>
          </div>
          <!-- End Gallery -->

        </div>

        <div class="col-md-5 col-md-pull-7 col-lg-4">

          <!-- About Project -->
          <div class="text">

            <h3 class="font-alt mb-30 mb-md-10"><a href="/community/">Über uns</a></h3>

            <p>
              Wir sind eine innovative, kreative Community mit einer gemeinsamen Kaffeebar und Coworking Space in Bern.
              Wir sind eine Heimat für Jungunternehmer, Kreative und andere Weltveränderer, die einander helfen, ihre
              Ideen in Firmen, Innovationen und soziale Aktionen umzusetzen.
            </p>

            <div class="mt-40">
              <a href="/community/" class="btn btn-mod btn-border btn-round btn-medium">Mehr</a>
            </div>

          </div>
          <!-- End About Project -->

        </div>


      </div>
    </div>
  </section>
  <!-- End About -->

  <!-- Contact -->
  <section class="page-section bg-dark-lighter">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contact-item contact-oeffnungszeiten mt-20 mb-20 clearfix">
            <h4 class="uppercase">Kaffeebar</h4>
            <div class="wave-spacer"></div>
            <div class="item">
              {{ partial "oeffnungszeiten_kaffeebar.html" . }}
            </div>
            <div class="item mt-20">
              <p>Telefon<span><a href="tel:+41313982020">031 398 20 20</a></span></p>
              <p>Email<span><a href="mailto:kaffeebar@effinger.ch">kaffeebar@effinger.ch</a></span></p>
              <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse
                    10, Bern</a></span></p>
            </div>
            <div class="wave-spacer"></div>
            <div class="item mt-20">
              Der Sams&shy;tag steht für Ge&shy;burts&shy;tags&shy;fes&shy;te, Bude-&shy;Zmor&shy;ge oder Pen&shy;sion&shy;ierungs&shy;apé&shy;ros zur Ver&shy;fü&shy;gung.
            </div>
          </div>

        </div>
        <div class="col-sm-6">
          <div class="contact-item contact-oeffnungszeiten mt-20 mb-20 clearfix">
            <h4 class="uppercase">Coworking Space</h4>
            <div class="wave-spacer"></div>
            <div class="item">
              {{ partial "oeffnungszeiten_coworking.html" . }}
            </div>
            <div class="item mt-20">
              <p>Telefon<span><a href="tel:+41313982021">031 398 20 21</a></span></p>
              <p>Email<span><a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a></span></p>
              <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse
                    10, Bern</a></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact -->
</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
<script>
  (function () {
    var d = document, s = d.createElement('script');
    s.src = 'https://www.kurtli.com/feed/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
{{ end }}
