{{ define "head_includes"}}
{{ end }}

{{ define "main" }}
{{ $auffahrt_pfingsten := and (ge now $.Site.Data.oeffnungszeiten_ferien.auffahrt_pfingsten.from) (le now $.Site.Data.oeffnungszeiten_ferien.auffahrt_pfingsten.upto) }}
{{ $sommerferien := and (ge now $.Site.Data.oeffnungszeiten_ferien.sommer.from) (le now $.Site.Data.oeffnungszeiten_ferien.sommer.upto) }}
{{ $winterferien := and (ge now $.Site.Data.oeffnungszeiten_ferien.winter.from) (le now $.Site.Data.oeffnungszeiten_ferien.winter.upto) }}

<!-- Page Wrap -->
<div class="page page-home" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Home Section -->
  <section class="home-section bg-dark-alfa-80 parallax-2 fixed-height-small" data-background="effinger_header.jpg">
    <div class="container" style="height: auto; min-height: 600px;">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">

          <!-- Sommeröffnungszeiten -->
          {{ $sommerPage := .Site.GetPage "/sommer" }}
          {{ $weather := (partial "sommer_wetter.html" $sommerPage)}}

          {{ if eq $weather "sun" }}
            <div class="contact-item contact-oeffnungszeiten contact-sommer-wetter mt-20 mb-20 clearfix">
              <h4 class="uppercase">{{ $sommerPage.Params.suntitle | markdownify }}</h4>
              <div class="wave-spacer"></div>
              <div class="item" style="text-align: center; font-size: 40px;">
                {{ $sommerPage.Params.suntext | markdownify }}
                <a href="/sommer/" class="btn btn-mod btn-border-w btn-round btn-large">Warum?</a>
              </div>
            </div>
          {{ else if eq $weather "rain" }}
            <div class="contact-item contact-oeffnungszeiten contact-sommer-wetter mt-20 mb-20 clearfix">
              <h4 class="uppercase">{{ $sommerPage.Params.raintitle | markdownify }}</h4>
              <div class="wave-spacer"></div>
              <div class="item" style="text-align: center; font-size: 40px;">
                {{ $sommerPage.Params.raintext | markdownify }}
                <a href="/sommer/" class="btn btn-mod btn-border-w btn-round btn-large">Warum?</a>
              </div>
            </div>
          {{ else }}
            <div class="mt-60 mb-60 mb-xs-30" style="display: flex; justify-content: center; flex-flow: row wrap;">
              <img src="images/logo-effinger-gelb-weiss.svg" alt="Logo Effinger" style="flex: none; margin: 2em;">
            </div>
          {{ end }}

          <h1 class="font-alt mb-10">
            Kaffeebar &amp; Coworking Space
          </h1>

          <div class="row mb-60">
            <div class="offset-md-2 col-md-8">
              <div>
                Für Jungunternehmer, Kreative, Handwerkerinnen, Weltveränderer, Bernerinnen, Zugereiste,
                Kaffeeliebhaberinnen, Biertrinker, Kulturschaffende, junge Kunst und für Dich an der
              </div>
              <a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2"
                 class="inline-block pt-10 text-nowrap" style="text-decoration: none;">
                <span class="icon-map-pin"></span>&nbsp;
                Effingerstrasse 10, Bern
              </a>
            </div>
          </div>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Home Section -->

  <!-- Jubiläum -->
  <!--
  <section id="start" class="small-section-header bg-effingergelb">
    <div class="relative container">

      <div class="row">

        <a href="/events/2023/100415/"><img
          src="https://d33wubrfki0l68.cloudfront.net/3a1dd5f7a319942952201b4b5b3774cd1f7fffa4/58580/upload/effinger_jubilaeum_6_print_a3_72dpi.jpg"
          class="col-md-4 offset-md-1 mb-20"
        /></a>
        <div class="col-md-6">
          <h2 class="mb-20">
            <i class="fa fa-birthday-cake fa-2x"></i>&ensp;
            <span class="hs-line-5 font-alt text-nowrap">1. April</span>
          </h2>
          <h1 class="hs-line-15">
            HOCH SOLL ER LEBEN! <span class="text-nowrap">6X HOCH!</span>
          </h1>
          <p class="hs-line-4 black font-alt mt-10 mt-xs-0 mb-10">
            Der «Effinger – Kaffeebar & Coworking Space» wird 6 Jahre alt!
          </p>
          <p class="hs-line-4 black font-alt mt-10 mb-10">
            Das wollen wir feiern!
          </p>
          <table>
            <tr>
              <td style="vertical-align: top;">20h – </td>
              <td style="vertical-align: top;">
                <span class="text-nowrap">Poetry Slam</span>
                <span class="text-nowrap">“Best of SüssSauerSlam”</span>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top;">22h – </td>
              <td style="vertical-align: top;">
                <span class="text-nowrap">Party “Quer dür ds Beet”</span>
                <span class="text-nowrap">mit DJ Duo “The Old Sports”</span>
              </td>
            </tr>
          </table>
          <p class="hs-line-4 black font-alt mt-20 mb-10">
            Komm vorbei und feiere mit uns!
          </p>
          <p class="hs-line-4 black font-alt">
            (!)
          </p>
        </div>
      </div>

    </div>
  </section>
  -->
  <!-- End Jubiläum -->

  <!-- Betriebsferien Auffahrt & Pfingsten -->
  {{ if $auffahrt_pfingsten }}
  <section class="page-section pt-40 pb-0">
    <div class="container relative">
      <div class="row">
        <div class="col-sm-12 col-md-12 mb-md-20">
          <div class="section-text text-center">
            <br/><br/>
            <h2 class="hs-line-11 font-alt">
              Auffahrt & Pfingsten
            </h2>
            <p><strong>
              Die Kaffeebar und der Coworking-Bereich bleiben über Auffahrt (Do 9.5. bis So 12.5.)
              sowie an Pfingsten (So 19.5. und Mo 20.5.) geschlossen.<br />
              Raummieten nur nach Absprache.
            </strong></p>
            <br/><br/>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}

  <!-- Effinger Angebote -->
  <section id="angebote" class="page-section pt-40 pb-20 bg-effingergelb">

    {{ if $winterferien }}
    <div class="container pb-40">
      <div style="flex: 1 1 200px; display: flex; flex-flow: row nowrap; justify-content: center; align-items: flex-start;">
        <img src="/images/betriebsferien-winter-baum.png" alt="" aria-hidden="true"
             style="width: 80px; margin: 0.5em 0.8em 0; border-radius: 50%; padding: 3px 4px 5px; background: white;" />
        <p class="fs-3" style="margin: 7px;">
          Vom <strong class="text-nowrap">Samstag 21. Dez</strong> bis zum <strong class="text-nowrap">Sonntag 5. Jan</strong><br />
          bleibt der gesamte Effinger geschlossen.
        </p>
      </div>
    </div>
    {{ end }}

    <div class="container" style="max-width: 900px;">
      <div class="list" style="justify-content: space-around;">
        <div class="angebot">
          <img class="icon" src="icon-coffee-cup-b.png" alt=""/>
          <span class="title mt-20 font-alt">Kaffeebar</span>
          <p class="teaser">
            Zmorge Zmittag Apéro<br />
            Mo-Fr und Sonntag offen<br />
            {{ if $sommerferien }}
              <em class="d-block" style="margin: 10px 0 0 -10px; padding: 5px 7px 4px; border: 3px outset white;">
                So 7.&thinsp;Juli&ensp;&ndash;&ensp;So 11.&thinsp;August:<br />
                Mo-Fr&emsp;8-18 Uhr
              </em>
            {{ end }}
          </p>
          <div class="call-to-action">
            <a href="/kaffeebar/" class="btn btn-mod btn-border btn-round btn-medium">Kaffeebar</a>
          </div>
        </div>
        <div class="angebot">
          <img class="icon" src="icon-building-b.png" alt=""/>
          <span class="title mt-20 font-alt">Coworking</span>
          <p class="teaser">
            Keine Voranmeldung nötig; Einführungen nur vormittags<br />
            Mo-Fr&emsp;8-18 Uhr
          </p>
          <!-- Winterferien -->
          <!-- <div style="flex: 1 1 200px; display: flex; flex-flow: row nowrap; justify-content: center; align-items: flex-start;">
            <img src="/images/betriebsferien-winter-baum.png" aria-hidden="true"
                 style="width: 55px; margin: 0.5em 0.5em 0 0; border-radius: 50%; padding: 3px 4px 5px; background: white;" />
            <p style="margin: 7px;">
              Vom <strong>Sa 24. Dez</strong> bis zum <strong>So 8. Jan</strong><br />
              kannst du nur ins Coworking kommen, wenn du jemanden mit Schlüssel kennst.
            </p>
          </div> -->
          <!-- End Winterferien -->
          <div class="call-to-action">
            <a href="/coworking/" class="btn btn-mod btn-border btn-round btn-medium">Coworking</a>
          </div>
        </div>
        <div class="angebot">
          <img class="icon" src="icon-calendar-check-b.png" alt=""/>
          <span class="title mt-20 font-alt">Raum mieten</span>
          <p class="teaser">
            Für Workshops und Sitzungen<br />
            Zeit nach Absprache
          </p>
          <!-- Winterferien -->
          <!-- <div style="flex: 1 1 200px; display: flex; flex-flow: row nowrap; justify-content: center; align-items: flex-start;">
            <img src="/images/betriebsferien-winter-baum.png" aria-hidden="true"
                 style="width: 55px; margin: 0.5em 0.5em 0 0; border-radius: 50%; padding: 3px 4px 5px; background: white;" />
            <p style="margin: 7px;">
              Vom <strong>Sa 24. Dez</strong> bis zum <strong>So 8. Jan</strong><br />
              ist eine Raummiete nur nach Absprache möglich.
            </p>
          </div> -->
          <!-- End Winterferien -->
          <div class="call-to-action">
            <a href="/raeume/" class="btn btn-mod btn-border btn-round btn-medium">Raum mieten</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="mt-0 mb-0" style="border-color: black;">

  <!-- About -->
  <section class="page-section">
    <div class="container relative">
      <div class="row intro-video">
        <!-- About Text -->
        <div class="col-12 col-xl-5 col-xxl-6  text">
          <h3 class="font-alt mt-10 mb-30 mb-md-10"><a href="/community/">Community statt Homeoffice</a></h3>
          <p>
            Kaffeebar, Coworking Space und Community – im Effinger treffen sich die unterschiedlichsten Menschen.
            Daraus ergibt sich ein Netzwerk, das nicht nur beruflich weiterbringt.
          </p>
          <div class="mt-40">
            <a href="/community/" class="btn btn-mod btn-border btn-round btn-medium mb-30">Mehr</a>
          </div>
        </div>
        <!-- End About Text -->
        <div class="col work-full-media mt-0 white-shadow">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fMXqGOOurVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- End About -->


  <!-- Kurtli Feed -->
  <section class="page-section pt-80 pb-80">
    <div class="container">
      <h2 class="hs-line-11 font-alt mb-60 text-center">Aus der Community</h2>
      <!-- <p class="text-center mb-60">Powered by <a href="https://www.kurtli.com" target="_blank">Kurtli</a></p> -->
      <div id="kurtlifeed" data-teamid="T031CHQFJ" style="min-height: 430px;"></div>
    </div>
  </section>

  <!-- Events -->
  <section class="page-section pt-80 pb-80 bg-gray-lighter events">
    <div class="container relative">
      <div class="section-text">
        <h2 class="hs-line-11 font-alt mb-60 text-center"><a href="/events/">Nächste Events</a></h2>

        <div class="eventlist row">
          <div class="col-sm-12 col-lg-6">
            {{ range $index, $element := first 6 (partial "events/future_events.html" .) }}
              {{ if eq $index 3 }}
                </div>
                <div class="col-sm-12 col-lg-6">
              {{ end }}
              {{ $element }}
            {{ end }}
          </div>
        </div>

        <div class="mt-40 text-center">
          <a href="/events/" class="btn btn-mod btn-border btn-round btn-medium">Alle Events</a>
        </div>

      </div>
    </div>
  </section>

  <!-- Blog -->
  <section class="page-section pt-80 pb-80 bg-gray-lighter">
    <div class="container relative">
      <div class="section-text">
        <h2 class="hs-line-11 font-alt mb-60 text-center"><a href="/blog/">Blog</a></h2>

        <div class="row">
          {{ range first 3 (where .Site.RegularPages "Section" "blog") }}
          <div class="col-sm-4">
            {{ partial "blog/summary_home.html" . }}
          </div>
          {{ end }}
        </div>
        <div class="mt-40 text-center">
          <a href="/blog/" class="btn btn-mod btn-border btn-round btn-medium">Alle Blogeinträge</a>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
<script>
  (function () {
    const d = document, s = d.createElement('script');
    s.src = 'https://www.kurtli.com/feed/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
{{ end }}
