{{ define "head_includes"}}
{{ end }}

{{ define "main" }}
<!-- Page Wrap -->
<div class="page page-home" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Home Section -->
  <section class="home-section bg-dark-alfa-80 parallax-2 fixed-height-small" data-background="effinger_header.jpg">
    <div class="js-height-parent container">

      <!-- Hero Content -->
      <div class="home-content">
        <div class="home-text">

          <!-- Sommeröffnungszeiten -->
          {{ $sommerPage := .Site.GetPage "/sommer" }}
          {{ $weather := (partial "sommer_wetter.html" $sommerPage)}}

          {{ if eq $weather "sun" }}
            <div class="contact-item contact-oeffnungszeiten contact-sommer-wetter mt-20 mb-20 clearfix">
              <h4 class="uppercase">{{ $sommerPage.Params.suntitle | markdownify }}</h4>
              <div class="wave-spacer"></div>
              <div class="item" style="text-align: center; font-size: 40px;">
                {{ $sommerPage.Params.suntext | markdownify }}
                <a href="/sommer/" class="btn btn-mod btn-border-w btn-round btn-large">Warum?</a>
              </div>
            </div>
          {{ else if eq $weather "rain" }}
            <div class="contact-item contact-oeffnungszeiten contact-sommer-wetter mt-20 mb-20 clearfix">
              <h4 class="uppercase">{{ $sommerPage.Params.raintitle | markdownify }}</h4>
              <div class="wave-spacer"></div>
              <div class="item" style="text-align: center; font-size: 40px;">
                {{ $sommerPage.Params.raintext | markdownify }}
                <a href="/sommer/" class="btn btn-mod btn-border-w btn-round btn-large">Warum?</a>
              </div>
            </div>
          {{ else }}
          <img src="images/logo-effinger-gelb-weiss.svg" alt="Logo Effinger" class="mb-60 mb-xs-30 mt-50">

          {{ end }}
          <h1 class="font-alt mb-10">
            Kaffeebar &amp; Coworking Space
          </h1>

          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              Für Jungunternehmer, Kreative, Handwerkerinnen, Weltveränderer, Bernerinnen, Zugereiste,
              Kaffeeliebhaberinnen, Biertrinker, Kulturschaffende, junge Kunst und für Dich an der <strong>Effingerstrasse&nbsp;10,&nbsp;Bern</strong><br/>

            </div>
          </div>

        </div>
      </div>
      <!-- End Hero Content -->

    </div>
  </section>
  <!-- End Home Section -->

  <!-- Jubilaeum -->
  <!-- <section id="start" class="small-section-header bg-effingergelb">
    <div class="relative container">

      <div class="row text-center">

        <div class="col-md-8 col-md-offset-2 ">
          <div class="mb-10">
            <i class="fa fa-birthday-cake fa-5x"></i>
          </div>
          <h1 class="hs-line-11 font-alt">Feier mit mir,<br>ich werd 4</h1>
          <h2 class="hs-line-15 font-alt ">13. März 2020</h2>
          <div class="hs-line-4 black font-alt mt-10 mt-xs-0">
            Der «Effinger – Kaffeebar & Coworking Space» wird 4 Jahre alt! Das wollen wir feiern!
          </div>
          <a class="btn btn-mod btn-medium mt-20" href="/jubilaeum">Mehr</a>
        </div>
      </div>

    </div>
  </section> -->
  <!-- End Jubilaeum -->

  <!-- <hr class="mt-0 mb-0" style="border-color: black;"> -->

  <!-- Virtuelle Effinger Lounge -->
  <!-- <section class="page-section pt-40 pb-40">
    <div class="container">
      <h2 class="hs-line-15 font-alt mb-40 align-center">
        Treffe uns Online oder vor Ort
      </h2>

      <div class="row">
        <div class="col-md-6 text-center mb-20">
          <a href="https://www.coworkingradio.ch/" target="_blank" title="Radio öffnen" class="relative block">
            <img src="radio.png" alt="Coworking Radio">
          </a>
        </div>
        <div class="col-md-6">
          <p class="mb-10">
            In der Corona-Krise haben wir uns jeweils zur 10-Uhr-Pause online getroffen.
            Daraus ist das <a href="https://www.coworkingradio.ch" target="_blank">Coworking Radio</a> entstanden in
            Zusammenarbeit mit <a href="https://www.corelated.ch" target="_blank">befreundeten Coworking Spaces</a>.
          </p>
          <p class="mb-10">
            📻 Treffe uns online im <a href="https://www.coworkingradio.ch" target="_blank">Coworking Radio</a><br>
            😀 besuche unseren Tageshost im Effinger vor Ort<br>
            📧 oder schreib uns an <a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a>
          </p>
          <hr>
          <p class="mb-0">
            <em>Falls du die alten Online-Räume suchst:</em>
          </p>
          <div class="mb-0">
            &rarr; <a href="https://meet.jit.si/effinger-lounge" target="_blank">Virtuelle Lounge</a>
          </div>
          <div class="mb-0">
            &rarr; <a href="https://meet.jit.si/colearningbern" target="_blank">Colearning-Raum</a>
          </div>
          <div class="mb-0">
            &rarr; <a href="https://meet.jit.si/" target="_blank">Eigenen Raum erstellen</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Section -->

  <!-- Betriebsferien Weihnachten -->
  <!--
    Photo by <a href="https://unsplash.com/@kierancwhite?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kieran White</a> on
    <a href="https://unsplash.com/s/photos/christmas-background?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  -->
  <section class="page-section pt-80 pb-60" style="background: center/cover url('/images/betriebsferien-winter.jpg');">
    <div class="container">
      <div class="section-text align-center" style="color: white; text-shadow: 0 0 3px black;">
        <h2 class="hs-line-11 font-alt m4-60">
          <a href="/blog/" style="color: white;">Betriebsferien</a>
        </h2>
        <p>
          Der Effinger bleibt über Weihnachten-Neujahr geschlossen. Raumvermietung ist nach Absprache möglich.
        </p>
        <p>
          <strong>
            Wir gehen in die Winterpause am Do 23. Dezember<br />
            und öffnen unsere Türen wieder am Mo 10. Januar.
          </strong>
        </p>
      </div>
    </div>
  </section>

  <!-- Betriebsferien Ostern -->
  <!--
  <section class="page-section pt-80 pb-80">
    <div class="container relative">

      <div class="row">
        <div class="col-sm-8 col-md-7 mb-md-40">
          <div class="section-text">
          <h2 class="hs-line-11 font-alt mb-50">
            Frohe Ostern!
          </h2>
          <p><strong>
            Die Kaffeebar und der Coworking-Bereich bleiben vom Karfreitag bis am Ostermontag
            geschlossen. Wir wünschen allen ein frohes Fest!
          </strong></p>
          </div>
        </div>

        <div class="col-sm-4 col-md-5 mt-60">
          <img src="/images/betriebsferien-ostern.jpg" alt="Betriebsferien Ostern">
        </div>
      </div>
    </div>
  </section>
  -->

  <!-- Effinger Angebote -->
  <section id="angebote" class="page-section pt-80 pb-20 bg-effingergelb">
    <div class="container">
      <div class="list">
        <div class="angebot">
          <img class="icon" src="icon-coffee-cup-b.png" alt=""/>
          <span class="title mt-20 font-alt">Kaffeebar</span>
          <p class="teaser">
            Zmorge Zmittag Apéro<br />
            Mo-Fr und Sonntag offen
          </p>
          <div class="call-to-action">
            <a href="/kaffeebar/" class="btn btn-mod btn-border btn-round btn-medium">Kaffeebar</a>
          </div>
        </div>
        <div class="angebot">
          <img class="icon" src="icon-building-b.png" alt=""/>
          <span class="title mt-20 font-alt">Coworking</span>
          <p class="teaser">
            keine Voranmeldung nötig<br />
            Mo-Fr&emsp;8-18 Uhr
          </p>
          <div class="call-to-action">
            <a href="/coworking/" class="btn btn-mod btn-border btn-round btn-medium">Coworking</a>
          </div>
        </div>
        <div class="angebot">
          <img class="icon" src="icon-calendar-check-b.png" alt=""/>
          <span class="title mt-20 font-alt">Raum mieten</span>
          <p class="teaser">
            für Workshops und Sitzungen<br />
            Zeit nach Absprache
          </p>
          <div class="call-to-action">
            <a href="/raeume/" class="btn btn-mod btn-border btn-round btn-medium">Raum mieten</a>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- About -->
  <section class="page-section">
    <div class="container relative">
      <div class="row intro-video">
        <!-- About Text -->
        <div class="text">
          <h3 class="font-alt mt-10 mb-30 mb-md-10"><a href="/community/">Community statt Homeoffice</a></h3>
          <p>
            Kaffeebar, Coworking Space und Community – im Effinger treffen sich die unterschiedlichsten Menschen.
            Daraus ergibt sich ein Netzwerk, das nicht nur beruflich weiterbringt.
          </p>
          <div class="mt-40">
            <a href="/community/" class="btn btn-mod btn-border btn-round btn-medium mb-30">Mehr</a>
          </div>
        </div>
        <!-- End About Text -->
        <div class="work-full-media mt-0 white-shadow">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fMXqGOOurVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- End About -->


  <!-- Kurtli Feed -->
  <section class="page-section pt-80 pb-80">
    <div class="container">
      <h2 class="hs-line-11 font-alt mb-60 text-center">Aus der Community</h2>
      <!-- <p class="text-center mb-60">Powered by <a href="https://www.kurtli.com" target="_blank">Kurtli</a></p> -->
      <div id="kurtlifeed" data-teamid="T031CHQFJ"></div>
    </div>
  </section>

  <!-- Events -->
  <section class="page-section pt-80 pb-80 bg-gray-lighter event">
    <div class="container relative">
      <div class="section-text">
        <h2 class="hs-line-11 font-alt mb-60 text-center"><a href="/events/">Nächste Events</a></h2>

        <div class="eventlist row">
          <div class="col-sm-6">
            {{ range $index, $element := first 6 (partial "events/future_events.html" .) }}
              {{ if eq $index 3 }}
                </div>
                <div class="col-sm-6">
              {{ end }}
              {{ $element }}
            {{ end }}
          </div>
        </div>

        <div class="mt-40 text-center">
          <a href="/events/" class="btn btn-mod btn-border btn-round btn-medium">Alle Events</a>
        </div>

      </div>
    </div>
  </section>

  <!-- Blog -->
  <section class="page-section pt-80 pb-80 bg-gray-lighter">
    <div class="container relative">
      <div class="section-text">
        <h2 class="hs-line-11 font-alt mb-60 text-center"><a href="/blog/">Blog</a></h2>

        <div class="row">
          {{ range first 3 (where .Site.RegularPages "Section" "blog") }}
          <div class="col-sm-4">
            {{ partial "blog/summary_home.html" . }}
          </div>
          {{ end }}
        </div>
        <div class="mt-40 text-center">
          <a href="/blog/" class="btn btn-mod btn-border btn-round btn-medium">Alle Blogeinträge</a>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
<script>
  (function () {
    var d = document, s = d.createElement('script');
    s.src = 'https://www.kurtli.com/feed/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
{{ end }}
