{{/* Calculation of total Ertrag und Aufwand. */}}
{{ $.Scratch.Set "total_ertrag" 0 }}
{{ range .Params.ertrag }}
  {{ $.Scratch.Add "total_ertrag" .betrag }}
{{ end }}

{{ $.Scratch.Set "total_aufwand" 0 }}
{{ range .Params.aufwand }}
  {{ $.Scratch.Add "total_aufwand" .betrag }}
{{ end }}

{{/* Putting the variables in the dot-context to make it available in other files. */}}
{{ $.Scratch.Get "total_aufwand" | .Scratch.Set "total_aufwand" }}
{{ $.Scratch.Get "total_ertrag" | .Scratch.Set "total_ertrag" }}
<div class="item">
  <p>Ertrag<span>{{ partial "format/thousands" (.Scratch.Get "total_ertrag") }}</span></p>
  <p>Aufwand<span>-{{ partial "format/thousands" (.Scratch.Get "total_aufwand") }}</span></p>
  <p>SALDO<span class="total">{{ partial "format/thousands" (sub (.Scratch.Get "total_ertrag") (.Scratch.Get "total_aufwand")) }}</span></p>
</div>
<div class="item clearfix">
  <p>Darlehen<span>{{ partial "format/thousands" .Params.darlehen }}</span></p>
  <p><small>Kontostand Ende Monat</small><span>{{ partial "format/thousands" .Params.kontostand }}</span></p>
</div>
