<div class="inner mt-20 mb-20 clearfix">
  <h4 class="title">{{ index $.Site.Data.de.months (sub .Date.Month 1) }}</h4>
  <div class="wave-spacer"></div>
  <div class="item">
    <p>Ertrag<span>{{ partial "format/thousands" .Params.total_ertrag }}</span></p>
    <p>Aufwand<span>-{{ partial "format/thousands" .Params.total_aufwand }}</span></p>
    <p>SALDO<span>{{ partial "format/thousands" (sub .Params.total_ertrag .Params.total_aufwand) }}</span></p>
  </div>
  <div class="item clearfix">
    <p>Darlehen<span>{{ partial "format/thousands" .Params.darlehen }}</span></p>
    <p><small>Kontostand Ende Monat</small><span>{{ partial "format/thousands" .Params.kontostand }}</span></p>
  </div>
  <div class="item">
    <p class="align-center">
      <a href="{{ .RelPermalink }}" class="btn btn-mod btn-gray btn-round"><i class="fa fa-angle-right"></i> Details</a>
    </p>
  </div>
</div>

<!--
<div class="row erfolg">
  <div class="col-sm-6 item left-sm">
    <h3 class="font-alt title">Ertrag</h3>
    {{ range .Params.ertrag }}
    <table>
      <tbody>
        <tr>
          <th>{{ .name }}</th>
          <th>
            +{{ partial "format/thousands" .betrag }}
          </th>
        </tr>
        {{ with .info }}
        <tr>
          <td>{{ . }}</td>
          <td></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    {{ end }}
  </div>
  <div class="col-sm-6 item right-sm">
    <h3 class="font-alt title">Aufwand</h3>
    {{ range .Params.aufwand }}
    <table>
      <tbody>
        <tr>
          <th>{{ .name }}</th>
          <th>
            -{{ partial "format/thousands" .betrag }}
          </th>
        </tr>
        {{ with .info }}
        <tr>
          <td>{{ . }}</td>
          <td></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    {{ end }}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Total Ertrag: {{ partial "format/thousands" ($.Scratch.Get "total_ertrag") }}
  </div>
</div>
-->
