{{ define "main" }}
<!-- Page Wrap -->
<div class="page" id="top">

  <nav class="main-nav transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-gray-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Events</h1>
          <div class="hs-line-4 font-alt black mt-10 mt-xs-0">
            Lass es dir nicht entgehen
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- Brownbag Section -->
  <section class="bg-dark-lighter pt-30 pb-30">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h4 class="font-alt mb-0">Zum Brownbag Programm</h4>
            </div>

            <div class="col-md-4">
                <div class="font-alt align-right">
                    <a href="/brownbag/" class="btn btn-mod btn-border-w btn-round btn-large">Brownbag</a>`
                </div>

            </div>
        </div>

    </div>
  </section>
  <!-- End Brownbag Section -->

  <!-- Section Event list -->
  <section class="page-section event">
    <div class="container relative">
      <!--
      <h2 class="section-title font-alt mb-70 mb-sm-40">Eventliste</h2>
      -->
      <div class="eventlist">
        {{ range sort (where .Data.Pages "Params.enddate" ">=" now) "Params.startdate" "asc" }}

        {{ partial "events/calc_dates.html" . }}
        {{ partial "events/event_summary.html" . }}

        {{ end }}
      </div>
    </div>
  </section>
  <!-- End Section Event list -->
</div>
<!-- End Page Wrap -->
{{ end }}
