{{ define "variables" }}
{{ .Scratch.Set "title" (print "Events | " .Site.Title) -}}
{{ .Scratch.Set "description" "Events der Effinger Community." -}}
{{ end }}

{{ define "main" }}
<!-- Page Wrap -->
<div class="page" id="top">

  <nav class="main-nav stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-gray-lighter">
    <div class="relative container text-start pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Events</h1>
          <div class="hs-line-4 font-alt black mt-10 mt-xs-0">
            Lass es dir nicht entgehen
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- Brownbag Section -->
  <section class="bg-dark-lighter pt-30 pb-30">
    <div class="relative container text-start">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h5 class="font-alt mt-10 mb-10">Zum Brownbag Programm</h5>
        </div>

        <div class="col-md-4">
          <div class="font-alt align-right">
            <a href="/brownbag/" class="btn btn-mod btn-border-w btn-round btn-large">Brownbag</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Brownbag Section -->

  <!-- Recurring Offers -->
  <section class="page-section recurring-offers bg-gray pt-40 pb-0">
    <div class="container">
      <p class="font-bold">
        Regelmässige Angebote:
        <a href="https://3-bewegt.youcanbook.me/">Massage</a>
      </p>
    </div>
  </section>
  <!-- End Recurring Events -->

  <!-- Section Event list -->
  <section class="page-section events pt-40">
    <div class="container relative">
      <div class="eventlist">
        {{ range (partial "events/future_events.html" .) }}
        {{ . }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- End Section Event list -->
</div>
<!-- End Page Wrap -->
{{ end }}
