{{ define "variables" }}
{{ .Scratch.Set "title" (print .Title " | Events | " .Site.Title) -}}
{{ end }}

{{ define "twitter_card" }}
  {{ partial "events/calc_dates.html" . }}

  <meta name="twitter:card" value="summary_large_image">
  <meta name="twitter:label1" value="Datum" />
  <meta name="twitter:data1" value="{{ .Scratch.Get "start_weekday" }}, {{ .Scratch.Get "start_day" }}. {{ .Scratch.Get "start_month" }} {{ .Scratch.Get "start_year" }}" />
  {{ if .Params.registration }}
  <meta name="twitter:label2" value="Anmeldung" />
  <meta name="twitter:data2" value="{{ index (split .Permalink "://") 1 }}" />
  {{ end }}
{{ end }}

{{ define "head_includes" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": {{ .Title }},
  "startDate": {{ .Params.startdate }},
  "endDate": {{ .Params.enddate }},
  "location": {
    "@type": "Place",
    "name": "Effinger - Kaffeebar & Coworking Space",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Effingerstrasse 10",
      "addressLocality": "Bern",
      "postalCode": "3011",
      "addressCountry": "CH"
    }
  },
  {{- if .Params.image }}
  "image": [
    {{ partial `utils/image_permalink.html` . }}
    ],
  {{- end }}
  "description": {{ .Description }},
  "offers": {
    "@type": "Offer",
    "url": {{ .Permalink }},
    "price": "0",
    "priceCurrency": "CHF",
    "availability": "https://schema.org/InStock",
    "validFrom": {{ (time .Params.startdate).AddDate 0 -6 0 }}
  },
  "performer": {
    "@type": "PerformingGroup",
    "name": "Effinger Community"
  }
}
</script>
{{ end }}

{{ define "main" }}
<!-- Page Wrap -->
<div class="page" id="top">

  <nav class="main-nav transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-gray-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-10"><a href="/events/">Events</a></h1>
          <div class="hs-line-4 font-alt black">
            Lass es dir nicht entgehen
          </div>
        </div>
        <div class="col-md-4 mt-30">
          <div class="mod-breadcrumbs font-alt align-right">
            <a href="/events"><i class="fa fa-angle-left"></i> Zeige alle Events</a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  {{ $isPast := (time .Params.enddate).Before now }}
  {{ $archiveDate := now.AddDate 0 (int (mul -1 .Site.Params.archiveEventsAfterMonths)) 0 }}
  {{ $isArchived := (time .Params.enddate).Before $archiveDate }}

  <!-- Section Event Single View -->
  <section class="page-section events">
    <div class="container relative eventsingle">
      {{ if $isPast }}
        <h2 class="font-alt align-center mb-40">{{ .Title }}</h2>
        <div class="alert alert-info text-center mb-40">
          <i class="fa fa-ban"></i>
          Event liegt in der Vergangenheit!
        </div>
      {{ else }}
        <h2 class="font-alt align-center mb-80">{{ .Title }}</h2>
      {{ end }}

      <div class="row">
        <div class="col-md-3">
          <div class="row mb-md-30">
            <div class="col-md-12 col-sm-4 mb-20 mb-md-0">
              <div class="date{{ if $isPast }} striped{{ end }}">
                <div class="weekday uppercase">{{ .Scratch.Get "start_weekday" }}</div>
                <div class="day">{{ .Scratch.Get "start_day" }}</div>
                <div class="monthyear uppercase">{{ .Scratch.Get "start_shortmonth" }} {{ .Scratch.Get "start_year" }}</div>
              </div>
            </div>
            <div class="col-md-12 col-sm-8 mt-xs-20">
              <div class="event-detail text">
                <p><small><i class="fa fa-calendar-o"></i> {{ .Scratch.Get "start_weekday" }}, {{ .Scratch.Get "start_day" }}. {{ .Scratch.Get "start_month" }} {{ .Scratch.Get "start_year" }}</small></p>
                {{ if eq (.Scratch.Get "end_date") (.Scratch.Get "start_date") }}
                  <p><small><i class="fa fa-clock-o"></i> {{ .Scratch.Get "start_time" }} Uhr</small></p>
                {{ else }}
                  <p><small><i class="fa fa-clock-o"></i> {{ .Scratch.Get "start_time" }} bis {{ .Scratch.Get "end_time" }} Uhr</small></p>
                {{ end }}
                <p><small><i class="fa fa-map-marker"></i>
                  {{ if .Params.address_link }}
                    <a href="{{ .Params.address_link }}" target="_blank" title="Open in Google Maps">{{ .Params.location }}</a>
                  {{ else }}
                    {{ .Params.location }}
                  {{ end }}
                </small></p>
                <p><small><i class="fa fa-tags"></i>
                  {{ delimit .Params.categories ", " }}
                  </small>
                </p>
                {{ if and .Params.registration (not $isPast) }}
                <p class="local-scroll">
                  <i class="fa fa-user-plus mt-10"></i>
                  <a href="#anmeldung" class="btn btn-mod btn-gray btn-medium btn-round">Anmeldung</a>
                </p>
                {{ end }}
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="section-text">
            {{ .Content }}
          </div>
        </div>
      </div>

      {{ if and .Params.registration (not $isArchived) }}
      <!-- Event Registration -->
      {{ $lastUrlElement := index (last 2 (split .Permalink "/")) 0 }}
      <div class="row pt-60" id="anmeldung">
        <div class="col-md-6">
          <h3 class="uppercase mt-0 mb-0"><i class="fa fa-user-plus"></i> Anmeldung</h3>

          <div class="event-manager-close">
            {{ if .Params.registration_close }}
              <i class="fa fa-clock-o"></i> Anmeldeschluss: {{ dateFormat "02.01.2006" .Params.registration_close }}
              {{ $delta := (time .Params.registration_close).Sub now }}
              {{ if gt $delta.Hours 24 }}
              (noch {{ int (div $delta.Hours 24) }} Tage)
              {{ else if ge (int $delta.Hours) 2 }}
              (nur noch {{ int $delta.Hours }} Stunden!)
              {{ else if eq (int $delta.Hours) 1 }}
              (nur noch 1 Stunde!)
              {{ else if gt (int $delta.Minutes) 1 }}
              (nur noch {{ int $delta.Minutes }} Minuten!)
              {{ else if gt $delta.Seconds 0 }}
              (allerletzte Minute!)
              {{ else }}
              (geschlossen)
              {{ end }}
            {{ end }}
            &nbsp;
          </div>


          <div class="event-manager-info alert alert-info" style="display:none;">
          </div>

          <div class="event-manager-loading">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
          </div>

          <!-- Form -->
          <form class="form event-manager-form" style="display:none;"
            data-event-folder="{{ .Site.Data.event_manager.folderId }}"
            data-event-id="{{ $lastUrlElement }}"
            data-event-title="{{ .Title }}"
            {{ if .Params.registration_max }}
            data-event-max="{{ .Params.registration_max }}"
            {{ end }}
            {{ if .Params.registration_close }}
            data-event-close="{{ (time .Params.registration_close).Format "2006-01-02T15:04:05Z" }}"
            {{ else }}
            data-event-close="{{ (time .Params.startdate).Format "2006-01-02T15:04:05" }}"
            {{ end }}
            data-event-api="{{ .Site.Data.event_manager.apiUrl }}">
            <div class="row">
              <div class="col-sm-6 mb-20 mb-md-10">
                <input type="text" name="firstname" class="input-md form-control" placeholder="Vorname" maxlength="100">
              </div>

              <div class="col-sm-6 mb-20 mb-md-10">
                <input type="text" name="lastname" class="input-md form-control" placeholder="Ganzer Nachname" maxlength="100">
              </div>
            </div>

            <div class="mb-20 mb-md-10">
              <input type="email" name="_email" class="input-md form-control" placeholder="E-Mail" maxlength="100">
            </div>

            <div class="mb-20 mb-md-10">
              <textarea name="comments" id="text" class="input-md form-control" rows="5" placeholder="Kommentar (optional, wird hier auf der Seite angezeigt)" maxlength="400"></textarea>
            </div>

            <div class="mb-20 mb-md-10">
              <input type="submit" class="btn btn-mod btn-gray btn-round" value="Anmelden">
            </div>
          </form>
          <!-- End Form -->

        </div>
        <div class="col-md-6 mt-md-60">
          <p class="event-manager-number-of-attendees uppercase">Teilnehmende</p>

          <div class="event-manager-max">
            {{ if .Params.registration_max }}
              <i class="fa fa-users"></i> Max:
              {{ if gt .Params.registration_max 1 }}
              {{ .Params.registration_max }} Plätze
              {{ else }}
              1 Platz
              {{ end }}
            {{ end }}
            &nbsp;
          </div>

          <div class="event-manager-loading">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
          </div>
          <ul class="list-unstyled event-manager-attendee-list">
          </ul>
        </div>
      </div>
      <!-- End Event Registration -->
      {{ end }}

    </div>
  </section>
  <!-- End Section Event Single View -->

<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
  {{ if .Params.registration }}
  <script type="text/javascript" src="/js/event-manager.dart.js"></script>
  {{ end }}
{{ end }}
