<!-- Image -->
<div class="blog-media mb-10 image-crop image-crop-5by3">
  <a class="image-crop-inner" href="{{ .RelPermalink }}"
      style="background-image: url({{ .RelPermalink }}{{ .Params.image }})">
  </a>
</div>

<!-- Date, Author -->
<div class="blog-item-data mb-10">
  <a class="text-nowrap"><i class="fa fa-clock-o fa-inline"></i>&nbsp;{{ .Date.Format "02.01.2006" }}</a><span class="separator">&nbsp;</span><span class="visible-sm-inline"><br></span>
  {{- range $i, $e := .Params.authors -}}
  {{ if $i }}, {{ else }}<i class="fa fa-user fa-inline"></i>&nbsp;{{ end -}}
  <a class="text-nowrap" href="/blog/authors/{{ $e | urlize }}">{{ $e }}</a>
{{- end -}}
</div>

<!-- Post Title -->
<h4 class="blog-item-title font-alt"><a href="{{ .RelPermalink }}" class="hyphenate">{{ .Title }}</a></h4>

<!-- Text Intro -->
<div class="blog-item-body">
  <p class="hidden-xs">
    {{ if gt (len .Description) 140 }}
    {{ substr .Description 0 140 }}…
    {{ else }}
    {{ .Description }}
    {{ end }}
  </p>
  <p class="visible-xs-block">
    {{ .Description }}
  </p>
</div>
