<!-- Post -->
<div class="blog-item">

  <!-- Post Title -->
  <h2 class="blog-item-title font-alt"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

  <!-- Author, Tags, Comments -->
  <div class="blog-item-data">
    {{ partial "blog/meta.html" . }}
  </div>

  <!-- Image -->
  <div class="blog-media image-crop image-crop-3by2">
    <a class="image-crop-inner" href="{{ .RelPermalink }}"
        style="background-image: url({{ .RelPermalink }}{{ .Params.image }})">
    </a>
  </div>

  <!-- Text Intro -->
  <div class="blog-item-body">
    <p>
      {{ .Description }}
    </p>
  </div>

  <!-- Read More Link -->
  <div class="blog-item-foot">
    <a href="{{ .RelPermalink }}" class="btn btn-mod btn-round  btn-small">Weiterlesen <i class="fa fa-angle-right"></i></a>
  </div>

</div>
<!-- End Post -->
