<!-- Image -->
<div class="blog-media mb-10 image-crop image-crop-5by3">
  <a class="" href="{{ .RelPermalink }}"><img src="{{ .RelPermalink }}{{ .Params.image }}" alt="" /></a>
</div>

<!-- Date, Author -->
<div class="blog-item-data mb-10">
  <a class="text-nowrap"><i class="fa fa-clock-o fa-inline"></i>&nbsp;{{ .Date.Format "02.01.2006" }}</a><span class="separator">&nbsp;</span><span class="visible-sm-inline"><br></span>
  <a class="text-nowrap"><i class="fa fa-user fa-inline"></i>&nbsp;{{ .Params.author }}</a>
</div>

<!-- Post Title -->
<h2 class="blog-item-title font-alt"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

<!-- Text Intro -->
<div class="blog-item-body">
  <p class="hidden-xs">
    {{ if gt (len .Description) 140 }}
    {{ substr .Description 0 140 }}…
    {{ else }}
    {{ .Description }}
    {{ end }}
  </p>
  <p class="visible-xs-block">
    {{ .Description }}
  </p>
</div>
