{{ define "main" }}
<!-- Page Wrap -->
<div class="page" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Section -->
  <section class="page-section bg-dark-alfa-70 bg-scroll" data-background="{{ .Params.image }}">
    <div class="relative container text-start pt-140 pb-60">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Geschichte</h1>
          <!--
          <div class="hs-line-4 font-alt mt-20 mt-xs-0">
            Es war einmal, vor nicht all zu langer Zeit...
          </div>
          -->
        </div>

        <div class="col-md-4 mt-30">
          <div class="mod-breadcrumbs font-alt align-right">
            <a href="/community/">Community</a>&nbsp;/&nbsp;<span>Geschichte</span>
          </div>

        </div>
      </div>

    </div>
  </section>
  <!-- End Section -->

  <!-- Section -->
  <section class="page-section bg-gray-lighter">
    <div class="container">

      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="section-text">
            <h3 class="hs-line-11 font-alt mb-30 text-center">{{ .Params.block_1_title }}</h3>
            <p>
            {{ .Params.block_1_text | markdownify }}
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="section-text">
            <h3 class="hs-line-11 font-alt mb-30 mt-30 text-center">{{ .Params.block_2_title }}</h3>
            <p>
              {{ .Params.block_2_text | markdownify }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section -->

  <!-- Section -->
  <section class="page-section" id="about">
    <div class="container relative">

      <!-- Intro Text -->
      <div class="section-text">
        <h3 class="hs-line-11 font-alt mb-60 text-center">{{ .Params.story_title }}</h3>
      </div>
      <!-- End Intro Text -->

      <!-- Story Grid -->
      <div class="row alt-features-grid">

        {{ range .Params.story_items }}
        <!-- Story Item -->
        <div class="col-sm-6 col-lg-4 col-xxl-3">
          <div class="alt-features-item text-start">
            <div class="alt-features-icon">
              <img src="{{ .image }}" alt="">
            </div>
            <h3 class="alt-features-title font-alt">{{ .title }}</h3>
            <div class="alt-features-descr text-start">
              {{ .text | markdownify }}
            </div>
          </div>
        </div>
        <!-- End Story Item -->
        {{ end }}

      </div>
      <!-- End Story Grid -->

    </div>
  </section>
  <!-- End Section -->

  <!-- Section Medien -->
  <section class="page-section bg-gray">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-60"><a href="/medien/">Medien</a></h1>
      <div class="row">

        <div class="col-sm-4 col-md-3 mb-xs-40">
          <a href="/medien/">
            <span class="icon-newspaper" style="font-size: 150px;"></span>
          </a>
        </div>

        <div class="col-sm-8 col-md-7 col-lg-6">
          <p>Unter folgendem Link findest du Zeitungsartikel und andere Medienberichte über den Effinger. Dort gibt es
            ausserdem ein Medienkit mit hochaufgelöste Bilder von der Kaffeebar und vom Coworking Space.</p>
          <a href="/medien/" class="btn btn-mod btn-border btn-medium btn-round">&rarr; Medienberichte und Medienkit</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section medien  -->
</div>
<!-- End Page Wrap -->
{{ end }}
