{{ define "variables" }}
{{ .Scratch.Set "title" (print .Title " | Blog | " .Site.Title) -}}
{{ end }}

{{ define "main" }}
<!-- Page Wrap -->
<div class="page" id="top">

  <nav class="main-nav stick-fixed">
  {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-gray-lighter">
    <div class="relative container text-start pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0"><a href="/blog/">Blog</a></h1>
          <div class="mt-20 mt-xs-10 alert alert-info mb-0">
            <h2 class="hs-line-11 font-alt mb-0"><i class="fa fa-tags fa-inline"></i> {{ .Title }}</h2>
          </div>
        </div>

        <div class="col-md-4 mt-30">
          <div class="mod-breadcrumbs font-alt align-right">
            <a href="/blog/"><i class="fa fa-angle-left"></i> Alle anzeigen</a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- Section -->
  <section class="page-section">
    <div class="container relative">

      <div class="row">

        <!-- Content -->
        <div class="col-sm-8">
          {{ range (.Paginator 7).Pages }}
            {{ partial "blog/summary.html" . }}
          {{ end }}

          {{ partial "pagination.html" . }}
        </div>
        <!-- End Content -->

        <!-- Sidebar -->
        <div class="col-sm-4 col-md-3 offset-md-1 sidebar">
          {{ partial "blog/search_widget.html" . }}
          {{ partial "blog/tags_widget" . }}
          {{ partial "blog/authors_widget" . }}
          {{ partial "blog/archive_widget.html" . }}
        </div>
        <!-- End Sidebar -->
      </div>

    </div>
  </section>
  <!-- End Section -->
</div>
<!-- End Page Wrap -->
{{ end }}

{{ define "body_includes" }}
{{ partial "disqus_count.html" . }}
{{ end }}
