{{- $.Scratch.Set "ImgRelLocal" "" }}
{{ if .Params.image -}}
  {{ if (hasPrefix .Params.image "http") -}}
    {{/* Image is on another server  */}}
    <meta property="og:image" content="{{ .Params.image }}" />
    
  {{ else if (hasPrefix .Params.image "/") -}}
    {{/* Image is in the static folder  */}}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}" />
    {{ $.Scratch.Set "ImgRelLocal" (print "/static/" .Params.image) }}

  {{ else }}
    {{/* Image is in the content folder  */}}
    <meta property="og:image" content="{{ .Permalink }}{{ .Params.image }}" />
    {{ $.Scratch.Set "ImgRelLocal" (print "/content/" .RelPermalink .Params.image) }}
    
  {{ end }}
{{- else -}}
  <meta property="og:image" content="{{ .Site.BaseURL }}images/logo-black-tagline.png" />
  {{ $.Scratch.Set "ImgRelLocal" "/static/images/logo-black-tagline.png" }}
{{- end -}}

{{- with ($.Scratch.Get "ImgRelLocal") -}}
  {{- with (imageConfig .)}}
    <meta property="og:image:width" content="{{ .Width }}" />
    <meta property="og:image:height" content="{{ .Height }}" />
  {{ end -}}
{{- end }}
