<!DOCTYPE html>
<html lang="de">
{{ $.Scratch.Add "section_title" "Grundsätze" }}
{{ partial "head.html" . }}

<body>

  <!-- Page Wrap -->
  <div class="page" id="top">

    <nav class="main-nav dark transparent stick-fixed">
      {{ partial "navigation.html" . }}
    </nav>

    <!-- Header -->
    <section class="small-section-header bg-dark-lighter">
      <div class="relative container align-left pt-80">

        <div class="row">

          <div class="col-md-8">
            <h1 class="hs-line-11 font-alt mb-0">Grundsätze</h1>
            <!--
            <div class="hs-line-4 font-alt mt-20 mt-xs-0">
            Grundsätze
            </div>
            -->
          </div>

          <div class="col-md-4 mt-30">
            <div class="mod-breadcrumbs font-alt align-right">
              <a href="/grundsaetze/"><i class="fa fa-angle-left"></i> Zeige alle Grundsätze</a>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End Header -->

    <!-- Section -->
    <section class="page-section">
      <div class="container relative">

        <div class="row">

          <!-- Content -->
          <div class="col-sm-10 col-sm-offset-1">

            <!-- Text -->
            <div class="long-text-body">
              <h1 class="mt-0 font-alt">{{ .Title }}</h1>

              {{ .Content }}
            </div>
            <!-- End Text -->

            <!-- Prev/Next Post -->
            <div class="clearfix mt-40">
              {{ if .PrevInSection }}
              <a href="{{ .PrevInSection.RelPermalink }}" class="prev-next-btn left"><i class="fa fa-angle-left"></i>&nbsp;{{ .PrevInSection.Title }}</a> {{ end }} {{ if .NextInSection }}
              <a href="{{ .NextInSection.RelPermalink }}" class="prev-next-btn right">{{ .NextInSection.Title }}&nbsp;<i class="fa fa-angle-right"></i></a> {{ end }}
            </div>
            <!-- End Prev/Next Post -->

          </div>
          <!-- End Content -->

        </div>

      </div>
    </section>
    <!-- End Section -->

    {{ partial "footer.html" . }}

  </div>
  <!-- End Page Wrap -->

  {{ partial "body_includes.html" . }}

</body>

</html>
