{{ define "main" }}
<!-- Page Wrap -->
<div class="page organisation" id="top">

  <nav class="main-nav dark transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-dark-lighter">
    <div class="relative container text-start pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">{{ .Title }}</h1>
          <!--
          <div class="hs-line-4 font-alt mt-20 mt-xs-0">
          Grundsätze
          </div>
          -->
        </div>

        <div class="col-md-4 mt-30">
          <div class="mod-breadcrumbs font-alt align-right">
            <a href="/organisation/"><i class="fa fa-angle-left"></i> Zurück zur Organisation</a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <section class="page-section bg-gray">
    <div class="relative container">
      <div class="row">

        <div class="col-sm-10 offset-sm-1">
          <div class="blog-item-body">
            <h1 class="hs-line-11 font-alt">Soziokratie</h1>
            {{ .Params.soziokartie_einleitung | markdownify }}

            <div class="local-scroll">
              <a href="#entscheidungen" class="btn btn-mod btn-border btn-medium btn-round mb-md-10">↓ Soziokratische Entscheidungen (Konsent)</a><span class="hidden-xs">&nbsp;</span>
              <a href="#wahlen" class="btn btn-mod btn-border btn-medium btn-round">↓ Soziokratische Wahlen</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section -->
  <section class="page-section" id="entscheidungen">
    <div class="container relative">
      <div class="row">
        <!-- Content -->
        <div class="col-sm-10 offset-sm-1">
          <!-- Text -->
          <div class="blog-item-body">
            <h1 class="mt-0 font-alt" >Soziokratische Entscheidungen</h1>
            {{ .Params.soziokratische_entscheidungen | markdownify }}
          </div>
          <!-- End Text -->
        </div>
        <!-- End Content -->
      </div>
    </div>
  </section>
  <!-- End Section -->

  <!-- Section -->
  <section class="page-section bg-gray" id="wahlen">
    <div class="container relative">
      <div class="row">
        <!-- Content -->
        <div class="col-sm-10 offset-sm-1">
          <!-- Text -->
          <div class="blog-item-body">
            <h1 class="mt-0 font-alt" >Soziokratische Wahlen</h1>
            {{ .Params.soziokratische_wahlen | markdownify }}
          </div>
          <!-- End Text -->
        </div>
        <!-- End Content -->
      </div>
    </div>
  </section>
  <!-- End Section -->

</div>
<!-- End Page Wrap -->
{{ end }}
