<!DOCTYPE html>
<html lang="de">
{{ partial "head.html" . }}

<body class="">

  <!-- Page Wrap -->
  <div class="page" id="top">

    <nav class="main-nav transparent stick-fixed">
      {{ partial "navigation.html" . }}
    </nav>

    <!-- Header -->
    <section class="small-section bg-gray-lighter first-section-mt">
      <div class="relative container align-left">

        <div class="row">

          <div class="col-md-8">
            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Events</h1>
            <div class="hs-line-4 font-alt black">
              Lass es dir nicht entgehen.
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Header -->

    <!-- Section Event list -->
    <section class="page-section event">
      <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">Eventliste</h2>
        <div class="eventlist">
          {{ range sort .Data.Pages "Params.startdate" "asc" }}
          
            {{ $start_month := index $.Site.Data.de.months (sub .Params.startdate.Month 1) }}
            {{ $start_shortmonth := slicestr $start_month 0 3 }}
            {{ $start_day := .Params.startdate.Day }}
            {{ $start_time := printf "%02d:%02d" .Params.startdate.Hour .Params.startdate.Minute }}
            {{ $end_time := printf "%02d:%02d" .Params.enddate.Hour .Params.enddate.Minute }}
          
          <a href="{{ .RelPermalink }}">
            <div class="event-item clearfix hover">
              <div class="cat">
                {{ $cat_len := len .Params.categories }}
                {{ range first 3 .Params.categories }}
                <div class="{{ if eq $cat_len 2 }}half {{ else if gt $cat_len 2 }}third {{ end }}{{ . | urlize }}"></div>
                {{ end }}
              </div>
              <div class="date bg-gray">
                <div class="day">{{ $start_day }}</div>
                <div class="month font-alt">{{ $start_shortmonth }}</div>
              </div>
              <div class="text">
                <h4 class="uppercase">{{ .Title }}</h4>
                <p><i class="fa fa-clock-o"></i> {{ $start_time }} bis {{ $end_time }} Uhr • <i class="fa fa-map-marker"></i> {{ .Params.location }} •
                <i class="fa fa-tags"></i> {{ delimit .Params.categories ", " }}</p>
              </div>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
    </section>
    <!-- End Section Event list -->



    {{ partial "footer.html" . }}
  </div>
  <!-- End Page Wrap -->

  {{ partial "body_includes.html" . }}

</body>

</html>
