{{ define "main" }}
{{ $sommerferien := and (ge now $.Site.Data.oeffnungszeiten_ferien.sommer.from) (le now $.Site.Data.oeffnungszeiten_ferien.sommer.upto) }}
{{ $winterferien := and (ge now $.Site.Data.oeffnungszeiten_ferien.winter.from) (le now $.Site.Data.oeffnungszeiten_ferien.winter.upto) }}

<!-- Page Wrap -->
<div class="page" id="top">

  <nav class="main-nav stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-gray-lighter">
    <div class="relative container text-start pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Kontakt</h1>
          <div class="hs-line-4 font-alt black mt-20 mt-xs-0">
            get in touch
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- Section coworking -->
  <section class="page-section">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-10">Coworking</h1>
      <p class="mb-80 mb-md-40">
        Wir freuen uns sehr auf deinen Besuch. Komm spontan vorbei.<br/> Falls du eine Frage hast, kannst du uns auch anrufen oder schreiben.
      </p>

      {{/* partial "effianer/get_host.html" . */}}

      <div class="row">
        <div class="col-12 col-lg-4 order-lg-last mb-50 mb-lg-0">
          <div class="contact-item clearfix">
            <h4 class="uppercase">Kontakt Coworking</h4>
            <div class="wave-spacer"></div>
            {{ if $winterferien }}
            <div class="item text-center pb-10">
              <em>Winterferien: <span class="text-nowrap">Sa 21. Dez bis So 5. Jan</span></em>
            </div>
            {{ end }}
            <div class="item">
              {{ partial "oeffnungszeiten_coworking.html" . }}
            </div>
            <div class="item mt-20">
              <p>Telefon<span><a href="tel:+41762397300">076 239 73 00</a></span></p>
              <p>Email<span><a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a></span></p>
              <p>Räume<span><a href="mailto:raumvermietung@effinger.ch">raumvermietung@effinger.ch</a></span></p>
              <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse 10, Bern</a></span></p>
            </div>
          </div>
        </div>

        {{ if $.Scratch.Get "host" }}
          {{ with $.Scratch.Get "host" }}
            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-sm-6 mb-100">
                  <div class="team-item">
                    <div class="team-item-image">
                      <img src="{{ .image }}" alt="{{ .name }}" />
                      <div class="team-item-detail">
                        <p class="font-alt normal">Coworking</p>
                      </div>
                    </div>
                    <div class="team-item-descr font-alt">
                      <div class="team-item-name">
                        {{ .name }}
                      </div>
                      <div class="team-item-role">
                        <span class="active-day"><i class="fa fa-chevron-right"></i>Heute {{ if eq .gender "m" }}Gastgeber{{ else }}Gastgeberin{{ end }}<i class="fa fa-chevron-left"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-item">
              <a href="/community/#effianer" class="btn btn-mod btn-border btn-medium btn-round">&rarr; Alle Gastgeber anzeigen</a>
            </div>
          {{ end }}
        {{ else }}

            <div class="col-12 col-lg-8">
              <p class="mb-20">
                <strong>Wie funktioniert das bei euch?</strong><br/>
                Immer morgens ist jemand von uns am Empfang und erklärt dir gerne alles. Du kannst ohne Voranmeldung kommen.
              </p>
              <p class="mb-20">
                <strong>Hat der Effinger Platz zum Telefonieren?</strong><br/>
                Wir haben vier Telefonkabinen und einige Nischen im «Fair Use» zu benutzen.
              </p>
              <p class="mt-30 mb-20">
                <strong>Kann ich einen Platz im Coworking reservieren?</strong><br/>
                Nicht nötig! Komm einfach vorbei. Wenn ihr mehr als vier Personen seit, dann könnt ihr gerne einen <a href="/raeume">Raum reservieren.</a>
              </p>
              <p class="mt-30 mb-20">
                <strong>Wie funktioniert das bei euch mit den Meeting-Räumen?</strong><br/>
                Wir haben etwas für Euch! Hier geht's zu unserem <a href="/raeume">Raumangebot mit Online-Reservation.</a>
              </p>
              <p class="mt-30 mb-20">
                <strong>Wie kann ich euch kontaktieren?</strong><br/>
                Schreib uns gerne ein Mail an <a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a>
              </p>
              <!-- <div class="team-item">
                <div class="">
                  <img src="kontakt_coworking.jpg" alt="" />
                </div>
              </div>
            </div> -->
          </div>
        {{ end }}
        </div>

      </div>
    </div>
  </section>
  <!-- End Section coworking  -->

  <!-- Section Kaffeebar -->
  <section class="page-section bg-gray-lighter">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-80 mb-sm-40">Kaffeebar</h1>
      <div class="row">
        <div class="col-12">
          <p>Die Lumis Kaffeebar ist Untermieterin bei uns im Effinger. Öffnungszeiten, Angebot und Events findest du auf ihrer Website.</p>
          <p class="mt-20">
            <a href="https://lumis.ch" target="_blank" rel="noopener" class="btn btn-mod btn-medium btn-round">Alle Infos lumis.ch</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section kaffeebar  -->

  <!-- Section Medien -->
  <section class="page-section">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-60"><a href="/medien/">Medien</a></h1>
      <div class="row">

        <div class="col-md-4 col-lg-3 mb-xs-40">
          <a href="/medien/">
            <span class="icon-newspaper" style="font-size: 150px;"></span>
          </a>
        </div>

        <div class="col-md-8 col-lg-7">
          <p>Unter folgendem Link findest du Zeitungsartikel und andere Medienberichte über den Effinger. Dort gibt es
            ausserdem ein Medienkit mit hochaufgelöste Bilder von der Kaffeebar und vom Coworking Space.</p>
          <a href="/medien/" class="btn btn-mod btn-border btn-medium btn-round">&rarr; Medienberichte und Medienkit</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section medien  -->

  <!-- Contact Section -->
  <section class="page-section bg-dark-lighter pt-80 pb-80" id="contact">
    <div class="container relative">

      <!-- Address -->
      <div class="address">
        <div class="contact-item contact-oeffnungszeiten clearfix">
          <h4 class="uppercase">Adresse</h4>
          <div class="wave-spacer"></div>
          <div class="item">
            <p><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse 10<br> 3011 Bern</a></p>
          </div>
        </div>
      </div>
      <!-- End Address -->
    </div>
  </section>
  <!-- End Contact Section -->

</div>
<!-- End Page Wrap -->
{{ end }}
