{{ define "main" }}
<!-- Page Wrap -->
<div class="page" id="top">

  <nav class="main-nav transparent stick-fixed">
    {{ partial "navigation.html" . }}
  </nav>

  <!-- Header -->
  <section class="small-section-header bg-gray-lighter">
    <div class="relative container align-left pt-80">

      <div class="row">

        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-0">Kontakt</h1>
          <div class="hs-line-4 font-alt black mt-20 mt-xs-0">
            get in touch
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Header -->

  <!-- Section Kaffeebar -->
  <section class="page-section">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-80 mb-sm-40">Kaffeebar</h1>
      <div class="row">
        <div class="col-md-4 col-md-push-8 col-sm-6 mb-md-50">
          <div class="contact-item mb-20 clearfix">
            <h4 class="uppercase">Kontakt Kaffeebar</h4>
            <div class="wave-spacer"></div>
            <div class="item">
              {{ partial "oeffnungszeiten_kaffeebar.html" . }}
            </div>
            <div class="item mt-20">
              <p>Telefon<span><a href="tel:+41313982020">031 398 20 20</a></span></p>
              <p>E-Mail<span><a href="mailto:kaffeebar@effinger.ch">kaffeebar@effinger.ch</a></span></p>
              <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstr. 10, Bern</a></span></p>
            </div>
            <div class="wave-spacer"></div>
            <div class="item mt-20">
              <p><strong>Reservationen</strong> für den selben Tag nehmen wir gerne per Telefon entgegen, alle anderen auch per Mail.</p>
            </div>
          </div>
          <div class="contact-private-party">
            <img src="partybutton.png" alt="Privatanlass">
            <span>
              Privat&shy;an&shy;lass auf An&shy;fra&shy;ge am Sams&shy;tag&shy;abend mö&shy;glich.
            </span>
          </div>
        </div>
        <div class="col-md-8 col-md-pull-4 col-sm-12">
          <div class="row">
            <div class="col-sm-6 mb-sm-100">
              <div class="team-item">
                <div class="team-item-image">
                  <img src="/images/effianer/salome-hostettler.jpg" alt="" />
                  <div class="team-item-detail">
                    <p class="font-alt normal">Kaffeebar</p>
                  </div>
                </div>
                <div class="team-item-descr font-alt">
                  <div class="team-item-name">
                    Salome Hostettler
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-sm-40">
              <div class="team-item">
                <div class="team-item-image">
                  <img src="/images/effianer/domenica-hitz.jpg" alt="" />
                  <div class="team-item-detail">
                    <p class="font-alt normal">Kaffeebar</p>
                  </div>
                </div>
                <div class="team-item-descr font-alt">
                  <div class="team-item-name">
                    Domenica Hitz
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section kaffeebar  -->

  <!-- Section coworking -->
  <section class="page-section bg-gray-lighter">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-80 mb-sm-40">Coworking Space</h1>

      {{ partial "effianer/get_host.html" . }}

      <div class="row">
        {{ if $.Scratch.Get "host" }}
        <div class="col-md-4 col-md-push-8 col-sm-6 mb-md-50">
        {{ else }}
        <div class="col-md-4 col-sm-6 mb-50">
        {{ end }}
          <div class="contact-item clearfix">
            <h4 class="uppercase">Kontakt Coworking</h4>
            <div class="wave-spacer"></div>
            <div class="item">
              {{ partial "oeffnungszeiten_coworking.html" . }}
            </div>
            <div class="item mt-20">
              <p>Telefon<span><a href="tel:+41313982021">031 398 20 21</a></span></p>
              <p>Email<span><a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a></span></p>
              <p>Adresse<span><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse 10, Bern</a></span></p>
            </div>
          </div>
        </div>

        {{ with $.Scratch.Get "host" }}
          <div class="col-md-8 col-md-pull-4 col-sm-12">
            <div class="row">

              <div class="col-sm-6 mb-100">
                <div class="team-item">
                  <div class="team-item-image">
                    <img src="{{ .image }}" alt="{{ .name }}" />
                    <div class="team-item-detail">
                      <p class="font-alt normal">Coworking</p>
                    </div>
                  </div>
                  <div class="team-item-descr font-alt">
                    <div class="team-item-name">
                      {{ .name }}
                    </div>
                    <div class="team-item-role">
                      <span class="active-day"><i class="fa fa-chevron-right"></i>Heute {{ if eq .gender "m" }}Gastgeber{{ else }}Gastgeberin{{ end }}<i class="fa fa-chevron-left"></i>
                       </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}

        </div>

        <div class="team-item">
          <a href="/community/#effianer" class="btn btn-mod btn-border btn-medium btn-round">&rarr; Alle Gastgeber anzeigen</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section coworking  -->

  <!-- Section Medien -->
  <section class="page-section">
    <div class="relative container">
      <h1 class="hs-line-11 font-alt mb-60"><a href="/medien/">Medien</a></h1>
      <div class="row">

        <div class="col-sm-4 col-md-3 mb-xs-40">
          <a href="/medien/">
            <span class="icon-newspaper" style="font-size: 150px;"></span>
          </a>
        </div>

        <div class="col-sm-8 col-md-7 col-lg-6">
          <p>Unter folgendem Link findest du Zeitungsartikel und andere Medienberichte über den Effinger. Dort gibt es
            ausserdem ein Medienkit mit hochaufgelöste Bilder von der Kaffeebar und vom Coworking Space.</p>
          <a href="/medien/" class="btn btn-mod btn-border btn-medium btn-round">&rarr; Medienberichte und Medienkit</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section medien  -->

  <!-- Contact Section -->
  <section class="page-section bg-dark-lighter pt-80 pb-80" id="contact">
    <div class="container relative">

      <!-- Address -->
      <div class="address">
        <div class="contact-item contact-oeffnungszeiten clearfix">
          <h4 class="uppercase">Adresse</h4>
          <div class="wave-spacer"></div>
          <div class="item">
            <p><a href="https://www.google.ch/maps/place/Effinger+-+Kaffeebar+%26+Coworking+Space/@46.94604,7.4336198,17z/data=!3m1!4b1!4m2!3m1!1s0x478e39bf613a53f7:0x30f7464656fbe3b2">Effingerstrasse 10<br> 3011 Bern</a></p>
          </div>
        </div>
      </div>
      <!-- End Address -->
    </div>
  </section>
  <!-- End Contact Section -->

</div>
<!-- End Page Wrap -->
{{ end }}
