<!DOCTYPE html>
<html lang="de">
  {{ partial "head.html" . }}

  <body class="">

    <!-- Page Wrap -->
    <div class="page" id="top">

      <nav class="main-nav transparent stick-fixed">
        {{ partial "navigation.html" . }}
      </nav>

      <!-- Header -->
      <section class="small-section bg-gray-lighter first-section-mt">
        <div class="relative container align-left">

          <div class="row">

            <div class="col-md-8">
              <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Kontakt</h1>
              <div class="hs-line-4 font-alt black">
                get in touch
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- End Header -->

      <!-- Section Kaffeebar -->
      <section class="page-section">
        <div class="relative container">
          <h1 class="hs-line-11 font-alt mb-80 mb-sm-40">Kaffeebar</h1>
          <div class="row">
            <div class="col-md-4 col-md-push-8 col-sm-6 mb-md-50">
              <div class="contact-item clearfix">
                <h4 class="uppercase">Kontakt Kaffeebar</h4>
                <div class="wave-spacer"></div>
                <div class="item">
                  <p>Telefon<span>031 398 20 20</span></p>
                  <p>E-Mail<span><a href="mailto:kaffeebar@effinger.ch">kaffeebar@effinger.ch</a></span></p>
                </div>
                <div class="item mt-20">
                  <p>Mo-Fr <span>7-23</span></p>
                  <p>Sa <span>8-23</span></p>
                  <p>So <span>Ruhetag</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-md-pull-4 col-sm-12">
              <div class="row">
                <div class="col-sm-6 mb-md-50">
                  <div class="team-item">
                    <div class="team-item-image">
                      <img src="/images/effianer/domenica-winkler.jpg" alt="" />
                      <div class="team-item-detail">
                        <p class="font-alt normal">Kaffeebar</p>
                      </div>
                    </div>
                    <div class="team-item-descr font-alt">
                      <div class="team-item-name">
                        Domenica Winkler
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="team-item">
                    <div class="team-item-image">
                      <img src="/images/effianer/salome-hostettler.jpg" alt="" />
                      <div class="team-item-detail">
                        <p class="font-alt normal">Kaffeebar</p>
                      </div>
                    </div>
                    <div class="team-item-descr font-alt">
                      <div class="team-item-name">
                        Salome Hostettler
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Section kaffeebar  -->

      <!-- Section coworking -->
      <section class="page-section bg-gray-lighter">
        <div class="relative container">
          <h1 class="hs-line-11 font-alt">Coworking Space</h1>

          {{ $today := index $.Site.Data.de.weekdays .Now.Weekday }}
          {{ $is_weekend := or (eq $today "Samstag") (eq $today "Sonntag") }}
          {{ $hosts := index $.Site.Data.hosts $today }}
          
          {{ if $is_weekend }}
          <div class="row">
            <div class="col-md-4 col-sm-6 mb-50">
          {{ else }}
          <p class="font-alt mb-80 mb-sm-40">Heute deine Gastgeber</p>
          <div class="row">
            <div class="col-md-4 col-md-push-8 col-sm-6 mb-md-50">
          {{ end }}
              <div class="contact-item clearfix">
                <h4 class="uppercase">Kontakt Coworking</h4>
                <div class="wave-spacer"></div>
                <div class="item">
                  <p>Telefon<span>031 398 20 21</span></p>
                  {{ if $is_weekend }}
                    <p>E-Mail<span><a href="mailto:urs@effinger.ch">urs@effinger.ch</a></span></p>
                  {{ else }}
                    {{ range where $hosts "contact" "!=" nil }}
                    {{ $contact := index $.Site.Data.effianer .ref }}
                    <p>E-Mail<span><a href="mailto:{{ $contact.email }}">{{ $contact.email }}</a></span></p>
                    {{ end }}
                  {{ end }}
                </div>
              </div>
            </div>
            <div class="col-md-8 col-md-pull-4 col-sm-12">
              <div class="row">
                {{ range $hosts }}
                {{ $host := index $.Site.Data.effianer .ref }}
                <div class="col-sm-6 mb-50">
                  <div class="team-item">
                    <div class="team-item-image">
                      <img src="{{ $host.image }}" alt="{{ $host.name }}" />
                      <div class="team-item-detail">
                        <p class="font-alt normal">Gastgeber</p>
                      </div>
                    </div>
                    <div class="team-item-descr font-alt">
                      <div class="team-item-name">
                        {{ $host.name }}
                      </div>
                    </div>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>
          </div>

          <div class=" team-item">
            <a href="/community/ueber/#team" class="btn btn-mod btn-border btn-medium btn-round">&rarr; Alle Gastgeberteams anzeigen</a>
          </div>
        </div>
      </section>
      <!-- End Section coworking  -->

      <!-- Contact Section -->
      <section class="page-section bg-dark-lighter pt-80 pb-80" id="contact">
        <div class="container relative">

          <!-- Address -->
          <div class="address">
            <div class="contact-item clearfix">
              <h4 class="uppercase">Adresse</h4>
              <div class="wave-spacer"></div>
              <div class="item">
                <p>Effingerstrasse 10 <br>3011 Bern</p>
              </div>
            </div>
          </div>
          <!-- End Address -->
        </div>
      </section>
      <!-- End Contact Section -->

      <!-- Google Map -->
      <div class="google-map">
        <div data-address="46.945842, 7.435864" id="map-canvas"></div>
      </div>
      <!-- End Google Map -->

      {{ partial "footer.html" . }}
    </div>
    <!-- End Page Wrap -->

    {{ partial "body_includes.html" . }}

  </body>

</html>
