<!DOCTYPE html>
<html lang="de">
{{ partial "head.html" . }}

<body class="">

  <!-- Page Wrap -->
  <div class="page" id="top">

    <nav class="main-nav transparent stick-fixed">
      {{ partial "navigation.html" . }}
    </nav>

    <!-- Header -->
    <section class="small-section bg-gray-lighter first-section-mt">
      <div class="relative container align-left">

        <div class="row">

          <div class="col-md-8">
            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Kontakt</h1>
            <div class="hs-line-4 font-alt black">
              get in touch
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Header -->

    <!-- Section Kaffeebar -->
    <section class="page-section">
      <div class="relative container">
        <h1 class="hs-line-11 font-alt mb-80 mb-sm-40">Kaffeebar</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/domenica.jpg" alt="" />

                <div class="team-item-detail">

                  <p class="font-alt normal">Kaffeebar</p>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Domenica Winkler
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">

              <div class="team-item-image">

                <img src="/images/effianer/salome.jpg" alt="" />

                <div class="team-item-detail">

                  <p class="font-alt normal">Kaffeebar</p>

                </div>
              </div>

              <div class="team-item-descr font-alt">

                <div class="team-item-name">
                  Salome Hostettler
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-4">
            <!-- Email -->
            <div class="contact-item">
              <div class="ci-icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="ci-title font-alt">
                Email
              </div>
              <div class="ci-text">
                <a href="mailto:kaffeebar@effinger.ch">kaffeebar@effinger.ch</a>
              </div>
            </div>
            <!-- Phone -->
            <!-- End Email -->
            <div class="contact-item mt-40">
              <div class="ci-icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="ci-title font-alt">
                Telefon
              </div>
              <div class="ci-text">
                031 398 20 20
              </div>
            </div>
            <!-- End Phone -->
          </div>
        </div>

      </div>
    </section>
    <!-- End Section kaffeebar  -->

    <!-- Section coworking -->
    <section class="page-section bg-gray-lighter">
      <div class="relative container">
        <h1 class="hs-line-11 font-alt">Coworking Space</h1>
        <p class="font-alt mb-80 mb-sm-40">Heute für dich da:</p>
        <div class="row">
          <div class="col-md-8 col-md-push-4">
            <div class="row">
              <div class="col-md-6">
                <div class="team-item">

                  <div class="team-item-image">

                    <img src="/images/effianer/matthias.jpg" alt="" />

                    <div class="team-item-detail">

                      <p class="font-alt normal">Gastgeber</p>

                    </div>
                  </div>

                  <div class="team-item-descr font-alt">

                    <div class="team-item-name">
                      Matthias Tobler
                    </div>

                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="team-item">

                  <div class="team-item-image">

                    <img src="/images/effianer/marco.jpg" alt="" />

                    <div class="team-item-detail">

                      <p class="font-alt normal">Gastgeber</p>

                    </div>
                  </div>

                  <div class="team-item-descr font-alt">

                    <div class="team-item-name">
                      Marco Jakob
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-pull-8">
            <!-- Email -->
            <div class="contact-item">
              <div class="ci-icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="ci-title font-alt">
                Email
              </div>
              <div class="ci-text">
                <a href="mailto:coworking@effinger.ch">coworking@effinger.ch</a>
              </div>
            </div>
            <!-- Phone -->
            <!-- End Email -->
            <div class="contact-item mt-40">
              <div class="ci-icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="ci-title font-alt">
                Telefon
              </div>
              <div class="ci-text">
                031 398 20 21
              </div>
            </div>
            <!-- End Phone -->
          </div>
        </div>

      </div>
    </section>
    <!-- End Section coworking  -->


    <!-- Contact Section -->
    <section class="page-section bg-dark-lighter pt-80 pb-80" id="contact">
      <div class="container relative">

          <!-- Address -->
          <div class="address">
            <div class="contact-item">
              <div class="ci-icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="ci-title font-alt">
                Adresse
              </div>
              <div class="ci-text">
                Effingerstrasse 10,
                <br>3011 Bern
              </div>
            </div>
          </div>
          <!-- End Address -->
      </div>
    </section>
    <!-- End Contact Section -->

    <!-- Google Map -->
    <div class="google-map">
      <div data-address="46.945842, 7.435864" id="map-canvas"></div>
    </div>
    <!-- End Google Map -->

    {{ partial "footer.html" . }}
  </div>
  <!-- End Page Wrap -->

  {{ partial "body_includes.html" . }}

</body>

</html>
